<nav class="navbar navbar-inverse navar-middle">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/home']"><span class="clrRed">Scaled</span><span>Skills</span></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a [routerLink]="['/home']">Home</a></li>
      <li><a href="javascript:void(0)">EVENTS</a></li>
      <li><a href="javascript:void(0)">ABOUT</a></li>
      <li><a href="javascript:void(0)">CONTAT</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a [routerLink]="['auth/register']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a [routerLink]="['auth/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a href="javascript:void(0)"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
      <li><a href="javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</nav>
<app-header-full></app-header-full>