<section class="meetevent-sec top-bot-pad">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-12">
        <div class="form-group">
          <p>5th Floor, Dwaraka Heights Plot No. 17, Jubilee Enclave Hitech City, Hyderabad - 500081 Telangana, India
          </p>
          <p>
            Email support@ScaledSkills.com
          </p>
        </div>
        <div>
          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe id="gmap_canvas"
                src="https://maps.google.com/maps?q=new%20delhi&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                scrolling="no" marginheight="0" marginwidth="0"></iframe>Google Maps Generator by <a
                href="https://www.embedgooglemap.net">embedgooglemap.net</a></div>
          </div>
        </div>

      </div>
      <div class="col-sm-6 col-sm-6">
        <h2>Contact Support ScaledSkills</h2>
        <div class="">
          <mat-form-field>
            <input matInput placeholder="Name">
          </mat-form-field>
        </div>

        <div class="">
          <mat-form-field>
            <input matInput placeholder="Email">
          </mat-form-field>
        </div>
        <div class="">
          <mat-form-field>
            <input matInput placeholder="Contact Number *">
          </mat-form-field>
        </div>
        <div class="">
          <mat-form-field>
            <input matInput placeholder="Message *">
          </mat-form-field>
        </div>
        <div class="clearfix text-right">
          <button type="button" class="btn btn-gradient">Let's Connect</button>
        </div>
      </div>
    </div>
  </div>
</section>