<div class="bg-gradient">
  <div class="container">
    <div class="form-group home-search">
      <div class="">
        <div class="div">
          <div class="row">
            <div class="col-sm-3"></div>
            <!-- <div class="col-sm-3">
              <label class="invisible">DISCRIBE SOMETHING NEW</label>
              <select name="" id="" class="form-control">
                <option>Search by locatoin</option>
              </select>
            </div> -->
            <div class="col-sm-6">
                <!-- <mat-form-field>
                    <mat-icon matPrefix>search</mat-icon>
                    <input matInput type="search" placeholder="Search Training" class="search-input">
                </mat-form-field> -->
              <!-- <label for="" class="clrWhite">DISCRIBE SOMETHING NEW</label> -->
              <input type="text" class="form-control" placeholder="Search Training">
            </div>
            <div class="col-sm-3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>