<footer class="footer">
  <div class="footer__main">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <section class="footer-section">
            <h3 class="footer-section__title ui-title-inner"><i class="ui-decor-2 bg-primary"></i> COMPANY</h3>
            <ul class="footer-list list-inline">
              <li class="footer__contact">
                <a [routerLink]="['/home/about']" class="footer-list__link">
                  <i class="fa fa-caret-right mr-3" aria-hidden="true"></i>
                  About Us
                </a>
              </li>
              <li class="footer__contact">
                <a [routerLink]="['/home/contact']" class="footer-list__link"><i class="fa fa-caret-right mr-3"
                    aria-hidden="true"></i>Contact Us</a>
              </li>
              <li class="footer__contact">
                <a [routerLink]="['/home/terms']" class="footer-list__link">
                  <i class="fa fa-caret-right mr-3" aria-hidden="true"></i>Tearms of Use</a></li>
              <li class="footer__contact"><a [routerLink]="['/home/privacy']" class="footer-list__link"><i
                    class="fa fa-caret-right mr-3" aria-hidden="true"></i>Privacy Policy</a></li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="copyright pull-left">© 2019<strong> ScaledSkills</strong> - Transforming Training. All Rights
            Reserved.</div>
          <ul class="social-net list-inline pull-right">
            <li class="social-net__item">
              <a href="https://www.youtube.com/channel/UCZqOaxce42UMYz2E6-coO0g" target="_blank"
                class="social-net__link text-primary_h"><i class="icon fa fa-youtube"></i>
              </a>
            </li>
            <li class="social-net__item"><a href="https://twitter.com/ScaledSkills" target="_blank"
                class="social-net__link text-primary_h"><i class="icon fa fa-twitter"></i></a></li>
            <li class="social-net__item">
              <a href="https://www.facebook.com/scaledskills" target="_blank" class="social-net__link text-primary_h">
                <i class="icon fa fa-facebook"></i>
              </a>
            </li>
            <li class="social-net__item">
              <a href="https://www.linkedin.com/company/scaledskills" target="_blank"
                class="social-net__link text-primary_h">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </li>
            <li class="social-net__item">
              <a href="https://www.meetup.com/Scaled-Skills-Transforming-Training/" target="_blank"
                class="social-net__link text-primary_h">
                <i class="fa fa-meetup" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
          <!-- end social-list-->
        </div>
      </div>
    </div>
  </div>

</footer>