<footer class="footer">
  <div class="container">
    <div class="text-center">
      <h3 class="section_title">
          Scaled Skills
      </h3>
      <ul class="footer-list list-inline">
        <li class="">
          <a [routerLink]="['/home/about']">
            <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
            About Us
          </a>
        </li>
        <li class="">
          <a [routerLink]="['/home/contact']">
            <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
            Contact Us
          </a>
        </li>
        <li class="">
          <a [routerLink]="['/home/terms']">
            <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
            Terms of Use
          </a>
        </li>
        <li class="">
          <a [routerLink]="['/home/privacy']">
            <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
            Privacy Policy
          </a>
        </li>
      </ul>
    </div>
    <div class="footer_bottom">
      <div class="row">
        <div class="col-sm-6">
          <div class="copyright">© 2019<strong> ScaledSkills</strong> - Transforming Training. All Rights
            Reserved.</div>
        </div>
        <div class="col-sm-6">
          <ul class="social-net list-inline">
            <li class="">
              <a href="https://www.youtube.com/channel/UCZqOaxce42UMYz2E6-coO0g" target="_blank" class=""><i
                  class="icon fa fa-youtube"></i>
              </a>
            </li>
            <li class=""><a href="https://twitter.com/ScaledSkills" target="_blank" class=""><i
                  class="icon fa fa-twitter"></i></a></li>
            <li class="">
              <a href="https://www.facebook.com/scaledskills" target="_blank" class="">
                <i class="icon fa fa-facebook"></i>
              </a>
            </li>
            <li class="">
              <a href="https://www.linkedin.com/company/scaledskills" target="_blank" class="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </li>
            <li class="">
              <a href="https://www.meetup.com/Scaled-Skills-Transforming-Training/" target="_blank" class="">
                <i class="fa fa-meetup" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>