<form [formGroup]="orgBankDetailForm" autocomplete="off" novalidate>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field>
          <input matInput placeholder="Account Holder Name" formControlName="name" [errorStateMatcher]="matcher">
          <mat-error *ngIf="formControl.name.hasError('required')">
            Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <input matInput placeholder="Account Number" formControlName="acNumber" [errorStateMatcher]="matcher">
          <mat-error *ngIf="formControl.acNumber.hasError('required')">
            Required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field>
          <input matInput placeholder="Bank Name" formControlName="bankName" [errorStateMatcher]="matcher">
          <mat-error *ngIf="formControl.bankName.hasError('required')">
            Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <input matInput placeholder="Branch" formControlName="branchName" [errorStateMatcher]="matcher">
          <mat-error *ngIf="formControl.branchName.hasError('required')">
            Required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-6">
        <mat-form-field>
          <input matInput placeholder="IFSC" formControlName="ifsc" [errorStateMatcher]="matcher">
          <mat-error *ngIf="formControl.ifsc.hasError('required')">
            Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <input matInput placeholder="GST Number" formControlName="gstNumber">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <mat-label>Get Exemption Document</mat-label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <mat-label>Upload Pancard</mat-label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <mat-label>Upload Adharcard</mat-label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <mat-label>Upload Cancellation Cheque</mat-label>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-12">
        <mat-label class="mar-r-15">Account Type</mat-label>
        <mat-radio-group formControlName="accountType">
          <mat-radio-button value="1">Current</mat-radio-button>
          <mat-radio-button value="2">Savings</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-right">
        <button type="submit" mat-raised-button color="primary" (click)="handleSubmit()">Save</button>
        <button mat-raised-button color="warn">Cancel</button>
      </div>
    </div>
  </div>

</form>