<div class="error-wrap-alt">
  <img src="../../../assets/images/maintenance.png" alt="">
  <br>
  <h1>We are updating our plateform with new features. We will be back shortly...</h1>
</div>
<!-- <form [formGroup]="orgBankDetailForm" autocomplete="off" novalidate>
  <div class="clearfix">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Account Holder Name <span class="required">*</span></label>
          <input type="text" pInputText placeholder="Account Holder Name" formControlName="name" />
          <p class="msgError text-danger"
            *ngIf="formControl.name.hasError('required') && (formControl.name.dirty || submitted)">Required
            Field.</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Account Number <span class="required">*</span></label>
          <input type="text" pInputText placeholder="Account Number" formControlName="accountNumber" />
          <p class="msgError text-danger"
            *ngIf="formControl.accountNumber.hasError('required') && (formControl.accountNumber.dirty || submitted)">
            Required
            Field.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Bank Name <span class="required">*</span></label>
          <input type="text" pInputText placeholder="Bank Name" formControlName="bankName" />
          <p class="msgError text-danger"
            *ngIf="formControl.bankName.hasError('required') && (formControl.bankName.dirty || submitted)">
            Required Field.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Branch <span class="required">*</span></label>
          <input type="text" pInputText placeholder="Branch" formControlName="branchName" />
          <p class="msgError text-danger"
            *ngIf="formControl.branchName.hasError('required') && (formControl.branchName.dirty || submitted)">
            Required Field.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">IFSC <span class="required">*</span></label>
          <input type="text" pInputText placeholder="IFSC" formControlName="ifscCode" />
          <p class="msgError text-danger"
            *ngIf="formControl.ifscCode.hasError('required') && (formControl.ifscCode.dirty || submitted)">
            Required Field.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">GST Number <span class="required">*</span></label>
          <input type="text" pInputText placeholder="GST Number" formControlName="gstNum" />
          <p class="msgError text-danger"
            *ngIf="formControl.gstNum.hasError('required') && (formControl.gstNum.dirty || submitted)">
            Required Field.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Get Exemption Document</label>
          <p-fileUpload name="file" multiple="false" accept="image/*" maxFileSize="1000000" customUpload="true"
            (uploadHandler)="myUploader($event, 'exemptionDocId')">
          </p-fileUpload>
          <p class="msgError text-danger" *ngIf="formControl.exemptionDocId.value=='' && submitted">
            Required Field.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Upload Pancard</label>
          <p-fileUpload name="file" multiple="false" accept="image/*" maxFileSize="1000000" customUpload="true"
            (uploadHandler)="myUploader($event, 'panCardDocId')">
          </p-fileUpload>
          <p class="msgError text-danger" *ngIf="formControl.panCardDocId.value=='' && submitted">
            Required Field.
          </p>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Upload Adharcard</label>
          <p-fileUpload name="file" multiple="false" accept="image/*" maxFileSize="1000000" customUpload="true"
            (uploadHandler)="myUploader($event, 'adharCardDocId')">
          </p-fileUpload>
          <p class="msgError text-danger" *ngIf="formControl.adharCardDocId.value=='' && submitted">
            Required Field.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Upload Cancellation</label>
          <p-fileUpload name="file" multiple="false" accept="image/*" maxFileSize="1000000" customUpload="true"
            (uploadHandler)="myUploader($event, 'cancellationDocId')">
          </p-fileUpload>
          <p class="msgError text-danger" *ngIf="formControl.cancellationDocId.value=='' && submitted">
            Required Field.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Account Type <span class="required">*</span></label>
          <div>
            <p-radioButton name="accountType" value="1" label="Current" formControlName="accountType" inputId="opt1">
            </p-radioButton>
            <p-radioButton name="accountType" value="2" label="Savings" formControlName="accountType" inputId="opt2">
            </p-radioButton>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="text-danger">Bank details need to be verified</label>
    </div>
    <div class="form-group button-group text-right">
      <button pButton type="button" label="Submit" class="ui-button-raised" (click)="handleSubmit()"></button>
      <button pButton type="button" label="Cancel" class="ui-button-raised ui-button-danger"></button>
    </div>
  </div>
</form> -->