<div class="container">
  <h2 class="text-center">Organization</h2>
  <div class="row row-same-height profile-wrap">
    <div class="col-same-height col-sm-3">
      <div class="mat-accordion-plain content">
        <ul class="accordion-like-nav">
          <li>
            <a routerLinkActive="active" [routerLink]="['profile']">Profile</a>
            <ul class="accordion-nav">
              <li>
                <a routerLinkActive="active" [routerLink]="['profile/basic']">Basic</a>
              </li>
              <li>
                <a routerLinkActive="active" [routerLink]="['profile/about']">About</a>
              </li>
              <li>
                <a routerLinkActive="active" [routerLink]="['profile/social']">Social</a>
              </li>
            </ul>
          </li>
          <li>
            <a routerLinkActive="active" [routerLink]="['bank']">Bank Details</a>
          </li>
          <li>
            <button type="button" mat-button color="primary" [routerLink]="['/account/dashboard']">
              <i class="glyphicon glyphicon-chevron-left"></i> Back</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-same-height col-sm-9 content-section">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>