<div class="container" *ngIf="entity && !isLoading">
  <div class="">
    <div class="header_detail">
      <div class="userThumbWrap">
        <div class="thumb trainer">
          <img src="{{imageBaseUrl}}{{entity['image']}}" onError="this.src='../../../../assets/images/user.png';"
            alt="image" class="img-responsive">
        </div>
        <div class="text-desc">
          <h3>{{entity.user && entity.user.firstName?entity.user.firstName:'N/A'}}
            {{entity.user && entity.user.lastName?entity.user.lastName:'N/A'}}
            &nbsp;
            <button type="button" class="btn btn-gradient bookBtn">
              {{avgRating}}&nbsp;<i class="fa fa-star"></i>&nbsp;|&nbsp;&nbsp;{{totalReview}} Reviews
            </button></h3>
          <div><strong>Email:</strong> {{entity.user && entity.user.email?entity.user.email:'N/A'}}</div>
          <div><strong>Website:</strong>
            <span *ngIf="entity.social.length>0">
              <a class="cursor-pointer" (click)="openUrl(entity.social[0].websiteUrls)">
                {{entity.social[0].websiteUrls?entity.social[0].websiteUrls:'N/A'}}
              </a>
            </span>
          </div>
          <div>
            <strong>Connect with me:</strong>
            <div class="trainingActions inline-block ml15">
              <div class="flex feed-row">
                <div class="item round"
                  [ngClass]="(entity.social.length>0 && entity.social[0].linkedInUrls)?'cursor-pointer':'disabled'">
                  <i class="fa fa-linkedin" aria-hidden="true" (click)="openUrl(entity.social[0].linkedInUrls)"></i>
                </div>
                <div class="item round"
                  [ngClass]="(entity.social.length>0 && entity.social[0].facebookUrls)?'cursor-pointer':'disabled'">
                  <i class="fa fa-facebook-square" aria-hidden="true"
                    (click)="openUrl(entity.social[0].facebookUrls)"></i>
                </div>
                <div class="item round"
                  [ngClass]="(entity.social.length>0 && entity.social[0].twitterUrls)?'cursor-pointer':'disabled'">
                  <i class="fa fa-twitter" aria-hidden="true" (click)="openUrl(entity.social[0].twitterUrls)"></i>
                </div>
                <!-- <div class="item cursor-pointer round">
                            <a [href]="https://www.google.com/" appExternalUrl><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                          </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="trainingActions">
        <div class="inline-block">
          <div class="flex feed-row">
            <div class="item">
              <p-splitButton label="Share" styleClass="ui-button-success" icon="pi pi-share-alt" [model]="shareOptions">
              </p-splitButton>
            </div>
            <div class="item cursor-pointer text-primary" (click)="hendleFollowMe()"
              [ngClass]="entity['isFollow']?'no-cursor':''">
              <i class="fa fa-rss" aria-hidden="true"></i>&nbsp;{{entity['isFollow']?'Following':'Follow'}}
            </div>
            <div class="item cursor-pointer clrPurple" (click)="showSendMesage()">
              <i class="fa fa-envelope clrPurple" aria-hidden="true"></i>&nbsp;Send Message</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="border-line top bottom invisible"></div>
<div class="training-page-content">
  <div class="sticky-footer-tab">
    <div class="container">
      <ul class="tab-menu">
        <li>
          <a href="javascript:void(0)" class="active">
            About
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            Courses Offered
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            Certification
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            Upcoming Trainings
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            Past Trainings
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            Reviews
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="tab-content">
    <div class="container">
      <div class="iframeWrap" *ngIf="iframe_html">
        <div [innerHtml]="iframe_html"></div>
      </div>
      <div>
        <h3>About</h3>
        <p [innerHTML]="entity && entity.about && entity.about.aboutText?entity.about.aboutText:'N/A'"></p>
      </div>
      <div class="border-line top bottom"></div>
      <div>
        <h3>Courses Offered</h3>
        <p
          [innerHTML]="entity && entity.about && entity.about.coursesOfferedText?entity.about.coursesOfferedText:'N/A'">
        </p>
      </div>
      <div class="border-line top bottom"></div>
      <div>
        <h3>Certifications</h3>
        <ul class="list-li" *ngIf="entity && entity.certificate && entity.certificate.length>0">
          <li *ngFor="let item of entity.certificate">
            <strong>{{item.name}}</strong> – {{item.authority}} {{item.from | date : 'MM/dd/yyyy'}} to
            {{!item.to?'No Expiration Date':item.to | date : 'MM/dd/yyyy'}}
            {{item.isExpired?'Expired':''}}
          </li>
        </ul>
        <ul class="list-li" *ngIf="entity && entity.certificate && entity.certificate.length==0">
          <li>No records to display.</li>
        </ul>
      </div>
      <div class="border-line top bottom"></div>
      <div class="form-group">
        <p-carousel headerText="Upcoming Trainings ({{upcommingTrainings.length}})" [value]="upcommingTrainings"
          numVisible="4" circular="true" autoplayInterval="5000"
          *ngIf="upcommingTrainings && upcommingTrainings.length>0">
          <ng-template let-item pTemplate="item">
            <div class="ui-grid ui-grid-responsive">
              <app-training-card [item]="item"></app-training-card>
            </div>
          </ng-template>
        </p-carousel>
        <p-carousel headerText="Upcoming Trainings  ({{upcommingTrainings.length}})" [value]="noRecord" numVisible="1"
          *ngIf="upcommingTrainings && upcommingTrainings.length==0">
          <ng-template let-item pTemplate="item">
            <div class="ui-grid ui-grid-responsive">
              <p-card>
                {{item.msg}}
              </p-card>
            </div>
          </ng-template>
        </p-carousel>
      </div>
      <div class="border-line top bottom"></div>
      <!-- past training -->
      <div class="form-group">
        <p-carousel headerText="Past Trainings ({{pastTrainings.length}})" [value]="pastTrainings" numVisible="4"
          circular="true" autoplayInterval="5000" *ngIf="pastTrainings.length>0">
          <ng-template let-item pTemplate="item">
            <div class="ui-grid ui-grid-responsive">
              <app-training-card [item]="item"></app-training-card>
            </div>
          </ng-template>
        </p-carousel>
        <p-carousel headerText="Past Trainings  ({{pastTrainings.length}})" [value]="noRecord" numVisible="1"
          *ngIf="pastTrainings.length==0">
          <ng-template let-item pTemplate="item">
            <div class="ui-grid ui-grid-responsive">
              <p-card>
                {{item.msg}}
              </p-card>
            </div>
          </ng-template>
        </p-carousel>
      </div>
      <div class="border-line top"></div>
      <div class="form-group">
        <p-carousel headerText="Members ({{memberList.length}})" [value]="memberList" numVisible="4" circular="true"
          autoplayInterval="5000" *ngIf="memberList.length>0">
          <ng-template let-item pTemplate="item">
            <div class="ui-grid ui-grid-responsive">
              <p-card styleClass="ui-card-shadow cursor-pointer" (click)="viewProfile('p', item.profileUrl)">
                <div class="userThumb text-center cursor-pointer">
                  <img src="{{imageBaseUrl}}{{item['user'] && item['user']['image']}}" onError="this.src='../../../../assets/images/banner/home/placeholder.png';"
                    alt="user profile">
                  <h3>{{item.user && item.user.firstName}} {{item.user && item.user.lastName}}</h3>
                </div>
              </p-card>
            </div>
          </ng-template>
        </p-carousel>
        <p-carousel headerText="Members ({{memberList.length}})" [value]="noRecord" numVisible="1"
          *ngIf="memberList.length==0">
          <ng-template let-item pTemplate="item">
            <div class="ui-grid ui-grid-responsive">
              <p-card>
                {{item.msg}}
              </p-card>
            </div>
          </ng-template>
        </p-carousel>
      </div>
      <div class="form-group">
        <div class="border-line top bottom"></div>
        <div class="rewiew-wrap">
          <div class="form-group">
            <p-carousel headerText="Reviews  ({{reviewList.length}})" [value]="reviewList" numVisible="4"
              *ngIf="reviewList.length>0">
              <ng-template let-item pTemplate="item">
                <p-card class="training-reviews">
                  <div>
                    <span class="fa fa-star clrBlue"
                      *ngFor="let dummy of ' '.repeat(item.rateOfSatisfied).split(''), let x = index"></span>
                    <span class="fa fa-star"
                      *ngFor="let dummy of ' '.repeat(5-item.rateOfSatisfied).split(''), let x = index"></span>
                  </div>
                  <div class="text-desc">
                    <p>{{item.likeAbout?item.likeAbout:''}}</p>
                  </div>
                  <h3 class="review-by">{{item.firstName}} {{item.lastName}}</h3>
                </p-card>
              </ng-template>
            </p-carousel>
            <p-carousel headerText="Reviews  ({{reviewList.length}})" [value]="noRecord" numVisible="1"
              *ngIf="reviewList.length==0">
              <ng-template let-item pTemplate="item">
                <div class="ui-grid ui-grid-responsive">
                  <p-card>
                    {{item.msg}}
                  </p-card>
                </div>
              </ng-template>
            </p-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-error *ngIf="entity==null && isError"></app-error>
