<div *ngFor="let f of files">
  <div class="image-container">
    <img src="../../../assets/images/banner/home/{{f.name}}" alt="" class="img-responsive">
  </div>
  <span>{{f.name}}</span>
  <button type="button" mat-icon-button color="warn" [attr.title]="deleteButtonLabel?deleteButtonLabel:null"
    (click)="removeFile(event,f)">
    <mat-icon>{{deleteButtonIcon}}</mat-icon>
  </button>
</div>
<button type="button" class="btn btn-primary clrWhite" (click)="onClick($event)">
  <mat-icon>add</mat-icon>
  {{chooseLabel}}
</button>

<input #fileUpload type="file" class="input_fileupload--hidden" (input)="onInput($event)"
  (change)="onFileSelected($event)" [(ngModel)]="inputFileName" [accept]="accept">