<div class="container">
  <h2 class="text-center">Profile</h2>
  <div class="row row-same-height profile-wrap">
    <div class="col-same-height col-sm-3">
      <div class="mat-accordion-plain content">
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                General
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="accordion-nav">
              <li *ngFor="let item of tabArray, let index =index">
                <a routerLinkActive="active" [routerLink]="[item.label]">{{item.name}}</a>
              </li>
            </ul>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                General
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let item of tabArray, let index =index">
              <a routerLinkActive="active" [routerLink]="[item.label]">{{item.name}}</a>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div class="col-same-height col-sm-9 content-section">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>