<div class="form-group">
  <p-checkbox [(ngModel)]="isPaidPromotions" binary="true" label="I need ScaledSkills team for paid promotions.">
  </p-checkbox>
</div>
<div class="form-group">
  <p-checkbox [(ngModel)]="isAggree" binary="true"
    label="I accept to pay additional charges for all ScaledSkills Efforts, ScaledSkills Partners and Affiliate Marketing Efforts, if any.">
  </p-checkbox>
</div>
<div class="form-group">
  <hr>
</div>
<div class="form-group">
  <p>
    By clicking Go Live, you agree to our Terms & Conditions and Company Policies and confirm that you have read our
    Data, Payment Policy, including our Cookie Use Policy.
  </p>
  <p>
    In case of Training Cancellation, a non-refundable fee of 5% will be charged by ScaledSkills from the Organizer(s)
    and return back the amount to customers within a week.
  </p>
  <p>
    Payment Release / Transfer for the collected ticket amount towards your listed training will be done only after the
    completion of the training within 5-10 working days.
  </p>
</div>

<div class="form-group button-group text-right">
  <button type="button" class="btn btn-default" (click)="handleSave()">Save</button>
  <button type="button" class="btn btn-default" (click)="handlePreview()">Preview</button>
  <button type="button" class="btn btn-success" (click)="handleLive()">Go live</button>

</div>
