<div class="form-group">
  <p-checkbox [(ngModel)]="isPromotion" binary="true" label="I need ScaledSkills team for paid promotions.">
  </p-checkbox>
</div>
<div class="form-group">
  <p-checkbox [(ngModel)]="isAccept" binary="true"
    label="* I accept to pay additional charges for all ScaledSkills Efforts, ScaledSkills Partners and Affiliate Marketing Efforts, if any.">
  </p-checkbox>
</div>
<div class="form-group">
  <hr>
</div>
<div class="form-group">
  <p>
    By clicking Go Live, you agree to our <a [routerLink]="['/home/terms']">Terms & Conditions</a> and confirm that you
    have read our
    Privacy Policy.
  </p>
  <p>
    In case of Training Cancellation, a non-refundable fee of 5% will be charged by ScaledSkills from the Organizer(s)
    and return back the amount to customers within a week.
  </p>
  <p>
    Payment Release / Transfer for the collected ticket amount towards your listed training will be done only after the
    completion of the training within 5-10 working days.
  </p>
</div>
<div class="form-group button-group text-right">
  <span class="btn-action">
    <button type="button" class="btn btn-default" (click)="viewProfile()">Preview</button>
  </span>
  <span class="btn-action" [ngClass]="{disabled: !this.isAccept}">
    <button type="button" class="btn btn-success" (click)="handleSave(1)">Go Live</button>
  </span>
  <div>
    <p class="msgError text-danger" *ngIf="!this.isAccept && submitted">
      Required Field.
    </p>
  </div>
</div>