<form [formGroup]="trainingBasicForm" autocomplete="off" novalidate>
  <div class="clearfix">
    <div class="form-group">
      <input type="text" pInputText placeholder="Training Name *" formControlName="name">
      <p class="msgError text-danger"
        *ngIf="formControl.name.hasError('required') && (formControl.name.dirty || submitted)">
        Required
        Field.</p>
    </div>
    <div class="form-group">
      <div class="flex vMiddle urlBox">
        <div class="fixed-input">{{baseUrl}}</div>
        <input type="text" pInputText placeholder="Enter Url" value="{{(formControl.name.value).split(' ').join('_')}}"
          readonly>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <label>Training for</label>
          <p-dropdown [options]="trainingForList" placeholder="Select" optionLabel="name" [showClear]="true">
          </p-dropdown>
        </div>
        <div class="col-sm-6">
          <label>Search</label>
          <p-dropdown [options]="cities" placeholder="Select" optionLabel="name" [showClear]="true"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Description *</label>
      <p-editor formControlName="description" [style]="{'height':'200px'}"></p-editor>
      <p class="msgError text-danger"
        *ngIf="formControl.description.hasError('required') && (formControl.description.dirty || submitted)">
        Required
        Field.</p>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Start Date *</label>
          <p-calendar formControlName="startDate"></p-calendar>
          <p class="msgError text-danger"
            *ngIf="formControl.startDate.hasError('required') && (formControl.startDate.dirty || submitted)">
            Required Field.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>End Date *</label>
          <p-calendar formControlName="endDate"></p-calendar>
          <p class="msgError text-danger"
            *ngIf="formControl.endDate.hasError('required') && (formControl.endDate.dirty || submitted)">
            Required Field.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label>Time Zone</label>
        <input type="text" pInputText placeholder="Time Zone" formControlName="timeZone">
      </div>
    </div>
    <div class="form-group button-group text-right">
      <button pButton type="button" label="Submit" class="ui-button-raised" (click)="handleSubmit()"></button>
      <button pButton type="button" label="Cancel" class="ui-button-raised ui-button-danger"></button>
    </div>
  </div>
</form>