{{trainingData|json}}
<form [formGroup]="trainingBasicForm" autocomplete="off" novalidate>
  <div class="clearfix">
    <div class="form-group">
      <label>Training Name <span class="required">*</span></label>
      <input type="text" pInputText placeholder="Enter Here" formControlName="name" (change)="upateUrl()">
      <p class="msgError text-danger"
        *ngIf="formControl.name.hasError('required') && (formControl.name.dirty || submitted)">
        Required
        Field.</p>
    </div>
    <div class="form-group">
      <label>Training Url <span class="required">*</span></label>
      <div class="flex vMiddle urlBox">
        <div class="fixed-input">{{formControl.baseUrl.value}}</div>
        <input type="text" formControlName="url" pInputText placeholder="Enter Here"
          [ngClass]="urlConfig.isUrl?'disabled':''" (keyup)="updateUrl()">
        <p class="msgError text-danger" *ngIf="formControl.url.invalid && (formControl.url.dirty || submitted)">
          <small *ngIf="formControl.url.hasError('required')">
            Required Field.
          </small>
        </p>
        <div class="text-right msgError">
          <p class="inline-block" *ngIf="!urlConfig.isUrl && formControl['url'].value && urlConfig.urlSubmitted"
            [ngClass]="urlConfig.isUrlValid?'text-success':'text-danger'">
            <strong>{{urlConfig.vrlValidationMsg}} &nbsp; &nbsp;</strong></p>
          <a href="javascript:void(0)" (click)="validateUrl()"
            *ngIf="formControl['url'].value && !urlConfig.isUrl && !urlConfig.isUrlValid">Validate Url</a>
          <a href="javascript:void(0)" (click)="viewProfile()" *ngIf="urlConfig.isUrl">Training Detail</a>
        </div>
      </div>
    </div>
    <div class="clearfix">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Training For</label>
            <angular2-multiselect class="form-control" [data]="trainingForList" [(ngModel)]="trainingForValue"
              [settings]="settings" formControlName="hostedByObj" (onSelect)="onChangeHostedBy($event, hostedBy)"
              (onDeSelect)="OnDeSelect($event)">
            </angular2-multiselect>
            <p class="msgError text-danger"
              *ngIf="formControl.hostedBy.hasError('required') && (formControl.hostedBy.dirty || submitted)">Required
              Field.</p>
          </div>
        </div>
        <div class="col-sm-6" *ngIf="formControl.hostedBy.value==2">
          <div class="form-group">
            <label>Search</label>
            <!-- <angular2-multiselect class="form-control" [data]="organizationListMaster" [(ngModel)]="organizationListValue"
            [settings]="settings" formControlName="organizationListObj" (onSelect)="onChangeHostedBy($event, hostedBy)">
          </angular2-multiselect> -->
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Description <span class="required">*</span></label>
      <p-editor formControlName="description" [style]="{'height':'200px'}"></p-editor>
      <p class="msgError text-danger"
        *ngIf="formControl.description.hasError('required') && (formControl.description.dirty || submitted)">
        Required Field.</p>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Start Date <span class="required">*</span></label>
          <p-calendar name="startDate" [formControl]="startDate" [monthNavigator]="true" [showTime]="true"
            [yearNavigator]="true" yearRange="1900:3000" [utc]="true" dateFormat="dd/mm/yy" [maxDate]="endDate.value"
            placeholder="DD/MM/YYYY">
          </p-calendar>
          <p class="msgError text-danger" *ngIf="!startDate.value && submitted">
            Required Field.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>End Date <span class="required">*</span></label>
          <p-calendar name="endDate" [formControl]="endDate" [monthNavigator]="true" [showTime]="true"
            [yearNavigator]="true" yearRange="1900:3000" [utc]="true" dateFormat="dd/mm/yy" [minDate]="startDate.value"
            placeholder="DD/MM/YYYY">
          </p-calendar>
          <p class="msgError text-danger" *ngIf="!endDate.value && submitted">
            Required Field.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Time Zone</label>
          <angular2-multiselect class="form-control" [data]="zoneList" [(ngModel)]="selectedZone" [settings]="settings"
            formControlName="timeZoneObj" (onSelect)="OnZoneSelect($event)" (onDeSelect)="OnZoneDeSelect($event)">
          </angular2-multiselect>
          <p class="msgError text-danger"
            *ngIf="formControl.timeZone.hasError('required') && (formControl.timeZone.dirty || submitted)">
            Required Field.</p>
        </div>
      </div>
    </div>
    <div class="form-group button-group text-right">
      <button pButton type="button" label="Cancel" class="ui-button-raised ui-button-danger"
        (click)="handleCancel()"></button>
      <button pButton type="button" label="Save" class="ui-button-raised" (click)="handleSubmit()"></button>
    </div>
  </div>
</form>
