<form [formGroup]="profileForm" autocomplete="off" novalidate>
  <div class="clearfix">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">First Name *</label>
          <input type="text" pInputText placeholder="First Name" formControlName="firstName" class="disabled" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Last Name *</label>
          <input pInputText placeholder="Last Name" formControlName="lastName" class="disabled">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Email *</label>
          <input pInputText placeholder="Email" formControlName="email">
          <p class="msgError text-danger" *ngIf="formControl.email.invalid && (formControl.email.dirty || submitted)">
            <small *ngIf="formControl.email.hasError('email') &&
                  !formControl.email.hasError('required')">
              Please enter a valid email address
            </small>
            <small *ngIf="formControl.email.hasError('required')">
              Required Field.
            </small>
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Mobile Number *</label>
          <input pInputText placeholder="Mobile Number" formControlName="phoneNumber" digitOnly>
          <p class="msgError text-danger"
            *ngIf="formControl.phoneNumber.invalid && (formControl.phoneNumber.dirty || submitted)">
            <small *ngIf="formControl.phoneNumber.hasError('maxlength')">
                Max 10 numbers.
            </small>
            <small *ngIf="formControl.phoneNumber.hasError('minlength')">
                Atleast 10 numbers.
            </small>
            <small *ngIf="formControl.phoneNumber.hasError('required')">
              Required Field.
            </small>
          </p>
        </div>
      </div>
    </div>
    <div class="form-group button-group text-right">
      <button pButton type="button" label="Cancel" class="ui-button-raised ui-button-danger"
        (click)="handleCancel()"></button>
      <button pButton type="button" label="Submit" class="ui-button-raised" (click)="handleSubmit()"></button>
    </div>
  </div>
</form>