<form [formGroup]="profileForm" autocomplete="off" novalidate>
  <div class="clearfix">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">First Name <span class="required">*</span></label>
          <input type="text" pInputText placeholder="Enter Here" formControlName="firstName" class="disabled" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Last Name <span class="required">*</span></label>
          <input pInputText placeholder="Enter Here" formControlName="lastName" class="disabled">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Email <span class="required">*</span></label>
          <input pInputText placeholder="Enter Here" formControlName="email">
          <p class="msgError text-danger" *ngIf="formControl.email.invalid && (formControl.email.dirty || submitted)">
            <small *ngIf="formControl.email.hasError('email') &&
                  !formControl.email.hasError('required')">
              Please enter a valid email address
            </small>
            <small *ngIf="formControl.email.hasError('required')">
              Required Field.
            </small>
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Mobile Number <span class="required">*</span></label>
          <input pInputText placeholder="Enter Here" formControlName="phoneNumber" maxlength="10" digitOnly>
          <p class="msgError text-danger"
            *ngIf="formControl.phoneNumber.invalid && (formControl.phoneNumber.dirty || submitted)">
            <small *ngIf="formControl.phoneNumber.hasError('maxlength')">
              Max 10 numbers.
            </small>
            <small *ngIf="formControl.phoneNumber.hasError('minlength')">
              Atleast 9 numbers.
            </small>
            <small *ngIf="formControl.phoneNumber.hasError('required')">
              Required Field.
            </small>
          </p>
        </div>
      </div>
    </div>
    <div class="clearfix">
      <div class="form-group">
        <label>Trainer Url <span class="required">*</span></label>
        <div class="flex vMiddle urlBox">
          <div class="fixed-input">{{baseUrl}}</div>
          <input type="text" formControlName="profileUrl" pInputText placeholder="Enter Here" (keyup)="updateUrl()"
            (blur)="validateUrl()">
        </div>
        <p class="msgError text-danger"
          *ngIf="formControl.profileUrl.invalid && (formControl.profileUrl.dirty || submitted)">
          <small *ngIf="formControl.profileUrl.hasError('required')">
            Required Field.
          </small>
        </p>
        <div class="text-right msgError">
          <p class="inline-block" *ngIf="!urlConfig.isUrl && formControl['profileUrl'].value && urlConfig.urlSubmitted"
            [ngClass]="urlConfig.isUrlValid?'text-success':'text-danger'">
            <strong>{{urlConfig.vrlValidationMsg}} &nbsp; &nbsp;</strong></p>
          <a href="javascript:void(0)" (click)="validateUrl()"
            *ngIf="formControl['profileUrl'].value && !urlConfig.isUrl && !urlConfig.isUrlValid">Validate Url</a>
          <a href="javascript:void(0)" (click)="viewProfile()" *ngIf="urlConfig.isUrl">View Detail</a>
        </div>
      </div>
    </div>
    <div class="form-group button-group text-right">
      <button pButton type="button" label="Cancel" class="ui-button-raised ui-button-danger"
        (click)="handleCancel()"></button>
      <button pButton type="button" label="Save" class="ui-button-raised" (click)="handleSubmit()"></button>
    </div>
  </div>
</form>
