<form [formGroup]="profileForm" autocomplete="off" novalidate>
  <div class="clearfix">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">First Name <span class="text-required">*</span></label>
          <input type="text" pInputText placeholder="Enter Here" formControlName="firstName" class="disabled"
            (change)="upateUrl()" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Last Name <span class="text-required">*</span></label>
          <input pInputText placeholder="Enter Here" formControlName="lastName" class="disabled">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Email <span class="text-required">*</span></label>
          <input pInputText placeholder="Enter Here" formControlName="email">
          <p class="msgError text-danger" *ngIf="formControl.email.invalid && (formControl.email.dirty || submitted)">
            <small *ngIf="formControl.email.hasError('email') &&
                  !formControl.email.hasError('required')">
              Please enter a valid email address
            </small>
            <small *ngIf="formControl.email.hasError('required')">
              Required Field.
            </small>
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Mobile Number <span class="text-required">*</span></label>
          <input pInputText placeholder="Enter Here" formControlName="phoneNumber" digitOnly>
          <p class="msgError text-danger"
            *ngIf="formControl.phoneNumber.invalid && (formControl.phoneNumber.dirty || submitted)">
            <small *ngIf="formControl.phoneNumber.hasError('maxlength')">
              Max 10 numbers.
            </small>
            <small *ngIf="formControl.phoneNumber.hasError('minlength')">
              Atleast 10 numbers.
            </small>
            <small *ngIf="formControl.phoneNumber.hasError('required')">
              Required Field.
            </small>
          </p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Trainer Url <span class="text-required">*</span></label>
      <div class="flex vMiddle urlBox" [ngClass]="{disabled: !formControl.firstName.value}">
        <div class="fixed-input">{{formControl.baseUrl.value}}</div>
        <input type="text" formControlName="profileUrl" pInputText placeholder="Enter Here" class="disabled">
        <i class="pi pi-copy cursor-pointer" [ngClass]="isCopied?'pi-check':'pi-copy'" style="font-size: 2em"
          (click)="copyText()"></i>
      </div>
      <p class="msgError text-success" *ngIf="isCopied">Url Copied to clipboard.</p>
    </div>
    <div class="form-group button-group text-right">
      <button pButton type="button" label="Cancel" class="ui-button-raised ui-button-danger"
        (click)="handleCancel()"></button>
      <button pButton type="button" label="Save" class="ui-button-raised" (click)="handleSubmit()"></button>
    </div>
  </div>
</form>