<p-carousel headerText="{{headerText}}  ({{dataList.length}})" [value]="dataList" numVisible="visible"
  *ngIf="dataList.length>0">
  <ng-template let-item pTemplate="item">
    <p-card class="training-reviews">
      <div class="userThumbWrap">
        <div class="thumb">
          <img src="../../../assets/images/placeholder-image.jpg" alt="" class="img-responsive">
        </div>
        <div class="text-desc">
          <h3>himanshu pandey</h3>
          <p>attended Web Development Programme</p>
          <p>posted on 24 Oct, 2018</p>
        </div>
      </div>
      <div class="description">
        "Teachers and trainers are very professional and co-operative. They teach us about how to move ahead
        in
        your
        life and do your best. I had improved my communication skills, confidence level and technical skills.
        I
        recommend. "
      </div>
    </p-card>
  </ng-template>
</p-carousel>
<p-carousel headerText="{{headerText}}  ({{dataList.length}})" [value]="noRecord" numVisible="1"
  *ngIf="dataList.length==0">
  <ng-template let-item pTemplate="item">
    <div class="ui-grid ui-grid-responsive">
      <p-card>
        {{item.msg}}
      </p-card>
    </div>
  </ng-template>
</p-carousel>
