<section class="meetevent-sec top-bot-pad">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <h2>Terms of service</h2>
          <h4 class="subheading">Basic Definitions</h4>
          <div class="static-content">
            <p>This Terms of Use Agreement ("Agreement") sets forth the legally binding terms for your use of the
              ScaledSkills Services. You are only authorized to use the ScaledSkills Services (regardless of whether
              your
              access or use is intended) if you agree to abide by all applicable laws and to this Agreement. Please read
              this Agreement carefully before using this website. By using the ScaledSkills Services, you agree to be
              bound by this Agreement, whether you are a "Visitor" (which means that you simply browse the ScaledSkills
              site) or you are a "Member" (which means that you have registered with ScaledSkills). The term "User"
              refers
              to a Visitor or a Member. Kindly print these terms of use or save a copy of these terms of service for
              your records. If you do not agree with any of these terms, you cannot avail of any of the ScaledSkills
              Services and you should leave the ScaledSkills site immediately. If you wish to become a Member,
              communicate
              with other Members and make use of the ScaledSkills Services, you must read this Agreement and indicate
              your
              acceptance during the Registration process.</p>
            <p>
              The term 'authorized user' would include any person, whether an individual or a legal entity who has
              subscribed to the services of ScaledSkills, and to whom the access is restricted by the use of a sign in
              user name and a password. The user name and password are either allotted by ScaledSkills or chosen by the
              user or agreed upon by ScaledSkills. Therefore only the authorized user has the right to access the
              services
              offered by ScaledSkills. ScaledSkills will not be responsible for any costs, consequences or damages
              caused to
              any persons or entities due to any unauthorized use of the services offered by ScaledSkills, including
              access of the said services by an unauthorized user using the user name and password of an authorized
              user, regardless of whether such unauthorized user is known to the authorized user.
            </p>
            <p>
              The terms 'service' or 'services' would mean to include the interactive online solutions & information
              services offered by ScaledSkills on the internet/mobile through which the user may access information
              carried by ScaledSkills in the database maintained by it.
            </p>
            <p>
              You agree not to copy, sell, resell, duplicate any part of ScaledSkills's services & solutions for
              commercial purposes.
            </p>
            <p>
              These Terms of Service sets out the legally binding terms of your use of ScaledSkills and your membership
              in
              ScaledSkills and may be modified by ScaledSkills at any time and without prior notice, such modifications
              to
              be effective upon posting by ScaledSkills on the website. In the event of any inconsistency between our
              Privacy Policy and these Terms of Service, the Terms of Service shall prevail. If you do not agree to be
              bound by the terms of this Agreement, you may not use nor access our services.
            </p>
          </div>
        </div>
        <div class="form-group">
          <h4 class="subheading">Eligibility</h4>
          <div class="static-content">
            <p>ScaledSkills services are available to all individuals who are at least 18 years of age. By registering
              to
              use ScaledSkills services, you represent and warrant that you are at least 18 years of age. ScaledSkills
              has
              the right, in its sole discretion, to suspend or terminate your use of ScaledSkills services and refuse
              any
              and all current or future use of all or any portion of ScaledSkills's services.</p>
          </div>
        </div>
        <div class="form-group">
          <h4 class="subheading">Service</h4>
          <div class="static-content">
            <p>
              ScaledSkills provides self-managed event organizing solutions to event organizers. Event organizers setup
              their event, fill up the details about their event such as event pricing, location, ticket inventory,
              attendee registration information collection and other such features. As used herein, "Customers" means
              ScaledSkills event organizers ("Event Organizer "), registered event attendees ("Attendee ") and
              participants in our various affiliate programs.
            </p>
          </div>
        </div>

        <div class="form-group">
          <h4 class="subheading">Event Organizer Terms</h4>
          <div class="static-content">
            <p>
              ScaledSkills offers organizers a web-based solution to organize events and meetings, to sell tickets or
              provide online Attendee Registration solutions via the ScaledSkills-Websites for events of the organizer
              to
              customers by using ScaledSkills to take on the payment process. In detail ScaledSkills provides the
              following
              services to the organizer (each an "ScaledSkills-Service"):
            </p>
            <p>
              A web-based software on the ScaledSkills-websites to organize events and to sell tickets of the organizer
              for these events to ticket buyers. The organizer has the possibility to create an own website for their
              event ("eventsite") and to offer a ticket sale. The ticket buyer can choose and buy the tickets on the
              eventsite directly.
            </p>
            <p>
              Only the user and the organizer of an event are entering into an agreement regarding the event and the
              disposal of tickets for that event. ScaledSkills only acts as a sales agent for the organizer of an event
              by
              order and for account of this organizer. It is the organizers' duty to advise and instruct the ticket
              buyers of their eventually existing right of objection according to the legal guidelines.
            </p>
            <p>
              The organizer authorises ScaledSkills hereby for the duration of this agreement to act as an agent by
              order
              and for account of the organizer, to sell tickets to the public for events, offered by the organizer on
              the ScaledSkills-Websites, to undertake the payment process with the ticket buyers and/or their banks and
              to
              ship the tickets to the ticket buyers. By providing ScaledSkills with such authorization, organizer also
              agrees to the Stripe Connected Account Agreement. This authorization also contains the right of
              ScaledSkills
              to send payment reminders to the ticket buyers.
            </p>
          </div>
        </div>
        <div class="form-group">
          <h4 class="subheading">Payment and Fees</h4>
          <div class="static-content">
            <p>
              ScaledSkills products & services are available on the basis of transaction model, as per the requirements
              of
              customers.
            </p>
            <p>
              ScaledSkills will be responsible only for the taxes applicable on ScaledSkills Fees (including TS fee, PG
              fee
              and fixed ticket charge). Organizer will bear the full responsibility of the taxes applicable on ticket
              price and ScaledSkills can not be held accountable for any inaccurate information provided by organizer
              for
              such taxes.
            </p>
          </div>
        </div>
        <div class="form-group">
          <h4 class="subheading">Transaction model</h4>
          <div class="static-content">
            <p>
              In this model, pricing is applied on each ticket sale/attendee registration.
            </p>
            <p>
              The organizer has to determine the base price for his tickets. This base price belongs to the organizer as
              far as nothing different is stated in these terms. The organizer can choose whether the additional fees
              payable to ScaledSkills (fees for accounting, shipment etc.) are charged on top of this base price or not.
            </p>
            <p>
              ScaledSkills charges a fee for every ticket sold via the ScaledSkills-Websites (A convenience-fee) as
              stated
              in the price list published on the ScaledSkills-Websites.
            </p>
            <p>
              In addition to that ScaledSkills charges a fee for accounting tickets according to clause 4 as well as for
              using the ScaledSkills-Websites by the organizer (A ticketing-fee) as stated in the price list published
              on
              the ScaledSkills-Websites. The rate of the fee depends by the payment method chosen by the organizer. The
              ticketing-fee is charged even if the tickets shall be deposited and paid on the venue.
            </p>
            <p>
              In the event that tickets for an event have been sold via the ScaledSkills-Websites, and the event is
              cancelled for any reason not directly attributable to ScaledSkills, then ScaledSkills shall continue to be
              entitled to the convenience fees and ticketing fees.
            </p>
          </div>
        </div>
        <div class="form-group">
          <h4 class="subheading">Change of an event</h4>
          <div class="static-content">
            <p>
              If an event for which tickets are sold or already have been sold via ScaledSkills shall be cancelled or
              changed (regarding date, time, venue or other important points) the organizer has to inform ScaledSkills
              immediately in writing once these circumstances have come to his attention.
            </p>
          </div>
        </div>
        <div class="form-group">
          <h4 class="subheading">Accounting</h4>
          <div class="static-content">
            <p>
              The organizer has options of various payment method(s) (credit card, direct debiting, prepayment, invoice)
              to be offered to possible ticket buyers. In accordance to this choice ScaledSkills undertakes accounting
              for
              the organizer and holds the money on a separate bank account. The organizer authorises ScaledSkills to do
              so. ScaledSkills transfers the money received according to service pricing minus the fees payable to
              ScaledSkills within 5 to 7 days to the organizer. The money has to be transferred to a bank account
              located
              in the country where the event took place and issued on the name of the organizer. For recurring events,
              ScaledSkills reserves the right to pay out money before the event. ScaledSkills reserves the right to
              change
              the number of days to transfer money to the event organizer at any time without notice. The organizer is
              aware of the risk that specific payment methods (direct debiting or credit card) can be reversed by the
              ticket buyers. The organizer bears this risk alone. If transactions are reversed after the payment to the
              organizer, these costs plus a fee for the reversed transaction as stated in the price list published on
              the ScaledSkills-Websites are charged to the organizer.
            </p>
            <p>
              The organizer is obliged to raise objections, if any, against the accounts of ScaledSkills within four
              weeks
              after issue of the account. If not the account is considered as being approved.
            </p>
          </div>
        </div>
        <div class="form-group">
          <h4 class="subheading">Prevention against fraud / misusage</h4>
          <div class="static-content">
            <p>
              The ScaledSkills-Websites offer an extensive security system, in particular to protect organizers against
              reimbursement of credit card payments. Because of this security system it is possible that in exceptional
              cases some credit card providers may not be accepted.
            </p>
            <p>
              If the organizer arouses suspicion of misusage of the ScaledSkills-Websites, ScaledSkills has the right to
              deactivate the ticket shop of the organizer and to stop the ticket selling. In particular a suspicion of
              misusage of the ScaledSkills-Websites is on hand, if it comes to attention before the event that the event
              shall not (or not in the way as stated in the ticket shop) take place; or
              illegal or immoral events shall take place; or
            </p>
            <p>
              If the organizer arouses suspicion of misusage of the ScaledSkills-Websites, ScaledSkills has the right to
              delay the payout to the organizer even after 5 to 7 days for further 60 days. Within these 60 days
              ScaledSkills will check if an improper use of the ScaledSkills-Websites and / or ScaledSkills-Services
              occurred.
            </p>
          </div>
        </div>
        <div class="form-group">
          <h4 class="subheading">Warranty of the organizer</h4>
          <div class="static-content">
            <p>
              The organizer warrants to ScaledSkills, that (i) there is no agreement between the organizer and a venue,
              or
              the owner or user of a venue, or a third party, which affects the organizer's use of the
              ScaledSkills-Services in accordance with these terms, (ii) the organizer is allowed to enter into this
              agreement with ScaledSkills, including the right to authorize ScaledSkills in accordance to these terms to
              act
              as an agent and to sell tickets for events of the organizer.
            </p>
          </div>
        </div>
        <div class="form-group">
          <h4 class="subheading">Duties of the organizer</h4>
          <div class="static-content">
            <p>
              The organizer has the duty to inform ScaledSkills immediately about unavailability or malfunctions of the
              ScaledSkills-Websites.
            </p>
            <p>
              The organizer has the obligation to inform ScaledSkills immediately about every change of his name,
              company
              name, address, legal form or bank details in written form or via E-Mail. The organizer shall not use the
              ScaledSkills-Services for illegal or immoral events such as political or religious extremism,
              pornographic,
              or violent events.
            </p>
            <p>
              The organizer shall not use the ScaledSkills-Services to upload, post, email, transmit or otherwise make
              available any Information that is unlawful, harmful, threatening, abusive, harassing, tortuous,
              defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically or
              otherwise objectionable; The organizer and/or organizer's event will not contain and/or promote any
              sexually explicit or sexually suggestive content, including pornographic material, "adult friend finders"
              or dating sites with a sexual emphasis, "adult" toys or sexually explicit videos; The organizer and/or
              organizer's event will not contain and/or promote any way of provision or selling of drugs or prohibitive
              substances; The organizer shall not use the ScaledSkills-Services to harm minors in any way; The organizer
              shall not impersonate any person or entity, including, but not limited to, an ScaledSkills representative,
              forum leader, or falsely state or otherwise misrepresent its affiliation with a person or entity; The
              organizer shall not forge headers or otherwise manipulate identifiers in order to disguise the origin of
              any Information transmitted through the Service;
            </p>
          </div>
        </div>
        <div class="form-group">
          <h4 class="subheading">Duration</h4>
          <div class="static-content">
            <p>
              Furthermore ScaledSkills has the exclusive right to cancel this agreement regarding the provision of
              ScaledSkills-Services in case of an important reason. In particular such an important reasons shall exist,
              if the organizer has contravened against important provisions of these terms; or the organizer has filed
              for bankruptcy, insolvency proceedings have been started or the start of the insolvency proceedings has
              been dismissed in default of assets; or circumstances occur that the organizer can not fulfill his
              contractual obligations against ScaledSkills or third parties in default of assets, and in addition the
              organizer gives no proof of sufficient assets within 30 days after request by ScaledSkills to do so.
            </p>
          </div>
        </div>
        <div class="form-group">
          <h4 class="subheading">Cancellation</h4>
          <div class="static-content">
            <p>
              If you desire to cancel your services, please email info@ScaledSkills.com 30 days before expiry of the
              service. There is no cancellation fee. Once your account is cancelled, your Content may not be recovered.
              There will be no refund if you cancel the Service before the end of your current, paid-up month or year,
              and you will not be charged or billed thereafter.
            </p>
          </div>
        </div>
        <div class="form-group">
          <h4 class="subheading">Ticket Buyer Terms</h4>
          <div class="static-content">
            <p>
              The price payable for the tickets is as set out on our web site.
            </p>
            <p>
              Tickets will normally be available for collection at a designated location prior to the event, in which
              case you must collect the tickets from the address at the time advised, and provide proof of ID. Under
              some circumstances events may decide to distribute tickets via post or other methods, in which case only
              the card billing address supplied will be used for dispatch.
            </p>
            <p>
              Tickets may not be dispatched immediately where we are acting as an agent on behalf of a promoter and that
              promoter gives alternative instructions about the dispatch of tickets. However, you will be given
              notification of dispatch once you have ordered your tickets.
            </p>
            <p>
              Once you have received your tickets, you should check them and you must inform us of any errors within two
              working days, or before the event, whichever is sooner. The event organizer, the venue where the event is
              organized reserve the right to refuse admission to you; request latecomers to await admission to the event
              until a convenient break in the event; refuse re-admission to those leaving during the event; and request
              that you leave the event; make alterations to the advertised details of the event (including Principals)
              and make alterations to the script or the content of any particular event at any time up to and including
              and during the event.
            </p>
            <p>
              If, at any time during the event it is cancelled, postponed, suspended or delayed for any reason,
              ScaledSkills will not make any refunds nor will they be liable for any loss caused by such cancellation,
              postponement, suspension or delay.
            </p>
            <P>
              It is your responsibility to ascertain whether an event has been cancelled and the date and time of any
              rearranged event. If an event is cancelled or rescheduled, we will use reasonable endeavours to notify
              ticket holders of the cancellation once we have received the relevant authorisation from the Event
              Organiser. We do not guarantee that ticket holders will be informed of such cancellation before the date
              of the event.
            </P>
            <p>
              Tickets are issued subject to the Rules and Regulations of the venue or Event Organiser. Full details are
              available from the Event Organisers. Breach of any of these Rules and Regulations or any unacceptable
              behaviour likely to cause damage, nuisance or injury shall entitle the venue or Event Organiser to eject
              you from the venue. The Event Organisers may on occasions have to conduct security searches to ensure the
              safety of the patrons. We will not be responsible for any tickets that are lost or stolen.
            </p>
            <p>
              The venue, Event Organiser and ScaledSkills accept no responsibility for loss of any personal property.
            </p>
            <p>
              Tickets may be restricted to a maximum number per person, per credit card and, for some events, a
              restriction may apply per household. We reserve the right to cancel tickets without prior notice purchased
              in excess of this number.
            </p>
          </div>
        </div>
        <div class="form-group">
          <h4 class="subheading">General Terms</h4>
          <div class="static-content">
            <p>
              Advertising Material ScaledSkills would not be held liable for any inappropriateness of the advertisement
              contents due to the dynamic nature of web, invisible/hidden contents, error, omission or inaccuracy in
              printed or digital form. ScaledSkills reserves the right to remove and/or reposition the advertising
              material.
            </p>
          </div>
        </div>
        <div class="form-group">
          <h4 class="subheading">Safe Harbor</h4>
          <div class="static-content">
            <p>
              Any statements contained within the Site concerning ScaledSkills's future prospects are forward-looking
              statements which involve a number of risks, uncertainties and other factors that could cause actual
              results to differ materially from those that may be projected by these forward looking statements. There
              can be no assurance that future results will be achieved and actual results could differ materially from
              forecasts, estimates and summary information contained in the site.
            </p>
          </div>
        </div>
        <div class="form-group">
          <h4 class="subheading">Intellectual Property Rights</h4>
          <div class="static-content">
            <p>
              You agree that ScaledSkills owns all rights to the code, databases, visual-design and layout of the
              Service.
            </p>
            <p>
              ScaledSkills claims no intellectual property rights over the material you provide to the Service. Your
              profile and materials uploaded remain yours.
            </p>
            <p>
              You may not use any robot, spider, other automated device, or manual process to monitor or copy any
              Content from the Service.
            </p>
            <P>
              You may not resell, duplicate or reproduce or exploit any part of the Service without the written consent
              permission of ScaledSkills.
            </P>
            <P>
              You may not duplicate, copy, or reuse any portion of the visual design or layout of the Service without
              the prior written permission of ScaledSkills.
            </P>
          </div>
        </div>
        <div class="form-group">
          <h4 class="subheading">Disclaimer of Warranties</h4>
          <div class="static-content">
            <p>
              You understand and agree that the ScaledSkills services are provided on an "AS IS" and "AS AVAILABLE"
              basis
              and that the ScaledSkills does not assume any responsibility for prompt or proper delivery of services.
              ScaledSkills does not warrant that its websites will operate error-free or free of computer viruses or
              mal-functioning or harmful mechanisms. All the contents of website are only for general information or
              use. Such information does not constitute advice and should not be relied upon in making or derived
              decisions. Any specific advice or replies to queries in any part of the website are the personal opinion
              of users and are not subscribed to by ScaledSkills. This website assumes no responsibility for the
              accuracy
              or existence of any communications between users. ScaledSkills expressly disclaims all warranties of any
              kind, whether express or implied, including, but not limited to the implied warranties of merchantability,
              fitness for a particular purpose and non-infringement.
            </p>
            <p>
              ScaledSkills makes no warranty that the services will meet your requirements, service will be
              uninterrupted,
              timely, secure or error-free. Certain links on website lead to resources located on servers maintained by
              third parties over whom ScaledSkills has no control or connection, business or otherwise as these sites
              are
              external to this website you agree and understand that by visiting such sites you are beyond this website.
              ScaledSkills therefore neither endorses nor offers any judgment or warranty and accepts no responsibility
              or
              liability for the authenticity/availability of any of the goods/services/or for any damage, loss or harm,
              direct or consequential or any violation of local or international laws that may be incurred by your visit
              and/or transaction/s on these sites.
            </p>
            <p>
              Any material downloaded or otherwise obtained through the use of this website is done at your discretion
              and risk that you will be solely responsible for any damage to your computer system or loss of data that
              results from the download of any such material.
            </p>
          </div>
        </div>
        <div class="form-group">
          <h4 class="subheading">Limitation of Liability</h4>
          <div class="static-content">
            <p>
              You agree that ScaledSkills shall, in no event, be liable for any consequential, incidental, indirect,
              special, punitive or other loss or damage whatsoever or for the loss of business profits, business
              interruptions, computer failure, loss of business information, or other loss arising out of or caused by
              your use of or inability to use this website, even if ScaledSkills has been advised of the possibility of
              such damage. The Venue, event organizers, events services 'marketplace' information provided on
              ScaledSkills
              are added by members. ScaledSkills doesn't verify, claim or guarantee authenticity of such information.
              ScaledSkills or Signure is not liable for the acts, errors, omissions, representations, warranties,
              breaches
              or negligence of any such suppliers or for any personal injuries, death, property damage, or other damages
              or expenses resulting there from. ScaledSkills have no liability and will make no refund in the event of
              any
              delay, cancellation, overbooking, strike, force majeure or other causes beyond their direct control, and
              they have no responsibility for any additional expense, omissions, delays, re-routing or acts of any
              government or authority. ScaledSkills makes no representations or warranties as to the completeness or
              accuracy of Information contained on the website. The service provided is of such a nature that service
              can be interrupted for many reasons other than the negligence of the company and that damages resulting
              from any interruption of service are difficult to ascertain. Therefore, you agree that ScaledSkills shall
              not be liable for any damages arising from such causes beyond the direct and exclusive control of the
              ScaledSkills. You further acknowledge that ScaledSkills's liability for its own negligence may not in any
              event exceed an amount equivalent to charges payable by you for services during the period damages
              occurred. In no event shall the ScaledSkills be liable for any special or consequential damages, loss or
              injury.
            </p>
          </div>
        </div>
        <div class="form-group">
          <h4 class="subheading">Indemnity</h4>
          <div class="static-content">
            <p>
              You agree to indemnify and hold ScaledSkills, its parent ("Signure"), its subsidiaries and affiliates, and
              each of their directors, officers, agents, contractors, partners and employees, harmless from and against
              any loss, liability, claim, demand, damages, costs and expenses, including reasonable attorney's fees,
              arising out of or in connection with any User Content, any Third Party Applications, Software or Content
              you post or share on or through the website (including through the Share Service), your use of this
              website, your conduct in connection with this website or with other users of the website , or any
              violation of this Agreement or of any law or the rights of any third party.
            </p>
          </div>
        </div>
        <div class="form-group">
          <h4 class="subheading">Termination</h4>
          <div class="static-content">
            <p>
              You agree that ScaledSkills may terminate your Member Account and access to the site for reasons
              including,
              but not be limited to, breaches or violations of the Terms or the ScaledSkills Privacy Policy, a request
              by
              you to terminate your Account, discontinuance or material modification to the Services, unexpected
              technical issues or problems, extended periods of inactivity and requests by law enforcement or other
              government agencies. Termination of your ScaledSkills Account includes elimination of access to the
              Service,
              deletion of your Account information such as your e-mail ID and Password and deletion of data in your
              Member Account as permitted or required by law.
            </p>
          </div>
        </div>
        <div class="form-group">
          <h4 class="subheading">Applicable Laws</h4>
          <div class="static-content">
            <p>
              All matters relating to your access to and use of the ScaledSkills site shall be governed by the laws of
              the
              Republic of India. You hereby irrevocably consent to the exclusive jurisdiction and venue of courts in
              Pune, India in all disputes arising out of or relating to the use of ScaledSkills. Use of ScaledSkills is
              unauthorized in any jurisdiction that does not give effect to all provisions of these terms and
              conditions, including without limitation this paragraph.
            </p>
          </div>
        </div>
        <div class="form-group">
          <h4 class="subheading">Notice & Take Down Policy</h4>
          <div class="static-content">
            <p>
              AS AN INTERMEDIARY, DYULOK IS NOT LIABLE FOR ANY THIRD-PARTY CONTENT UPLOADED, TRANSMITTED, DISPLAYED,
              PUBLISHED OR SHARED ON ITS PLATFORM. BY USING ScaledSkills.COM, YOU AGREE TO THE CONDITIONS SET OUT IN
              THIS
              NOTICE AND TAKE DOWN POLICY
            </p>
            <p>
              1.COPYRIGHT INFRINGEMENT NOTIFICATION
            </p>
            <p>
              If the owner of a copyright-protected work or an agent authorized to act on the copyright owner’s behalf
              (the “Owner”) believes the work posted on ScaledSkills.com (“the Site”) is infringing the Owner’s
              copyright
              under the relevant law, the Owner may submit a copyright infringement notification.
            </p>
            <p>
              2.COPYRIGHT INFRINGEMENT NOTIFICATION PROCEDURE
            </p>
            <p>
              Dyulok recommends Owners of copyright-protected content to report alleged copyright infringement by
              submitting a written complaint (the “Complaint”) either through a web-form (recommended) or through email
              on info@ScaledSkills.com The Complaint should include the following:-
            </p>
            <ul class="list-li">
              <li>
                Contact Information: The Owner will need to provide information that will allow Dyulok and the
                uploader(s) of the video(s) that the Owner’s objects to, to contact the Owner regarding the Complaint,
                such as an email address, physical address or telephone number
              </li>
              <li>
                Description of Work: The Owner’s must provide in the complaint, a complete and accurate description of
                the copyrighted content that the Owner is seeking to protect. This MUST also include the specific URL of
                the video that the Owner believes to be infringing. This is necessary in order to aid Dyulok to locate
                the allegedly infringing video. General information about the video, such as a channel URL or username
                alone is not adequate. The URL should be in the following
                format:https://www.ScaledSkills.com/_____________/
              </li>
              <li>
                Necessary Format: The Complaint should include the following statements – “I have a good faith belief
                that the use of the material in the manner complained of is not authorized by the copyright owner, its
                agent, or the law.” AND “The information in this notification is accurate, and I am the owner, or an
                agent authorized to act on behalf of the owner, of an exclusive right that is allegedly infringed.”
              </li>
              <li>
                Signature: The Complaint must include the physical or electronic signature/digital signature of the
                Owner. To satisfy this requirement, the Owner may type their full legal name (a first and last name, not
                a company name) as the signature at the bottom of the complaint
              </li>
            </ul>
            <p>
              3.TAKE-DOWN OF COPYRIGHT INFRINGING WORK
            </p>
            <p>
              In case of a Complaint by the Owner that is submitted in accordance with the procedure in Clause 2, and
              found to be valid, Dyulok may refrain from facilitating access to the allegedly infringing work for a
              period of 21 (twenty one) days or until an order from a competent court is received, whichever is earlier.
              In case Dyulok receives no such order before the expiry of twenty-one days, Dyulok may reinstate access to
              the said work.
            </p>
            <p>
              4.NOTIFICATION OF OBJECTIONABLE CONTENT AND TAKE DOWN BY DYULOK
            </p>
            <p>
              Users may submit a complaint against objectionable content by submitting a written complaint (the
              “Complaint”) either through a web-form (recommended) or through email on info@ScaledSkills.com The
              Complaint should include the following:
            </p>
            <ul class="list-li">
              <li>
                Contact Information: The Complainant will need to provide information that will allow Dyulok to contact
                the Complainant regarding the Complaint, such as an email address, physical address or telephone number.
              </li>
              <li>
                Description of Work: The Complainant must provide in the complaint, a description of the objectionable
                content that the Complainant is seeking to protest. This MUST also include the specific URL of the video
                that the Complainant believes to be objectionable. This is necessary in order to aid Dyulok to locate
                the allegedly objectionable video. General information about the video, such as a channel URL or
                username alone shall not be adequate. The URL should be in the following format:
                http://www.ScaledSkills.com/_____________/
              </li>
              <li>
                Necessary Format: The Complaint should include the following statements – “I have a good faith belief
                that the use of the material in the manner complained of violates any law, or the conditions in Clause 4
                of Dyulok’s Notice and Take Down Policy” AND “The information in this notification is accurate to my
                knowledge”
              </li>
            </ul>
            <p>
              If Dyulok determines, in its sole discretion and judgment, that the User Content violates any of the
              aforementioned conditions, it shall be entitled to immediately take down or otherwise block access to User
              Content
            </p>
            <p>
              5.DYULOK IMMUNITY FROM LIABILITY
            </p>
            <p>
              Dyulok is an intermediary and shall not be liable for any act of copyright infringement or any other
              objectionable User Content, as provided under the Copyright Act, 1957, Information Technology Act, 2000
              and Rules thereunder.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>