<div class="section-progress hidden" class="progressBarWrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-3" *ngFor="let item of [1,2,3,4,5,6,7,8,9], let i =index">
          <p class="progress-label">Featured Events 89%</p>
          <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="89" aria-valuemin="0"
              aria-valuemax="100" style="width:89%">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>