<form [formGroup]="form">
  <div class="form-group">
    <label>Please click Yes if you want the below options to show on live training page:</label>
  </div>
  <div class="row form-group">
    <div class="col-sm-4">
      <div class="flex disabled">
        <p-inputSwitch class="mr-10" formControlName="isPublicCustomQuestion"></p-inputSwitch>
        <label class="mr-15">Custom Questions</label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="flex">
        <p-inputSwitch class="mr-10" formControlName="isPublicRemainingTicket"></p-inputSwitch>
        <label class="mr-15">Remaining Tickets</label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="flex disabled">
        <p-inputSwitch class="mr-10" formControlName="isPublicSetReminder"></p-inputSwitch>
        <label class="mr-15">Set Reminder</label>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-4">
      <div class="flex disabled">
        <p-inputSwitch class="mr-10" formControlName="isPublicAffiliatePromoterLink"></p-inputSwitch>
        <label class="mr-15">Affiliate Promoter Link</label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="flex">
        <p-inputSwitch class="mr-10" formControlName="isPublicTrainingId"></p-inputSwitch>
        <label class="mr-15">Training Id</label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="flex disabled">
        <p-inputSwitch class="mr-10" formControlName="isPublicPageViews"></p-inputSwitch>
        <label class="mr-15">Page Views</label>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-4">
      <div class="flex">
        <p-inputSwitch class="mr-10" formControlName="isPublicInterestedUser"></p-inputSwitch>
        <label class="mr-15">Interested Users</label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="flex">
        <p-inputSwitch class="mr-10" formControlName="isPublicRegisteredUser"></p-inputSwitch>
        <label class="mr-15">Registered Users</label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="flex disabled">
        <p-inputSwitch class="mr-10" formControlName="isPublicAddToCalendar"></p-inputSwitch>
        <label class="mr-15">Add to Calendar</label>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-4">
      <div class="flex disabled">
        <p-inputSwitch class="mr-10" formControlName="isPublicXSpotsLeft"></p-inputSwitch>
        <label class="mr-15">x spots left</label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="flex disabled">
        <p-inputSwitch class="mr-10" formControlName="isPublicComments"></p-inputSwitch>
        <label class="mr-15">Comments</label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="flex">
        <label class="mr-15">Feedback</label>
        <p-inputSwitch class="mr-10" formControlName="isPublicFeedback"></p-inputSwitch>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-4">
      <div class="flex disabled">
        <p-inputSwitch class="mr-10" formControlName="isPublicAboutOrganizer"></p-inputSwitch>
        <label class="mr-15">About Organizer</label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="flex">
        <p-inputSwitch class="mr-10" formControlName="isPublicMoreEventsFromSameOrganizer"></p-inputSwitch>
        <label class="mr-15">More Trainings From Same Trainer/Organizer</label>
      </div>
    </div>
  </div>
  <div class="form-group clearfix button-group text-right">
    <button pButton type="button" label="Cancel" class="ui-button-raised ui-button-danger"
      (click)="handleCancel()"></button>
    <button pButton type="button" label="Save" class="ui-button-raised" (click)="handleSubmit()"></button>
  </div>
</form>