<form [formGroup]="trainingSettingForm">
  <div>
    <mat-label>Please click Yes if you want the below options to show on live training page:</mat-label>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="">
        <div class="row">
          <div class="col-sm-8">
            <mat-label class="mr-15">Custom Questions</mat-label>
          </div>
          <div class="col-sm-4">
            <mat-radio-group formControlName="customQuestions">
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="">
        <div class="row">
          <div class="col-sm-8">
            <mat-label class="mr-15">Remaining Tickets</mat-label>
          </div>
          <div class="col-sm-4">
            <mat-radio-group formControlName="remainingTickets">
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="">
        <div class="row">
          <div class="col-sm-8">
            <mat-label class="mr-15">Set Reminder</mat-label>
          </div>
          <div class="col-sm-4">
            <mat-radio-group formControlName="setReminder">
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="">
        <div class="row">
          <div class="col-sm-8">
            <mat-label class="mr-15">Affiliate Promoter Link</mat-label>
          </div>
          <div class="col-sm-4">
            <mat-radio-group formControlName="affiliatePromoterLink">
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="">
        <div class="row">
          <div class="col-sm-8">
            <mat-label class="mr-15">Training Id</mat-label>
          </div>
          <div class="col-sm-4">
            <mat-radio-group formControlName="trainingId">
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="">
        <div class="row">
          <div class="col-sm-8">
            <mat-label class="mr-15">pageViews</mat-label>
          </div>
          <div class="col-sm-4">
            <mat-radio-group formControlName="pageViews">
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="">
        <div class="row">
          <div class="col-sm-8">
            <mat-label class="mr-15">Interested Users</mat-label>
          </div>
          <div class="col-sm-4">
            <mat-radio-group formControlName="interestedUsers">
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="">
        <div class="row">
          <div class="col-sm-8">
            <mat-label class="mr-15">Registered Users</mat-label>
          </div>
          <div class="col-sm-4">
            <mat-radio-group formControlName="registeredUsers">
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="">
        <div class="row">
          <div class="col-sm-8">
            <mat-label class="mr-15">Add to Calendar</mat-label>
          </div>
          <div class="col-sm-4">
            <mat-radio-group formControlName="addToCalendar">
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="">
        <div class="row">
          <div class="col-sm-8">
            <mat-label class="mr-15">x spots left</mat-label>
          </div>
          <div class="col-sm-4">
            <mat-radio-group formControlName="xSpotsLeft">
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="">
        <div class="row">
          <div class="col-sm-8">
            <mat-label class="mr-15">Comments</mat-label>
          </div>
          <div class="col-sm-4">
            <mat-radio-group formControlName="comments">
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="">
        <div class="row">
          <div class="col-sm-8">
            <mat-label class="mr-15">Feedback</mat-label>
          </div>
          <div class="col-sm-4">
            <mat-radio-group formControlName="feedback">
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="">
        <div class="row">
          <div class="col-sm-8">
            <mat-label class="mr-15">About Organizer</mat-label>
          </div>
          <div class="col-sm-4">
            <mat-radio-group formControlName="aboutOrganizer">
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="">
        <div class="row">
          <div class="col-sm-8">
            <mat-label class="mr-15">More Events From Same Organizer</mat-label>
          </div>
          <div class="col-sm-4">
            <mat-radio-group formControlName="moreEventsFromSameOrganizer">
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>