<form [formGroup]="trainingLocationForm" autocomplete="off" novalidate>
  <div class="form-group">
    <div class="">
      <mat-radio-group formControlName="location" class="row">
        <mat-radio-button value="Physical" class="col-sm-6">Physical</mat-radio-button>
        <mat-radio-button value="Online" class="col-sm-6 m0">Online</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field>
          <input matInput placeholder="Enter Venue Name">
        </mat-form-field>
        <div class="row">
          <div class="col-sm-6">
            <i class="pi pi-map-marker"></i> Enter Location Manually
          </div>
          <div class="col-sm-6">
            Vanue not decided.
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <input matInput placeholder="Enter Web Address">
        </mat-form-field>
        <div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-right">
        <button type="submit" mat-raised-button color="accent" (click)="handleSubmit()">Save</button>
        <button mat-raised-button color="warn">Cancel</button>
      </div>
    </div>
  </div>
</form>