<div class="form-group">
  <div class="row">
    <div class="col-sm-10">
      <label>Select Trainer</label>
      <angular2-multiselect [data]="regTrainers" [(ngModel)]="selectedTrainer" [settings]="settings"
        (onSelect)="OnSelect($event)" (onDeSelect)="OnDeSelect($event)">
        <c-badge>
          <ng-template let-item="item">
            {{item.firstName}} {{item.lastName}}
          </ng-template>
        </c-badge>
        <c-item>
          <ng-template let-item="item">
            {{item.lastName}}
          </ng-template>
        </c-item>
      </angular2-multiselect>
    </div>
    <div class="col-sm-2 text-right">
      <label class="invisible">placeholder</label>
      <button pButton type="button" label="Add" class="ui-button-raised width_100" (click)="handleAddUser()"></button>
    </div>
  </div>
  <p class="msgError text-danger" *ngIf="msg">
    <small>
      {{msg}}
    </small>
  </p>
</div>
<div>
  <div class="ui-grid ui-grid-responsive row">
    <div *ngFor="let item of trainerList" class="col-sm-4">
      <p-card styleClass="ui-card-shadow cursor-pointer relative">
        <span class="close-icon" (click)="handleDeleteUser(item)">X</span>
        <div class="userThumb text-center cursor-pointer" (click)="viewProfile('p', item.profileUrl)">
          <img src="{{item.image}}" onError="this.src='../../../../assets/images/banner/home/placeholder.png';"
            alt="user profile">
          <h3>{{item.firstName}} {{item.lastName}}</h3>
        </div>
      </p-card>
    </div>
  </div>
</div>
