<div *ngIf="!addTicketForm">
  <div class="form-group ticketWrap" *ngFor="let item of trainingData, let i=index"
    (click)="editTrainingTicket(item.id)">
    <div class="relative">
      <div class="left circle"></div>
      <div class="right circle"></div>
      <p-card header="Ticket">
        <div>{{item.name}}</div>
        <div>Ticket Qty {{item.qty}}
          <button type="button" class="btn btn-gradient bookBtn">
            {{item.qty}} TICKETS
          </button>
          Rs. {{item.paymentCharge}}
        </div>
        <div>
          <span>
            {{item.startDate | date: 'dd-MMM-yyyy'}} @ {{item.startDate | date: 'hh:mm a'}}
          </span>
          -
          <span>
            {{item.endDate | date: 'dd-MMM-yyyy'}} @ {{item.endDate | date: 'hh:mm a'}}
          </span>
        </div>
      </p-card>
    </div>
  </div>
  <div class="form-group" *ngIf="trainingData.length==0">
    <p-card header="Ticket">
      {{!displayNoRecord?'loading':'No records to display'}}
    </p-card>
  </div>
  <div class="form-group text-right" *ngIf="displayNoRecord">
    <button (click)="addFormHandle();" type="button" class="btn btn-primary">Add Ticket</button>
  </div>
</div>
<div *ngIf="addTicketForm">
  <form [formGroup]="formElement" autocomplete="off" novalidate>
    <div class="form-group">
      <label>Ticket Name <span class="required">*</span></label>
      <input type="text" pInputText placeholder="Ticket Name" formControlName="name" />
      <p class="msgError text-danger"
        *ngIf="formControl.name.hasError('required') && (formControl.name.dirty || submitted)">
        Required Field.
      </p>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Quantity <span class="required">*</span></label>
          <input type="text" pInputText placeholder="Quantity" formControlName="qty" digitOnly />
          <p class="msgError text-danger"
            *ngIf="formControl.qty.hasError('required') && (formControl.qty.dirty || submitted)">
            Required Field.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <label>Per booking <span class="required">*</span></label>
        <div class="">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon">Min</span>
                  <input type="text" pInputText placeholder="Min" formControlName="minBooking" digitOnly />
                </div>
                <p class="msgError text-danger" *ngIf="submitted && formControl.minBooking.value<=0 &&
                  !formControl.minBooking.hasError('required')">
                  Min qty should be greather than 0.
                </p>
                <p class="msgError text-danger"
                  *ngIf="formControl.minBooking.hasError('required') && (formControl.minBooking.dirty || submitted)">
                  Required Field.
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon">Max</span>
                  <input type="text" pInputText placeholder="Qty" formControlName="maxBooking" digitOnly />
                </div>
                <p class="msgError text-danger" *ngIf="submitted && formControl.minBooking.value > formControl.maxBooking.value">
                  Max qty should be greather than Min.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix">
      <div class="row">
        <div class="col-sm-12">
          <label>Ticket Sale starts from</label>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Start Date <span class="required">*</span></label>
            <p-calendar name="startDate" [formControl]="startDate" [monthNavigator]="true" [yearNavigator]="true"
              yearRange="{{curentYear}}:{{curentYear+5}}" [utc]="true" dateFormat="dd/mm/yy"
              [maxDate]="ticektSaleMaxDate" placeholder="DD/MM/YYYY">
            </p-calendar>
            <p class="msgError text-danger" *ngIf="!startDate.value && submitted">
              Required Field.
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label></label>
            <label>Start Time <span class="required">*</span></label>
            <p-calendar name="startTime" [formControl]="startTime" [timeOnly]="true" hourFormat="12"
              placeholder="00:00:AM"></p-calendar>
            <p class="msgError text-danger" *ngIf="!startTime.value && submitted">
              Required Field.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix">
      <div class="row">
        <div class="col-sm-12">
          <label>Ticket Sale Ends at</label>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>End Date <span class="required">*</span></label>
            <p-calendar name="endDate" [formControl]="endDate" [monthNavigator]="true" [yearNavigator]="true"
              yearRange="{{curentYear}}:{{curentYear+5}}" [utc]="true" dateFormat="dd/mm/yy" [minDate]="startDate.value"
              [maxDate]="ticektSaleMaxDate" placeholder="DD/MM/YYYY">
            </p-calendar>
            <p class="msgError text-danger" *ngIf="!endDate.value && submitted">
              Required Field.
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>End Time <span class="required">*</span></label>
            <p-calendar name="endTime" [formControl]="endTime" [timeOnly]="true" hourFormat="12" placeholder="00:00:AM">
            </p-calendar>
            <p class="msgError text-danger" *ngIf="!endTime.value && submitted">
              Required Field.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Type <span class="required">*</span></label>
          <input type="hidden" formControlName="ticketType">
          <angular2-multiselect class="form-control" [data]="ticketTypeList" [(ngModel)]="selectedTicketType"
            [settings]="settings" formControlName="ticketTypeObj" (onSelect)="onTypeChange($event, hostedBy)"
            (onDeSelect)="OnItemDeSelect($event)">
          </angular2-multiselect>
          <p class="msgError text-danger"
            *ngIf="formControl.ticketType.hasError('required') && (formControl.ticketType.dirty || submitted)">
            Required Field.
          </p>
        </div>
      </div>
      <div class="col-sm-6" [ngClass]="{disabled: formControl.ticketType.value==1}">
        <div class="form-group">
          <label>Price <span class="required" *ngIf="formControl.ticketType.value!=1">*</span></label>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">Rs.</span>
            <input type="text" pInputText placeholder="Price" formControlName="paymentCharge" (change)="ticketPreview()"
              digitOnly />
            <span class="ui-inputgroup-addon">.00</span>
          </div>
          <p class="msgError text-danger"
            *ngIf="formControl.paymentCharge.hasError('required') && (formControl.paymentCharge.dirty || submitted)">
            Required Field.
          </p>
        </div>
      </div>
    </div>
  </form>
  <div class="clearfix bgGray payment-table form-group"
    *ngIf="paymentDetails.length>0 && formControl.paymentCharge.value>0">
    <div class="col-sm-12 form-group">
      <div class="row">
        <div class="col-sm-9">
          <table class="payment-table">
            <tr>
              <th>
                Type
              </th>
              <th>
                Charge in %
              </th>
              <th>Who will pay</th>
              <th></th>
            </tr>
            <tr *ngFor="let item of paymentDetails, let i=index">
              <td>
                {{item.feeText}}
                <i *ngIf="item.feeType==776" class="fa fa-info-circle" aria-hidden="true"
                  pTooltip="Affiliate marketing is the process of earning income every time you promote someone elses products or services. If you generate a sale for the company, you get paid. If you don't generate a sale, you do not get paid."
                  tooltipPosition="top"></i>
              </td>
              <td class="value-cell" [ngClass]="{disabled: item.feeType!=776}">
                <input type="text" placeholder="Value" [(ngModel)]="item.amount" digitOnly class="form-control"
                  maxlength="2" (change)="ticketPreview()">
              </td>
              <td>
                <div>
                  <p-radioButton name="payee{{i}}" [(ngModel)]="item.modeType" value="1" label="Organizer"
                    inputId="organizer{{i}}" (click)="ticketPreview()">
                  </p-radioButton>
                  <p-radioButton name="payee{{i}}" [(ngModel)]="item.modeType" value="2" label="Buyer"
                    (click)="ticketPreview()" inputId="buyer{{i}}">
                  </p-radioButton>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-sm-3">
          <strong>Money to Organizer</strong> <br>
          Rs. {{paymentBreakup && paymentBreakup.organizerTotal}} <br>
          <a href="javascript:void(0)" (click)="showDialog()">View Breakup</a> <br>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Ticket Description</label>
    <textarea pInputTextarea autoResize="autoResize" placeholder="Description" name="description"
      [(ngModel)]="description"></textarea>
  </div>
  <div class="form-group">
    <label>Message to Attendee</label>
    <textarea pInputTextarea autoResize="autoResize" placeholder="Message" name="msgForAtendee"
      [(ngModel)]="msgForAtendee"></textarea>
  </div>
  <div class="form-group button-group text-right">
    <button pButton type="button" label="Cancel" class="ui-button-raised ui-button-danger"
      (click)="handleCancel()"></button>
    <button pButton type="button" label="Submit" class="ui-button-raised" (click)="handleSubmit()"></button>
  </div>
</div>
<p-dialog header="Payment Breakup" [(visible)]="display" [modal]="true" [style]="{width: '400px'}" [maximizable]="true"
  [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <table class="breakup-table" *ngIf="paymentBreakup">
    <tr>
      <td>
        Ticket Price
      </td>
      <td class="text-right">
        Rs. {{formControl.paymentCharge.value}}
      </td>
    </tr>
    <tr>
      <td>
        Service Fee
      </td>
      <td class="text-right">
        Rs. {{paymentBreakup.serviceTax}}
      </td>
    </tr>
    <tr>
      <td>
        Payment Gateway Fee
      </td>
      <td class="text-right">
        Rs. {{paymentBreakup.getwayfee}}
      </td>
    </tr>
    <tr>
      <td>
        GST Charges
      </td>
      <td class="text-right">
        Rs. {{paymentBreakup.gst}}
      </td>
    </tr>
    <tr>
      <td>
        Affiliation Commission
      </td>
      <td class="text-right">
        Rs. {{paymentBreakup.affilation}}
      </td>
    </tr>
    <tr>
      <td>
        Amount to be paid by buyer
      </td>
      <td class="text-right">
        Rs. {{paymentBreakup.buyerTotal}}
      </td>
    </tr>
    <tr>
      <td>
        Amount to organizer
      </td>
      <td class="text-right">
        Rs. {{paymentBreakup.organizerTotal}}
      </td>
    </tr>
  </table>
</p-dialog>
