<!-- <section class="hidden">
    <div class="container">
      <ngu-carousel #myCarousel [inputs]="TutorsCarouselConfig" [dataSource]="TutorslItems" class="">
        <div *nguCarouselDef="let item;" class="item">
          <div class="text-center">
            <section class="b-events-2 text-center">
              <div class="b-events-2__media">
                <img src="../assets/images/events/1.jpg" alt="foto" class="img-responsive" />
                <div class="b-events-calendar">
                  <div class="b-events-calendar__wrap">
                    <div class="b-events-calendar__item"><span class="b-events-calendar__number">25</span><span
                        class="b-events-calendar__title">days</span></div>
                    <div class="b-events-calendar__item"><span class="b-events-calendar__number">16</span><span
                        class="b-events-calendar__title">hours</span></div>
                    <div class="b-events-calendar__item"><span class="b-events-calendar__number">47</span><span
                        class="b-events-calendar__title">mins</span></div>
                    <div class="b-events-calendar__item"><span class="b-events-calendar__number">38</span><span
                        class="b-events-calendar__title">secs</span></div>
                  </div>
                </div>
              </div>
              <div class="ui-decor-2 ui-decor-2_vert bg-primary"></div>
              <h3 class="b-events-2__title">SEO Seminar 2016</h3>
              <div class="b-events__details"><i class="icon icon-map"></i> 32-B, Envato St, Hill Ave, CA</div>
            </section>
          </div>
        </div>
        <button NguCarouselNext class="rightRs">&gt;</button>
        <button NguCarouselPrev class="leftRs">&lt;</button>
        <ul class="myPoint" NguCarouselPoint>
          <li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint"
            (click)="myCarousel.moveTo(j)">
          </li>
        </ul>
      </ngu-carousel>
    </div>
  </section> -->