<p-card styleClass="ui-card-shadow">
  <p-header>
    <div class="card-image">
      <a href="{{item.fullUrl}}">
        <img src="{{item.imageUrl}}" onError="this.src='../../../../assets/images/banner/home/placeholder.png';"
          alt="image">
      </a>
    </div>
  </p-header>
  <div class="card-inner">
    <div class="date">
      <span class="month">{{item.startDate | date: 'MMM'}}</span>
      <br>
      {{item.startDate | date: 'dd'}}
    </div>
    <div class="card-desc">
      <p tooltipPosition="top" pTooltip="{{item.name}}" class="event">{{item.name?item.name:'NA'}}
      </p>
      <p class="text-right">
        <i class="pi pi-map-marker"></i>{{item.city?item.city:'NA'}}
      </p>
    </div>
  </div>
  <hr>
  <div class="card-desc flex_c_c">
    <p class="label-price">
      {{item.mode?item.mode:'NA'}}
    </p>
    <p class="label-price border">
      Rs. {{item.amount?item.amount:'FREE'}}
    </p>
  </div>
  <hr>
  <div class="card-desc flex_c_c">
    <p class="label-price border {{item.isInterest?'text-success':''}}" (click)="handleInterest(item)">
      <i class="fa fa-star" aria-hidden="true"></i>{{item.isInterest?' Interested':' Send interest'}}
    </p>
    <p class="label-price">
      {{item.interestCount?item.interestCount+'&nbsp; People interested':'N/A'}}
    </p>
  </div>
</p-card>
