<div class="container">
  <div class="order-detail-wrap">
    <h2 class="text-center">Order Detail</h2>
    <div class="order-detail-inner">
      <h3>Order ID: <span class="text-danger">{{orderDetail.orderAppId}}</span>
        <div class="order-status" [ngClass]="orderDetail.orderStatusName =='Open' ?'open':'success'">
          {{orderDetail.orderStatusName}}
        </div>
      </h3>
      <div class="ticket-cart-grid row">
        <div class="form-group ticketWrap col-sm-6" *ngFor="let item of orderDetail.items, let i=index">
          <div class="relative">
            <div class="left circle"></div>
            <div class="right circle"></div>
            <p-card header="Ticket">
              <div>{{item.item.name}}</div>
              <div>
                <button type="button" class="btn btn-gradient bookBtn">
                  {{item.qty}} TICKET {{item.qty>1?'s':''}}
                </button>
                <div class="inline-block ml-20">
                  <p class="label-price border">Rs. {{item.totalPrice?item.totalPrice:'FREE'}}</p>
                </div>
              </div>
              <div>
                <span>
                  {{item.item.startDate | date: 'dd-MMM-yyyy'}} @ {{item.item.startDate | date: 'hh:mm a'}}
                </span>
                -
                <span>
                  {{item.item.endDate | date: 'dd-MMM-yyyy'}} @ {{item.item.endDate | date: 'hh:mm a'}}
                </span>
              </div>
            </p-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group clearfix button-group text-right">
      <button pButton type="button" label="Cancel" class="ui-button-raised ui-button-danger"></button>
      <button *ngIf="orderDetail.orderStatusName =='Open'" pButton type="button" label="Place Order" class="ui-button-raised" (click)="handleSubmit(orderDetail.orderAppId)"></button>
  </div>
</div>
