<div class="container">
  <div class="order-detail-wrap">
    <h2 class="text-center">Order Detail</h2>
    <div class="order-detail-inner" *ngIf="orderDetail">
      <h3>Order ID: <span class="text-danger">{{orderDetail.orderAppId}}</span>
        <div class="order-status" [ngClass]="orderDetail && orderDetail.orderStatusName =='Open' ?'open':'success'">
          {{orderDetail.orderStatusName}}
        </div>
      </h3>
      <div class="ticket-cart-grid row" *ngIf="orderDetail && orderDetail.items">
        <div class="form-group col-sm-6" *ngFor="let item of orderDetail.items, let i=index">
          <div class="ticketWrap">
            <div class="relative">
              <div class="left circle"></div>
              <div class="right circle"></div>
              <p-card header="Ticket">
                <div>{{item.item.name}}</div>
                <div>
                  <button type="button" class="btn btn-gradient bookBtn">
                    {{item.qty}} TICKET {{item.qty>1?'s':''}}
                  </button>
                  <div class="inline-block ml-20">
                    <p class="label-price border">{{item.totalPrice?'Rs. '+item.totalPrice:'FREE'}}</p>
                  </div>
                </div>
                <div>
                  <span>
                    {{item.item.startDate | date: 'dd-MMM-yyyy'}} @ {{item.item.startDate | date: 'hh:mm a'}}
                  </span>
                  -
                  <span>
                    {{item.item.endDate | date: 'dd-MMM-yyyy'}} @ {{item.item.endDate | date: 'hh:mm a'}}
                  </span>
                </div>
              </p-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bgGray order-summary-grid form-group">
    <div class="clearfix">
      <table class="width_100">
        <tr>
          <td>
            Ticket (s) Price
          </td>
          <td class="text-right">{{orderSummaryData.orderCurrency}} {{orderSummaryData.subTotal}}</td>
        </tr>
        <tr>
          <td>
            Processing Fee
          </td>
          <td class="text-right">{{orderSummaryData.orderCurrency}}
            {{orderSummaryData.serviceFee + orderSummaryData.getwayFee}}</td>
        </tr>
        <tr>
          <td>
            GST
          </td>
          <td class="text-right">{{orderSummaryData.orderCurrency}} {{orderSummaryData.gst}}</td>
        </tr>
        <tr>
          <td>
            <strong>Total Payable</strong>
          </td>
          <td class="text-right">{{orderSummaryData.orderCurrency}} {{orderSummaryData.total}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="form-group clearfix button-group text-right">
    <button type="button" class="btn btn-danger">Cancel</button>
    <button *ngIf="orderDetail && orderDetail.orderStatusName =='Open'" type="button" class="btn btn-primary"
      (click)="handleSubmit(orderDetail.orderAppId)">Confirm</button>
  </div>
</div>
