<div class="container">
  <h2 class="text-center">TRAINER</h2>
  <div class="row row-same-height profile-wrap">
    <div class="col-same-height col-sm-3">
      <div class="mat-accordion-plain content">
        <ul class="accordion-like-nav">
          <li>
            <a class="flex v-center justifyCenter" routerLinkActive="active" [routerLink]="['profile']"
              (click)="setActiveTab('1')">
              Profile
              <span class="glyphicon" [ngClass]="setActiveTabIndex== 1?'glyphicon-minus':'glyphicon-plus'"></span>
            </a>
            <ul class="accordion-nav" [ngClass]="{active: setActiveTabIndex==1}">
              <li>
                <a routerLinkActive="active" [routerLink]="['profile/basic']">Basic</a>
              </li>
              <li>
                <a routerLinkActive="active" [routerLink]="['profile/keyword']">Keywords</a>
              </li>
              <li>
                <a routerLinkActive="active" [routerLink]="['profile/about']">About</a>
              </li>
              <li>
                <a routerLinkActive="active" [routerLink]="['profile/certificate']">Certifications Earned</a>
              </li>
              <li>
                <a routerLinkActive="active" [routerLink]="['profile/social']">Social Media</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="flex v-center justifyCenter" routerLinkActive="active" [routerLink]="['addTraining']"
              (click)="setActiveTab('2')">
              Add Training
              <span class="glyphicon" [ngClass]="setActiveTabIndex== 2?'glyphicon-minus':'glyphicon-plus'"></span>
            </a>
            <ul class="accordion-nav" [ngClass]="{active: setActiveTabIndex==2}">
              <li>
                <a routerLinkActive="active" [routerLink]="['addTraining/basic']">Basic</a>
              </li>
              <li>
                <a routerLinkActive="active" [routerLink]="['addTraining/location']">Location</a>
              </li>
              <li>
                <a routerLinkActive="active" [routerLink]="['addTraining/tags']">Tags</a>
              </li>
              <li>
                <a routerLinkActive="active" [routerLink]="['addTraining/images']">Images</a>
              </li>
              <li>
                <a routerLinkActive="active" [routerLink]="['addTraining/ticket']">Ticket</a>
              </li>
              <li>
                <a routerLinkActive="active" [routerLink]="['addTraining/questions']">Custom Questions</a>
              </li>
              <li>
                <a routerLinkActive="active" [routerLink]="['addTraining/feedback']">Feedback</a>
              </li>
              <li>
                <a routerLinkActive="active" [routerLink]="['addTraining/promotions']">Promotions</a>
              </li>
              <li>
                <a routerLinkActive="active" [routerLink]="['addTraining/settings']">Settings</a>
              </li>
              <li>
                <a routerLinkActive="active" [routerLink]="['addTraining/addTrainer']">Add Trainers</a>
              </li>
            </ul>
          </li>

          <li>
            <a [routerLink]="['/account']">
              <i class="glyphicon glyphicon-chevron-left"></i> Back
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-same-height col-sm-9 content-section">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>