<nav class="navbar navbar-default navbar-top">
  <div class="container">
    <div class="collapse navbar-collapse" id="example-1">
      <ul class="nav navbar-nav top-bar-contact">
        <li><i class="fa fa-phone" aria-hidden="true"></i> (+01) 123 456 7899</li>
        <li><i class="fa fa-envelope-open-o" aria-hidden="true"></i> Contact [at]
          Dvents.com</li>
        <li><i class="fa fa-clock-o" aria-hidden="true"></i> Mon – Fri 9.00 am – 6.00 pm
        </li>
      </ul>
    </div>
  </div>
</nav>