<!-- 
<div class="error-wrap-alt">
  <img src="../../../assets/images/maintenance.png" alt="">
  <br>
  <h1>We are updating our plateform with new features. We will be back shortly...</h1>
</div> -->
<form autocomplete="off" novalidate>
  <div class="form-group">
    <div class="row form-group">
      <div class="col-sm-6">
        <label>Organization</label>
        <p-dropdown [options]="[1,2,3]" placeholder="Organization"></p-dropdown>
      </div>
      <div class="col-sm-6">
        <label>Trainings</label>
        <p-dropdown [options]="[1,2,3]" placeholder="Trainings"></p-dropdown>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-6">
        <label>User Types</label>
        <p-dropdown [options]="userTypes" placeholder="User Types"></p-dropdown>
      </div>
      <div class="col-sm-6">
        <label>Users</label> Export to csv
        <p-dropdown [options]="[1,2,3]" placeholder="Users"></p-dropdown>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-12">
        <label>Template</label>
        <p-dropdown [options]="[1,2,3]" placeholder="Template"></p-dropdown>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-12">
        <label>Subject</label>
        <input type="text" pInputText placeholder="Subject" />
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-12">
        <label>Message</label>
        <p-editor [style]="{'height':'200px'}"></p-editor>
      </div>
    </div>
    <div class="form-group button-group text-right">
      <button pButton type="submit" label="Submit" class="ui-button-raised" (click)="handleSubmit()"></button>
      <button pButton type="button" label="Cancel" class="ui-button-raised ui-button-danger"></button>
    </div>
  </div>
</form>
