<div class="container section-padding">
  <div class="row-same-height row">
    <div class="col-same-height col-sm-3 flexVMiddle"></div>
    <div class="col-same-height col-sm-6 flexVMiddle bgGray">
      <div class="form-wrapper content">
        <h2>LOGIN</h2>
        <form [formGroup]="loginForm" autocomplete="off" novalidate>
          <div class="form-group">
            <label for="">Email *</label>
            <input class="width_100" type="email" placeholder="Email" pInputText formControlName="userName" required />
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input class="width_100" type="password" placeholder="Password" pInputText formControlName="password"
              required />
          </div>
          <div class="row form-group">
            <div class="col-sm-6">
              <div class="ui-g-12">
                <p-checkbox label="Remember me" formControlName="isRememberMe" inputId="isRememberMe">
                </p-checkbox>
              </div>
            </div>
            <div class="col-sm-6 text-right">
              <button pButton type="button" label="Forgot Password?"
                class="ui-button-raised ui-button-secondary"></button>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-6">
                <button pButton type="submit" label="LOGIN" class="ui-button-raised ui-button-success"
                  [disabled]="!loginForm.valid" (click)="handleLogin()"></button>
              </div>
              <div class="col-sm-6 text-right">
                <span class="mar-r-15">
                  New to ScaledSkills?
                </span>
                <button pButton type="button" label="SIGN UP" class="ui-button-raised"
                  [routerLink]="['/auth/register']"></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-same-height col-sm-3 flexVMiddle">

      </div>
    <!-- <div class="col-same-height col-sm-6 text-center flexVMiddle bgGray">
      <div class="form-wrapper content">
        <div class="social-opton">
          <div class="form-group">
            <div class="mb-5">
              <button type="button" class="btn btn-fb"><i class="fa fa-facebook"
                  aria-hidden="true"></i>Facebook</button>
            </div>
            <div class="mb-5">
              <button type="button" class="btn btn-li"><i class="fa fa-linkedin"
                  aria-hidden="true"></i>LINKEDIN</button>
            </div>
            <div class="mb-5">
              <button type="button" class="btn btn-gplus"><i class="fa fa-google" aria-hidden="true"></i>GOOGLE</button>
            </div>
          </div>
          <div class="form-group">
            <div class="">
              <hr>
              <div class="text-center">
                <div color="warn">Trouble signing in?</div>
                <div>
                  <button pButton type="button" label="REPORT AN ISSUE"
                    class="ui-button-raised ui-button-warning"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>