<div class="container display-profile-wrap" *ngIf="entity">
  <div class="form-group">
    <div class="verticaltoolbar" *ngIf="canEdit">
      <div class="inner"><i class="fa fa-pencil" (click)="goToLink(entity['trainingId'])"></i></div>
    </div>
    <div class="event-banner">
      <img src="{{entity.headerUrl}}" onError="this.src='../../../../assets/images/banner/home/placeholder.png';"
        alt="headerImg" class="img-responsive">
    </div>
    <div class="event-detail-wrap">
      <ul>
        <li>
          <button type="button" class="btn btn-gradient bookBtn mb10">
            {{avgRating}}&nbsp;<i class="fa fa-star"></i>&nbsp;|&nbsp;&nbsp;{{totalReview}} Reviews
          </button>
          <p class="hostedBy">
            {{entity['name']?entity['name']:'N/A'}}
          </p>
          <div>
            <p class="hostedBy">{{entity['mode'] =='Offline'?'Classroom':entity['mode']}}</p>
          </div>
          <div *ngIf="entity['mode']!='Online'">
            <p class="hostedBy">
              {{entity['address1']?entity['address1'] + ' - ':''}}
              {{entity['stateName']?entity['stateName']:'location: NA'}}
            </p>
          </div>
          <div class="sub_links">
            <div class="flex">
              <i class="pi pi-clock" style="margin:5px 10px 0 0"></i>
              <span>
                {{entity['startDate'] | date:'EEE'}}, {{entity['startDate'] | date:'MMM d, y | h:mm a'}}
                to
                {{entity['endDate'] | date:'EEE'}}, {{entity['endDate'] | date:'MMM d, y | h:mm a'}}
                {{entity && entity['timeZone']?'('+entity['timeZone']+')':'(IST)'}}
              </span>
            </div>
          </div>
          <div class="sub_links">
            <div *ngIf="!isVisibleToAll">
              <p>Kindly register to view webinar details</p>
            </div>
            <div class="flex" *ngIf="isVisibleToAll">
              <i class="pi pi-map-marker" style="margin:0px 10px 0 0"></i>
              <div *ngIf="entity['mode']!='Online'">
                {{entity['address1']?entity['address1'] + ' , ':'Address1 : NA, '}}
                {{entity['address2']?entity['address2'] + ' , ':'Address2 : NA, '}}
                {{entity['address3']?entity['address3'] + ' , ':''}}
                {{entity['city']?entity['city'] + ' , ':'City : NA, '}}
                {{entity['stateName']?entity['stateName'] + ' , ':'State : NA, '}}
                {{entity['zipCode']?entity['zipCode'] + ' , ':'Zip : NA, '}}
                {{entity['countryName']?entity['countryName'] + ' , ':''}}
              </div>
              <div *ngIf="entity && entity['mode']=='Online'">
                <p class="cursor-pointer"
                  (click)="openUrl(entity && entity['onlineLocation']?entity && entity['onlineLocation']:'')"
                  *ngIf="entity && entity['onlineLocation']">{{entity['onlineLocation']}}</p>
                <p *ngIf="entity && entity['locationDetail']">{{entity['locationDetail']}}</p>
              </div>
            </div>
          </div>
        </li>
        <li class="text-center">
          <div *ngIf="!canEdit" [ngClass]="getColor(entity['endDate'])">
            <button type="button" class="btn btn-gradient bookBtn mb10"
              (click)="registerForTraining()">{{entity && entity.isRegister?'Registered':'Register'}}</button>
          </div>
          <p class="hostedBy">
            <span *ngIf="entity && !entity.isDisplayFollow">Hosted By {{entity['userName']}}</span>
            <a class="cursor-pointer" (click)="userNavigate()" *ngIf="entity && entity.isDisplayFollow">Hosted By
              {{entity['userName']}}</a>
            <span class="joinbtn text-primary" [ngClass]="entity.isFollow?'no-cursor':''" (click)="hendleFollowMe()"
              *ngIf="entity && !entity.isDisplayFollow">
              &nbsp;<i class="fa fa-user-plus"
                aria-hidden="true"></i>&nbsp;{{isLoggedIn && entity.isFollow?'Following':'Follow'}}</span>
          </p>
          <div class="inline-block">
            <div class="flex feed-row">
              <div class="item cursor-pointer {{entity.isInterest?'text-success':''}}" (click)="handleInterest(entity)">
                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;{{entity.isInterest?' Interested':' Show Interest'}}
                ({{!entity['interestCount']?'0':entity['interestCount']|number}})
              </div>
              <!-- <div class="item cursor-pointer text-primary" (click)="hendleFollowMe()" [ngClass]="entity['isFollow']?'no-cursor':''">
                <i class="fa fa-rss" aria-hidden="true"></i>&nbsp;{{entity['isFollow']?'Following':'Follow'}}
              </div> -->
              <div *ngIf="!entity['isRegister']" pTooltip="Kindly register to give the feedback."
                tooltipPosition="bottom">
                <div class="item" [ngClass]="entity['isRegister']?'cursor-pointer':'disabled'">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Feedback</div>
              </div>
              <div *ngIf="entity['isRegister']">
                <div class="item cursor-pointer" (click)="handleFeedback()">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Feedback</div>
              </div>
            </div>
          </div>
          <div class="btn btn-default traiing-id btn-border-blue font-bold">
            TRAINING ID : {{entity && entity.trainingId}}
          </div>
        </li>
        <li class="text-right">
          <button type="button" class="btn btn-gradient bookBtn mb10" [routerLink]="['/contact']">Send
            Enquiry</button>
          <p class="hostedBy">
            Ticket Left : {{entity.avilableQtyTotal}}/{{entity.qtyTotal}}
          </p>
          <div class="inline-block">
            <div class="flex feed-row">
              <div class="item cursor-pointer">
                <p-splitButton label="Share" styleClass="ui-button-success" icon="pi pi-share-alt"
                  [model]="shareOptions">
                </p-splitButton>
              </div>
            </div>
          </div>
          <!-- <div class="item">Views <br>{{!entity['viewCount']?'N/A':entity['viewCount']|number}}</div> -->
          <div class="item">Registered : {{totalUser?totalUser:'0'}}</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="border-line top"></div>
  <div class="form-group">
    <p-carousel headerText="Trainers ({{regTrainers.length}})" [value]="regTrainers" numVisible="4" circular="true"
      autoplayInterval="5000" *ngIf="regTrainers.length>0">
      <ng-template let-item pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <p-card styleClass="ui-card-shadow cursor-pointer" (click)="viewProfile('p', item.profileUrl)">
            <div class="userThumb text-center cursor-pointer">
              <img src="{{imageBaseUrl}}{{item['image']}}" onError="this.src='../../../../assets/images/user.png';"
                alt="image" class="img-responsive">
              <h3>{{item.firstName}} {{item.lastName}}</h3>
            </div>
          </p-card>
        </div>
      </ng-template>
    </p-carousel>
    <p-carousel headerText="Trainers ({{regTrainers.length}})" [value]="noRecord" numVisible="1"
      *ngIf="regTrainers.length==0">
      <ng-template let-item pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <p-card>
            {{item.msg}}
          </p-card>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <div class="form-group">
    <div [innerHTML]="entity['description']"></div>
  </div>
  <div class="border-line"></div>
  <div class="form-group">
    <p-carousel headerText="Registered Users ({{regUsers.length}})" [value]="regUsers" numVisible="4" circular="true"
      autoplayInterval="5000" *ngIf="regUsers.length>0">
      <ng-template let-item pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <p-card styleClass="ui-card-shadow">
            <div class="userThumb text-center">
              <img src="{{imageBaseUrl}}{{item['image']}}" onError="this.src='../../../../assets/images/user.png';"
                alt="image" class="img-responsive">
              <h3>{{item.firstName}} {{item.lastName}}</h3>
            </div>
          </p-card>
        </div>
      </ng-template>
    </p-carousel>
    <p-carousel headerText="Registered Users ({{regUsers.length}})" [value]="noRecord" numVisible="1"
      *ngIf="regUsers.length==0">
      <ng-template let-item pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <p-card>
            {{item.msg}}
          </p-card>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <div class="form-group">
    <p-carousel headerText="Upcoming Trainings from Organizer ({{upcommingTrainings.length}})"
      [value]="upcommingTrainings" numVisible="4" circular="true" autoplayInterval="5000"
      *ngIf="upcommingTrainings && upcommingTrainings.length>0">
      <ng-template let-item pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <app-training-card [item]="item"></app-training-card>
        </div>
      </ng-template>
    </p-carousel>
    <p-carousel headerText="Upcoming Trainings from Organizer ({{upcommingTrainings.length}})" [value]="noRecord"
      numVisible="1" *ngIf="upcommingTrainings && upcommingTrainings.length==0">
      <ng-template let-item pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <p-card>
            {{item.msg}}
          </p-card>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <!-- past training -->
  <div class="form-group">
    <p-carousel headerText="Past Trainings from Organizer ({{pastTrainings.length}})" [value]="pastTrainings"
      numVisible="4" circular="true" autoplayInterval="5000" *ngIf="pastTrainings.length>0">
      <ng-template let-item pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <app-training-card [item]="item"></app-training-card>
        </div>
      </ng-template>
    </p-carousel>
    <p-carousel headerText="Past Trainings from Organizer ({{pastTrainings.length}})" [value]="noRecord" numVisible="1"
      *ngIf="pastTrainings.length==0">
      <ng-template let-item pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <p-card>
            {{item.msg}}
          </p-card>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <!-- other related trainings -->
  <div class="form-group">
    <p-carousel headerText="Other Related Trainings ({{relatedTrainings.length}})" [value]="relatedTrainings"
      numVisible="4" circular="true" autoplayInterval="5000" *ngIf="relatedTrainings.length>0">
      <ng-template let-item pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <app-training-card [item]="item"></app-training-card>
        </div>
      </ng-template>
    </p-carousel>
    <p-carousel headerText="Other Related Trainings ({{relatedTrainings.length}})" [value]="noRecord" numVisible="1"
      *ngIf="relatedTrainings.length==0">
      <ng-template let-item pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <p-card>
            {{item.msg}}
          </p-card>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <div class="form-group">
    <div class="border-line top bottom"></div>
    <div class="rewiew-wrap">
      <div class="form-group">
        <p-carousel headerText="Reviews  ({{reviewList.length}})" [value]="reviewList" numVisible="4"
          *ngIf="reviewList.length>0">
          <ng-template let-item pTemplate="item">
            <p-card class="training-reviews row-same-height cursor-pointer" (click)="showReviewDialog(item)">
              <div class="='col-same-height'">
                <div class="content">
                  <div>
                    <span class="fa fa-star clrBlue"
                      *ngFor="let dummy of ' '.repeat(item.rateOfSatisfied).split(''), let x = index"></span>
                    <span class="fa fa-star"
                      *ngFor="let dummy of ' '.repeat(5-item.rateOfSatisfied).split(''), let x = index"></span>
                  </div>
                  <div class="text-desc">
                    <p>{{item.likeAbout && item.likeAbout | slice:0:200 }}
                      {{item.likeAbout && item.likeAbout.length>200?'...':''}}</p>
                  </div>
                  <h3 class="review-by">{{item.firstName}} {{item.lastName}}</h3>
                </div>
              </div>
            </p-card>
          </ng-template>
        </p-carousel>
        <p-carousel headerText="Reviews  ({{reviewList.length}})" [value]="noRecord" numVisible="1"
          *ngIf="reviewList.length==0">
          <ng-template let-item pTemplate="item">
            <div class="ui-grid ui-grid-responsive">
              <p-card>
                {{item.msg}}
              </p-card>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
</div>
<app-error *ngIf="entity==null && isError"></app-error>
<p-dialog header="{{reviewContent.firstName}} {{reviewContent.lastName}}" [(visible)]="reviewDisplay" [modal]="true"
  [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <p-card class="training-reviews">
    <div class="='col-same-height'">
      <div class="content">
        <div>
          <span class="fa fa-star clrBlue"
            *ngFor="let dummy of ' '.repeat(reviewContent.rateOfSatisfied).split(''), let x = index"></span>
          <span class="fa fa-star"
            *ngFor="let dummy of ' '.repeat(5-reviewContent.rateOfSatisfied).split(''), let x = index"></span>
        </div>
        <div class="text-desc">
          <p>{{reviewContent.likeAbout?reviewContent.likeAbout:''}}</p>
        </div>
      </div>
    </div>
  </p-card>
</p-dialog>