<div class="container">
  <div class="form-group">
    <img src="../../../assets/images/event.png" alt="headerImg" class="img-responsive">
    <div class="event-detail-wrap">
      <ul>
        <li>
          <button type="button" class="btn btn-gradient bookBtn">
            4.3&nbsp;<i class="fa fa-star"></i>&nbsp;|&nbsp;&nbsp;831 Users
          </button>
          <p class="hostedBy">
            {{entity.name?entity.name:'NA'}}
          </p>
          <p class="hostedBy">
            {{entity.address1?entity.address1 + ' - ':''}} {{entity.stateName?entity.stateName:'NA'}}
          </p>
          <div class="sub_links"><span class="icon-calender"></span>
            {{entity.startDate | date:'EEE'}}, {{entity.startDate | date:'MMM d, y | h:mm:ss a'}}
            to
            {{entity.endDate | date:'EEE'}}, {{entity.endDate | date:'MMM d, y | h:mm:ss a'}}
            <br>
          </div>
          <div class="sub_links"><span class="icon-calender"></span>
            {{entity.address1?entity.address1 + ' , ':''}} {{entity.address2?entity.address2 + ' , ':''}} {{entity.address3?entity.address3 + ' , ':''}} {{entity.city?entity.city + ' , ':''}} {{entity.stateName?entity.stateName + ' , ':''}}{{entity.zipCode?entity.zipCode + ' , ':''}} {{entity.countryName?entity.countryName + ' , ':''}}
          </div>
        </li>
        <li class="text-center">
          <div>
            <button type="button" class="btn btn-gradient bookBtn">Register</button>
          </div>
          <p class="hostedBy">
            By Defined Values Consultants <span class="joinbtn">&nbsp;<i class="fa fa-user-plus"
                aria-hidden="true"></i>&nbsp;Join</span>
          </p>
          <div class="inline-block">
            <div class="flex feed-row">
              <div class="item cursor-pointer"><i class="fa fa-star" aria-hidden="true"></i>&nbsp;Interested</div>
              <div class="item cursor-pointer"><i class="fa fa-share" aria-hidden="true"></i>&nbsp;Share</div>
              <div class="item cursor-pointer" (click)="showDialog()"><i class="fa fa-pencil-square-o"
                  aria-hidden="true"></i>&nbsp;Feedback</div>
            </div>
          </div>
        </li>
        <li class="text-right">
          <button type="button" class="btn btn-gradient bookBtn" (click)="showSendMesage()">Send Enqiry</button>
          <p class="hostedBy">
            Ticket Left : 12/200
          </p>
          <div class="inline-block">
            <div class="flex feed-row">
              <div class="item">Views <br>{{!entity.viewCount?'NA':entity.viewCount|number}}</div>
              <div class="item">Interested <br>{{!entity.interestCount?'NA':entity.interestCount|number}}</div>
              <div class="item">Registered <br>{{!entity.registerCount?'NA':entity.registerCount|number}}</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>