<!-- {{entity|json}} -->
<div class="container display-profile-wrap">
  <div class="form-group">
    <div class="verticaltoolbar" *ngIf="canEdit">
      <i class="pi pi-pencil" style="font-size: 3em" (click)="goToLink(entity['trainingId'])"></i>
    </div>
    <div class="event-banner">
      <img src="{{entity.headerUrl}}" onError="this.src='../../../../assets/images/banner/home/placeholder.png';"
        alt="headerImg" class="img-responsive">
    </div>
    <div class="event-detail-wrap">
      <ul>
        <li>
          <button type="button" class="btn btn-gradient bookBtn mb10">
            4.3&nbsp;<i class="fa fa-star"></i>&nbsp;|&nbsp;&nbsp;{{totalTrainer?totalTrainer:0}} Registered
          </button>
          <p class="hostedBy">
            {{entity['name']?entity['name']:'N/A'}}
          </p>
          <div>
            <p class="hostedBy">{{entity['mode']}}</p>
          </div>
          <div *ngIf="entity['mode']!='Online'">
            <p class="hostedBy">
              {{entity['address1']?entity['address1'] + ' - ':''}}
              {{entity['stateName']?entity['stateName']:'location: NA'}}
            </p>
          </div>
          <div class="sub_links">
            <div class="flex">
              <i class="pi pi-clock" style="margin:5px 10px 0 0"></i>
              <span>
                {{entity['startDate'] | date:'EEE'}}, {{entity['startDate'] | date:'MMM d, y | h:mm a'}}
                to
                {{entity['endDate'] | date:'EEE'}}, {{entity['endDate'] | date:'MMM d, y | h:mm a'}}</span>
            </div>
            <br>
          </div>
          <div class="sub_links">
            <div class="flex">
              <i class="pi pi-map-marker" style="margin:5px 10px 0 0"></i>
              <div *ngIf="entity['mode']!='Online'">
                {{entity['address1']?entity['address1'] + ' , ':'Address1 : NA, '}}
                {{entity['address2']?entity['address2'] + ' , ':'Address2 : NA, '}}
                {{entity['address3']?entity['address3'] + ' , ':''}}
                {{entity['city']?entity['city'] + ' , ':'City : NA, '}}
                {{entity['stateName']?entity['stateName'] + ' , ':'State : NA, '}}
                {{entity['zipCode']?entity['zipCode'] + ' , ':'Zip : NA, '}}
                {{entity['countryName']?entity['countryName'] + ' , ':''}}
              </div>
              <div *ngIf="entity['mode']=='Online'">
                {{entity['onlineLocation']?entity['onlineLocation']:'N/A'}}
              </div>
            </div>
          </div>
        </li>
        <li class="text-center">
          <div *ngIf="!canEdit">
            <button type="button" class="btn btn-gradient bookBtn mb10"
              (click)="registerForTraining()">Register</button>
          </div>
          <p class="hostedBy">
            By {{entity['userName']}}
            <span class="joinbtn" *ngIf="!canEdit">&nbsp;<i class="fa fa-user-plus"
                aria-hidden="true"></i>&nbsp;Follow</span>
          </p>
          <div class="inline-block">
            <div class="flex feed-row">
              <div class="item cursor-pointer {{entity.isInterest?'text-success':''}}" (click)="handleInterest(entity)"><i class="fa fa-star"
                  aria-hidden="true"></i>&nbsp;{{entity.isInterest?' Interested':' Send interest'}}</div>
              
              <!-- <div class="item cursor-pointer text-primary" (click)="hendleFollowMe()" [ngClass]="entity['isFollow']?'no-cursor':''">
                <i class="fa fa-rss" aria-hidden="true"></i>&nbsp;{{entity['isFollow']?'Following':'Follow'}}
              </div> -->
              <div class="item cursor-pointer" (click)="handleFeedback()"><i class="fa fa-pencil-square-o"
                  aria-hidden="true"></i>&nbsp;Feedback</div>
            </div>
          </div>
        </li>
        <li class="text-right">
          <button type="button" class="btn btn-gradient bookBtn mb10" [routerLink]="['/home/contact']">Send Enquiry</button>
          <p class="hostedBy">
            Ticket Left : {{entity.qtyTotal-entity.avilableQtyTotal}}/{{entity.qtyTotal}}
          </p>
          <div class="inline-block">
            <div class="flex feed-row">
              <div class="item cursor-pointer">
                <p-splitButton label="Share" styleClass="ui-button-success" icon="pi pi-share-alt"
                  [model]="shareOptions">
                </p-splitButton>
              </div>
              <!-- <div class="item">Views <br>{{!entity['viewCount']?'N/A':entity['viewCount']|number}}</div>
              <div class="item">Interested <br>{{!entity['interestCount']?'N/A':entity['interestCount']|number}}</div>
              <div class="item">Registered <br>{{totalUser?totalUser:'N/A'}}</div> -->
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="border-line top"></div>
  <div class="form-group">
    <p-carousel headerText="Trainers ({{regTrainers.length}})" [value]="regTrainers" numVisible="5" circular="true"
      autoplayInterval="5000" *ngIf="regTrainers.length>0">
      <ng-template let-item pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <p-card styleClass="ui-card-shadow cursor-pointer" (click)="viewProfile('p', item.profileUrl)">
            <div class="userThumb text-center cursor-pointer">
              <img src="{{item.image}}" onError="this.src='../../../../assets/images/banner/home/placeholder.png';"
                alt="user profile">
              <h3>{{item.firstName}} {{item.lastName}}</h3>
            </div>
          </p-card>
        </div>
      </ng-template>
    </p-carousel>
    <p-carousel headerText="Trainers ({{regTrainers.length}})" [value]="noRecord" numVisible="1"
      *ngIf="regTrainers.length==0">
      <ng-template let-item pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <p-card>
            {{item.msg}}
          </p-card>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <div class="form-group">
    <label>About</label>
    <div [innerHTML]="entity['description']"></div>
  </div>
  <div class="border-line"></div>
  <div class="form-group">

    <p-carousel headerText="Registered Users ({{regUsers.length}})" [value]="regUsers" numVisible="5" circular="true"
      autoplayInterval="5000" *ngIf="regUsers.length>0">
      <ng-template let-item pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <p-card styleClass="ui-card-shadow">
            <div class="userThumb text-center">
              <img src="{{item.image}}" onError="this.src='../../../../assets/images/banner/home/placeholder.png';"
                alt="user profile">
              <h3>{{item.firstName}} {{item.lastName}}</h3>
            </div>
          </p-card>
        </div>
      </ng-template>
    </p-carousel>
    <p-carousel headerText="Registered Users ({{regUsers.length}})" [value]="noRecord" numVisible="1"
      *ngIf="regUsers.length==0">
      <ng-template let-item pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <p-card>
            {{item.msg}}
          </p-card>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <div class="form-group">
    <p-carousel headerText="Upcoming Trainings from Organizer ({{upcommingTrainings.length}})"
      [value]="upcommingTrainings" numVisible="5" circular="true" autoplayInterval="5000"
      *ngIf="upcommingTrainings && upcommingTrainings.length>0">
      <ng-template let-item pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <p-card styleClass="ui-card-shadow">
            <p-header>
              <div class="card-image">
                <a href="{{item.fullUrl}}">
                  <img src="{{item.imageUrl}}" onError="this.src='../../../../assets/images/banner/home/placeholder.png';"
                    alt="image">
                </a>
              </div>
            </p-header>
            <div class="card-inner">
              <div class="date">
                <span class="month">{{item.startDate | date: 'MMM'}}</span>
                <br>
                {{item.startDate | date: 'dd'}}
              </div>
              <div class="card-desc">
                <a class="javascript:void(0)" tooltipPosition="top" pTooltip="{{item.name}}"
                  class="event">{{item.name?item.name:'N/A'}}</a>
                <p class="text-right">
                  <i class="pi pi-map-marker"></i>{{item.city?item.city:'N/A'}}
                </p>
              </div>
            </div>
            <hr>
            <div class="card-desc flex_c_c">
              <p class="label-price">
                {{item.mode?item.mode:'N/A'}}
              </p>
              <p class="label-price border">
                {{item.amount?'Rs. '+item.amount:'N/A'}}
              </p>
            </div>
            <hr>
            <div class="card-desc flex_c_c">
              <p class="label-price border" (click)="handleInterest(item)">
                <i class="fa fa-star" aria-hidden="true"></i> interested
              </p>
              <p class="label-price">
                <i class="fa fa-star" aria-hidden="true"></i>
                {{item.interestCount?item.interestCount+'&nbsp; People interested':'N/A'}}
              </p>
            </div>
          </p-card>
        </div>
      </ng-template>
    </p-carousel>
    <p-carousel headerText="Upcoming Trainings from Organizer ({{upcommingTrainings.length}})" [value]="noRecord"
      numVisible="1" *ngIf="upcommingTrainings && upcommingTrainings.length==0">
      <ng-template let-item pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <p-card>
            {{item.msg}}
          </p-card>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <!-- past training -->
  <div class="form-group">
    <p-carousel headerText="Past Trainings from Organizer ({{pastTrainings.length}})" [value]="pastTrainings"
      numVisible="5" circular="true" autoplayInterval="5000" *ngIf="pastTrainings.length>0">
      <ng-template let-item pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <p-card styleClass="ui-card-shadow">
            <p-header>
              <div class="card-image">
                <a href="{{item.fullUrl}}">
                  <img src="{{item.imageUrl}}" onError="this.src='../../../../assets/images/banner/home/placeholder.png';"
                    alt="image">
                </a>
              </div>
            </p-header>
            <div class="card-inner">
              <div class="date">
                <span class="month">{{item.startDate | date: 'MMM'}}</span>
                <br>
                {{item.startDate | date: 'dd'}}
              </div>
              <div class="card-desc">
                <a class="javascript:void(0)" tooltipPosition="top" pTooltip="{{item.name}}"
                  class="event">{{item.name?item.name:'N/A'}}</a>
                <p class="text-right">
                  <i class="pi pi-map-marker"></i>{{item.city?item.city:'N/A'}}
                </p>
              </div>
            </div>
            <hr>
            <div class="card-desc flex_c_c">
              <p class="label-price">
                {{item.mode?item.mode:'N/A'}}
              </p>
              <p class="label-price border">
                {{item.amount?'Rs. '+item.amount:'N/A'}}
              </p>
            </div>
            <hr>
            <div class="card-desc flex_c_c">
              <p class="label-price border" (click)="handleInterest(item)">
                <i class="fa fa-star" aria-hidden="true"></i> interested
              </p>
              <p class="label-price">
                <i class="fa fa-star" aria-hidden="true"></i>
                {{item.interestCount?item.interestCount+'&nbsp; People interested':'N/A'}}
              </p>
            </div>
          </p-card>
        </div>
      </ng-template>
    </p-carousel>
    <p-carousel headerText="Past Trainings from Organizer ({{pastTrainings.length}})" [value]="noRecord" numVisible="1"
      *ngIf="pastTrainings.length==0">
      <ng-template let-item pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <p-card>
            {{item.msg}}
          </p-card>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <!-- other related trainings -->
  <div class="form-group">
    <p-carousel headerText="Other Related Trainings ({{relatedTrainings.length}})" [value]="relatedTrainings"
      numVisible="5" circular="true" autoplayInterval="5000" *ngIf="relatedTrainings.length>0">
      <ng-template let-item pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <p-card styleClass="ui-card-shadow">
            <p-header>
              <div class="card-image">
                <a href="{{item.fullUrl}}">
                  <img src="{{item.imageUrl}}" onError="this.src='../../../../assets/images/banner/home/placeholder.png';"
                    alt="image">
                </a>
              </div>
            </p-header>
            <div class="card-inner">
              <div class="date">
                <span class="month">{{item.startDate | date: 'MMM'}}</span>
                <br>
                {{item.startDate | date: 'dd'}}
              </div>
              <div class="card-desc">
                <a class="javascript:void(0)" tooltipPosition="top" pTooltip="{{item.name}}"
                  class="event">{{item.name?item.name:'N/A'}}</a>
                <p class="text-right">
                  <i class="pi pi-map-marker"></i>{{item.city?item.city:'N/A'}}
                </p>
              </div>
            </div>
            <hr>
            <div class="card-desc flex_c_c">
              <p class="label-price">
                {{item.mode?item.mode:'N/A'}}
              </p>
              <p class="label-price border">
                {{item.amount?'Rs. '+item.amount:'N/A'}}
              </p>
            </div>
            <hr>
            <div class="card-desc flex_c_c">
              <p class="label-price border" (click)="handleInterest(item)">
                <i class="fa fa-star" aria-hidden="true"></i> interested
              </p>
              <p class="label-price">
                <i class="fa fa-star" aria-hidden="true"></i>
                {{item.interestCount?item.interestCount+'&nbsp; People interested':'N/A'}}
              </p>
            </div>
          </p-card>
        </div>
      </ng-template>
    </p-carousel>
    <p-carousel headerText="Other Related Trainings ({{relatedTrainings.length}})" [value]="noRecord" numVisible="1"
      *ngIf="relatedTrainings.length==0">
      <ng-template let-item pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <p-card>
            {{item.msg}}
          </p-card>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
<app-error *ngIf="entity==null && isError"></app-error>
<p-dialog header="Feedback" [(visible)]="display" [modal]="true" [responsive]="true"
  [style]="{width: '80%', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
  <form autocomplete="off" novalidate>
    <div class="form-goup">
      <label>How satisfied were you with the training</label>
      <div>
        <p-rating></p-rating>
      </div>
    </div>
    <div class="form-goup">
      <label>What you like about the training</label>
      <textarea style="height: 150px" placeholder="What you like about the training" pInputTextarea
        autoResize="autoResize"></textarea>
    </div>
    <div class="form-goup">
      <label>How we can improve the training</label>
      <textarea style="height: 150px" placeholder="How we can improve the training" pInputTextarea
        autoResize="autoResize"></textarea>
    </div>
    <div class="form-goup">
      <label>Training you need in future</label>
      <textarea style="height: 150px" placeholder="Training you need in future" pInputTextarea
        autoResize="autoResize"></textarea>
    </div>
    <div class="form-group button-group text-right">
      <button pButton type="submit" label="Submit" class="ui-button-raised"
        (click)="handleSubmit(); display=false"></button>
      <button pButton type="button" label="Cancel" (click)="display=false"
        class="ui-button-raised ui-button-danger"></button>
    </div>
  </form>
</p-dialog>
