<form autocomplete="off" novalidate [formGroup]="aboutForm">
  <div class="form-group">
    <div class="row form-group">
      <div class="col-sm-12">
        <label>About</label>
        <p-editor formContro lName="bio" [style]="{'height':'200px'}"></p-editor>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-12">
        <label>Courses Offered</label>
        <p-editor formControlName="coursesOffered" [style]="{'height':'200px'}"></p-editor>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-12">
        <label>Keywords</label>
        <p-chips placeholder="Keywords"></p-chips>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-right">
        <button pButton type="button" label="Save" class="ui-button-raised" (click)="handleSubmit()"></button>
        <button pButton type="button" label="Cancel" class="ui-button-raised ui-button-danger"></button>
      </div>
    </div>
  </div>
</form>