<section class="meetevent-sec top-bot-pad">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>ScaledSkills: Transforming Training</h2>
        <p>ScaledSkills is a training management software specialized in transforming training.
        </p>
      </div>
      <div class="col-sm-6">
        <div class="iframeWrap">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/ITaUQ65HNn0?autoplay=1" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="media-sec top-bot-pad-small">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <p>If you have inquiry or general question,<br />
          please contact us at <a href="mailto:info@ScaledSkills.com">info@ScaledSkills.com</a>
        </p>
      </div>
    </div>
  </div>
</section>