<section class="meetevent-sec top-bot-pad">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>ScaledSkills: Transforming Training</h2>
        <p>ScaledSkills is a training management software specialized in transforming training.
        </p>
      </div>
      <div class="col-sm-6">
        <div class="iframeWrap">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/ITaUQ65HNn0?autoplay=1" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="about-wrap top-bot-pad-small">
  <div class="container">
    <div class="row text-center no-space">
      <h2>About Us</h2>
      <div class="col-md-6 col-sm-6 tick-mark-list">
        <ul>
          <li>Founded in 1999</li>
          <li>Founder and CEO, Reggie Aggarwal</li>
          <li class="last">Headquarters in Tysons Corner, Virginia (D.C. metro area)</li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6 tick-mark-list">
        <ul class="no-space ">
          <li>Nearly 4,000 employees worldwide</li>
          <li>25,000 Customers Globally</li>
          <li class="last">245,000+ hotels and venues listed on the ScaledSkills Supplier Network</li>
        </ul>
      </div>
    </div>
  </div>
</section> -->
<section class="media-sec top-bot-pad-small">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <p>If you have inquiry or general question,<br />
          please contact us at <a href="mailto:info@ScaledSkills.com">info@ScaledSkills.com</a>
        </p>
      </div>
    </div>
  </div>
</section>