<section class="meetevent-sec top-bot-pad">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <h2>Cvent: Transforming Meetings & Events</h2>
        <p> Cvent, Inc. is a leading cloud-based enterprise event management platform. Cvent offers software solutions
          to event planners for online event registration, venue selection, event management, mobile apps for events,
          e-mail marketing and web surveys. Cvent provides hoteliers with an integrated platform, enabling properties to
          increase group business demand through targeted advertising and improve conversion through proprietary demand
          management and business intelligence solutions. Cvent solutions optimise the entire event management value
          chain and have enabled clients around the world to manage hundreds of thousands of meetings and events. </p>
      </div>
      <div class="col-md-4 col-sm-4 hidden-sm hidden-xs"> <img src="../../../assets/images/about/webinar.jpg" class="img-responsive"
          alt="Cvent: Transforming Meetings & Events"> </div>
    </div>
  </div>
</section>
<section class="about-wrap top-bot-pad-small">
  <div class="container">
    <div class="row text-center no-space">
      <h2>About Us</h2>
      <div class="col-md-6 col-sm-6 tick-mark-list">
        <ul>
          <li>Founded in 1999</li>
          <li>Founder and CEO, Reggie Aggarwal</li>
          <li class="last">Headquarters in Tysons Corner, Virginia (D.C. metro area)</li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6 tick-mark-list">
        <ul class="no-space ">
          <li>Nearly 4,000 employees worldwide</li>
          <li>25,000 Customers Globally</li>
          <li class="last">245,000+ hotels and venues listed on the Cvent Supplier Network</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="media-sec top-bot-pad-small">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>Media Enquiries Contact</h2>
        <p>If you have a media inquiry or general question,<br />
          please contact us at <a href="mailto:corporatecommunications@cvent.com">corporatecommunications@cvent.com</a>
        </p>
      </div>
    </div>
  </div>
</section>