<form autocomplete="off" novalidate>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput placeholder="Website">
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput placeholder="LinkedIn">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput placeholder="Facebook">
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput placeholder="Twitter">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-right">
          <button mat-raised-button color="accent">Save</button>
          <button mat-raised-button color="warn">Cancel</button>
        </div>
      </div>
    </div>
  </form>