<form [formGroup]="credentialForm" autocomplete="off" novalidate>
  <div class="clearfix">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Current Password *</label>
          <input type="password" pInputText placeholder="Current Password" formControlName="oldPassword" />
          <p class="msgError text-danger"
            *ngIf="formControl.oldPassword.hasError('required') && (formControl.oldPassword.dirty || submitted)">
            Required Field.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">New Password *</label>
          <input type="password" pInputText placeholder="New Password" formControlName="newPassword" />
          <p class="msgError text-danger"
            *ngIf="formControl.newPassword.hasError('minlength') && formControl.newPassword.dirty">
            Password should be atleast 5 characters.
          </p>
          <p class="msgError text-danger"
            *ngIf="formControl.newPassword.hasError('required') && (formControl.newPassword.dirty || submitted)">
            Required Field.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Confirm Password *</label>
          <input type="password" pInputText placeholder="Confirm Password" formControlName="confirmPassword" />
          <p class="msgError text-danger"
            *ngIf="formControl.confirmPassword.hasError('mustMatch') && formControl.confirmPassword.dirty">
            Password and confirm password should be same.
          </p>
          <p class="msgError text-danger"
            *ngIf="formControl.confirmPassword.hasError('required') && (formControl.confirmPassword.dirty || submitted)">
            Required Field.
          </p>
        </div>
      </div>
    </div>
    <div class="form-group button-group text-right">
      <button pButton type="button" label="Save" class="ui-button-raised" (click)="handleSubmit()"></button>
      <button pButton type="button" label="Cancel" class="ui-button-raised ui-button-danger"></button>
    </div>
  </div>
</form>