<section class="bgTrainer hidden">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="text-center">
            <h2 class="ui-title-block clrWhite">How it works for Tutors and Trainers</h2>
          </div>
        </div>
      </div>
      <ngu-carousel #myCarousel [inputs]="TutorsCarouselConfig" [dataSource]="TutorslItems">
        <div *nguCarouselDef="let item;" class="item">
          <div class="text-center">
            <img class="img-circle"
              src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
              alt="Generic placeholder image" width="140" height="140">
          </div>
          <h2 class="clrWhite text-center">Post your requiment</h2>
        </div>
        <button NguCarouselNext class="rightRs">&gt;</button>
        <button NguCarouselPrev class="leftRs">&lt;</button>
        <ul class="myPoint" NguCarouselPoint>
          <li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint"
            (click)="myCarousel.moveTo(j)">
          </li>
        </ul>
      </ngu-carousel>
      <div class="row text-center bg-grey-light" style="padding: 20px;margin: 20px 0;">
        <div class="col-xs-3">
          <h2>Reach out to more Learners</h2>
          <p>Join 1000+ Gurus and enqueries!</p>
        </div>
        <div class="col-xs-9">
        </div>
      </div>
    </div>
  </section>