<section class="clearfix bg-gradient">
  <div class="container">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="flex clrWhite home-search flexVMiddle">
        <form novalidate autocomplete="off" class="width_100">
          <div class="ui-inputgroup">
            <input type="text" class="width_100" pInputText placeholder="Training Name"
              (input)="onSearchChange($event.target.value)" (keyup.enter)="getData()">
            <button class="btn searchBtn btn-primary" type="button" [ngClass]="{disabled: searchText==''}"
              (click)="getData()">
              <i class="pi pi-search"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
</section>

<section class="section-padding clearfix bgGray">
  <div class="container">
    <div class="row">
      <div class="col-sm-3" *ngFor="let item of RTList">
        <app-training-card [item]="item"></app-training-card>
        <br>
      </div>
    </div>
    <div class="form-group text-center">
      <p class="clrPurple"><strong>{{page+1}} - 16 of {{totalTraining}} Records</strong></p>
    </div>
    <div class="clearfix text-center">
      <button type="button" class="btn btn-gradient" [ngClass]="{disabled: page==0}"
        (click)="funPrevious(page)">Previous</button>
      <button type="button" class="btn btn-gradient ml15" [ngClass]="{disabled: (page+1)*pageSize>=totalTraining}"
        (click)="funNext(page)">Next</button>
    </div>
  </div>
</section>