<section class="clearfix bg-gradient">
  <div class="container">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="flex clrWhite home-search flexVMiddle">
        <form novalidate autocomplete="off" class="width_100">
          <div class="ui-inputgroup">
            <input type="text" class="width_100" pInputText placeholder="Training Name"
              (input)="onSearchChange($event.target.value)" (keyup.enter)="getData()">
            <button class="btn searchBtn btn-primary" type="button" [ngClass]="{disabled: searchText==''}"
              (click)="getData()">
              <i class="pi pi-search"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
</section>
<section class="section-padding clearfix bgGray">
  <div class="container">
    <div class="row">
      <div class="col-sm-3" *ngFor="let item of RTList">
        <p-card styleClass="ui-card-shadow">
          <p-header>
            <a href="{{item.fullUrl}}">
              <img src="{{item.imageUrl}}" onError="this.src='../../../../assets/images/banner/home/placeholder.png';"
                alt="image">
            </a>
          </p-header>
          <div class="card-inner">
            <div class="date">
              <span class="month">{{item.startDate | date: 'MMM'}}</span>
              <br>
              {{item.startDate | date: 'dd'}}
            </div>
            <div class="card-desc">
              <p tooltipPosition="top" pTooltip="{{item.name}}" class="event">{{item.name?item.name:'NA'}}
              </p>
              <p class="text-right">
                <i class="pi pi-map-marker"></i>{{item.city?item.city:'NA'}}
              </p>
            </div>
          </div>
          <hr>
          <div class="card-desc flex_c_c">
            <p class="label-price">
              {{item.mode?item.mode:'NA'}}
            </p>
            <p class="label-price border">
              Rs. {{item.amount?item.amount:'NA'}}
            </p>
          </div>
          <hr>
          <div class="card-desc flex_c_c">
            <p class="label-price border {{item.isInterested?'text-success no-cursor':''}}"
              (click)="handleInterest(item)">
              <i class="fa fa-star" aria-hidden="true"></i> interested
            </p>
            <p class="label-price">
              <i class="fa fa-star" aria-hidden="true"></i>
              {{item.interestCount?item.interestCount+'&nbsp; People interested':'NA'}}
            </p>
          </div>
        </p-card>
        <br>
      </div>
    </div>
    <div class="form-group text-center">
      <p class="clrPurple"><strong>{{page+1}} - 16 of {{totalTraining}} Records</strong></p>
    </div>
    <div class="clearfix text-center">
      <button type="button" class="btn btn-gradient" [ngClass]="{disabled: page==0}"
        (click)="funPrevious(page)">Previous</button>
      <button type="button" class="btn btn-gradient ml15" [ngClass]="{disabled: (page+1)*pageSize>=totalTraining}"
        (click)="funNext(page)">Next</button>
    </div>
  </div>
</section>