<section class="clearfix bg-gradient">
  <div class="container">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="flex clrWhite home-search flexVMiddle">
        <form novalidate autocomplete="off" class="width_100">
          <mat-form-field>
            <input matInput placeholder="Search Training">
          </mat-form-field>
        </form>

        <button type="button" class="search-btn" mat-button color="accent">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
</section>
<section class="section-padding clearfix bgGray">
  <div class="container">
    <div class="row">
      <div class="col-sm-3" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]">
        <mat-card class="example-card">
          <img mat-card-image src="../../../../assets/images/placeholder-img-purple.png" alt="image">
          <mat-card-title>Card Title</mat-card-title>
          <mat-card-subtitle>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</mat-card-subtitle>
          <mat-card-content>
            <div class="row">
              <div class="col-sm-6">
                <mat-label>
                  <i class="material-icons">location_on</i>New Delhi</mat-label>
              </div>
              <div class="col-sm-6 text-right">
                <mat-label class="label-price">Rs. 1200</mat-label>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <i class="material-icons">
                  date_range
                </i>
                <mat-label>12/2/2019</mat-label>
              </div>
            </div>
          </mat-card-content>
          <mat-card-footer>
            <button mat-button color="Primary">#tag</button>
            <button mat-button color="Primary">#tag</button>
            <button mat-button color="Primary">#tag</button>
          </mat-card-footer>
        </mat-card>
        <br>
      </div>

    </div>
    <div class="form-group text-center">
      <mat-hint class="clrPurple"><strong>1 - 16 of 42 Records</strong></mat-hint>
    </div>
    <div class="clearfix text-center">
      <button type="button" class="btn btn-gradient">Previous</button>
      <button type="button" class="btn btn-gradient ml15">Next</button>
    </div>
  </div>
</section>