<br>
<br>
<div class="container">
  <form [formGroup]="requestForm" autocomplete="off" novalidate>
    <div class="clearfix">
      <div class="row form-group">
        <div class="col-sm-6">
          <label>Filter</label>
          <p-dropdown [options]="trainingNeedDDL" formControlName="reportName" placeholder="Select" optionLabel="name"
            [showClear]="true"></p-dropdown>
        </div>
        <div class="col-sm-6">
          <label>Filter</label>
          <p-multiSelect [options]="trainingNeedDDL" formControlName="reportName" optionLabel="name"></p-multiSelect>
        </div>
      </div>
      <div class="form-group">
        <p-table [columns]="cols" [value]="cars" [paginator]="true" [rows]="10">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of columns">
                Text
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </form>
</div>