<form [formGroup]="credentialForm" autocomplete="off" novalidate>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field>
          <input type="password" matInput placeholder="Current Password" formControlName="currentPassword">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field>
          <input type="password" matInput placeholder="New Password" formControlName="newPassword">
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-right">
        <button type="button" mat-raised-button color="accent" (click)="handleSubmit()">Save</button>
        <button mat-raised-button color="warn">Cancel</button>
      </div>
    </div>
  </div>
</form>