<section>
  <div class="container">
    <div class="row">
      <br>
      <div class="col-sm-4">
        <a [routerLink]="['general']">
          <mat-card>
            <mat-card-title>GENERAL</mat-card-title>
            <mat-card-content>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </mat-card-content>
          </mat-card>
        </a>
      </div>
      <div class="col-sm-4">
        <a>
          <mat-card>
            <mat-card-title>TRAINERS</mat-card-title>
            <mat-card-content>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </mat-card-content>
          </mat-card>
        </a>
      </div>
      <div class="col-sm-4">
        <a>
          <mat-card>
            <mat-card-title>ORGANIZATION</mat-card-title>
            <mat-card-content>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </mat-card-content>
          </mat-card>
        </a>
      </div>
    </div>
  </div>
</section>