<section>
  <div class="container">
    <br>
    <h2 class="text-center"><strong>PORTFOLIO</strong></h2>
    <div class="row">
      <br>
      <div class="col-sm-4">
        <a [routerLink]="['general']">
          <mat-card>
            <mat-card-title>PERSONAL</mat-card-title>
            <mat-card-content>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </mat-card-content>
          </mat-card>
        </a>
      </div>
      <div class="col-sm-4">
        <a [routerLink]="['']">
          <mat-card>
            <mat-card-title>TRAINER</mat-card-title>
            <mat-card-content>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </mat-card-content>
          </mat-card>
        </a>
      </div>
      <div class="col-sm-4">
        <a [routerLink]="['organization/profile']">
          <mat-card>
            <mat-card-title>ORGANIZATION</mat-card-title>
            <mat-card-content>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </mat-card-content>
          </mat-card>
        </a>
      </div>
    </div>
  </div>
</section>