<section>
  <div class="container">
    <div class="row">
      <br>
      <div class="col-sm-4">
        <mat-card>
          <mat-card-title class="text-center">GENERAL</mat-card-title>
          <mat-card-content>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-sm-4">
        <mat-card>
          <mat-card-title class="text-center">TRAINERS</mat-card-title>
          <mat-card-content>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-sm-4">
        <mat-card>
          <mat-card-title class="text-center">ORGANIZATION</mat-card-title>
          <mat-card-content>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>