<div class="">
  <h2 class="text-center">Profile</h2>
  <div class="main-holder-section mt20 pt30 pb30">
    <div class="container">
      <div class="row row-same-height traineeDashboard">
        <div class="col-sm-3 col-same-height vertical-menu">
          <div class="content">
            <div class="vertical-menu-inner">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      General
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div *ngFor="let item of tabArray, let index =index">
                    <a routerLinkActive="active" [routerLink]="[item.label]">{{item.name}}</a>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Trainer
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div *ngFor="let item of tabArray, let index =index">
                    <a routerLinkActive="active" [routerLink]="[item.label]">{{item.name}}</a>
                  </div>
                </mat-expansion-panel>

              </mat-accordion>

            </div>
          </div>
        </div>
        <div class="col-sm-9 same-height dashboard-content p30">
          <div class="content">
            <div class="clearfix" style="margin-top: 10px">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>