<form [formGroup]="credentialForm" autocomplete="off" novalidate>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field>
          <input type="password" matInput placeholder="Current Password" formControlName="currentPassword">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field>
          <input type="password" matInput placeholder="New Password" formControlName="password"
            [errorStateMatcher]="matcher">
          <mat-error *ngIf="formControl.password.hasError('minlength')">
            Password should be atleast 5 characters.
          </mat-error>
          <mat-error *ngIf="formControl.password.hasError('required')">
            Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
          <mat-error *ngIf="formControl.confirmPassword.hasError('mustMatch')">
            Password and confirm password should be same.
          </mat-error>
          <mat-error *ngIf="formControl.confirmPassword.hasError('required')">
            Required
          </mat-error>
        </mat-form-field>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-right">
        <button type="submit" mat-raised-button color="accent" (click)="handleSubmit()">Save</button>
        <button mat-raised-button color="warn">Cancel</button>
      </div>
    </div>
  </div>
</form>