<br>
<br>
<div class="container">
  <form [formGroup]="requestForm" autocomplete="off" novalidate>
    <div class="clearfix">
      <div class="row form-group">
        <div class="col-sm-6">
          <label>Training Need</label>
          <p-dropdown [options]="trainingNeedDDL" formControlName="trainingNeed" placeholder="Select" optionLabel="name"
            [showClear]="true"></p-dropdown>
        </div>
        <div class="col-sm-6">
          <label>Training Type</label>
          <p-dropdown [options]="trainingNeedDDL" formControlName="trainingType" placeholder="Select" optionLabel="name"
            [showClear]="true"></p-dropdown>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-6">
          <label>Company Name</label>
          <input type="text" pInputText placeholder="Company Name" formControlName="companyName" />
        </div>
        <div class="col-sm-6">
          <label>Number of participant</label>
          <input type="text" pInputText placeholder="Participant" formControlName="participant" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-12">
          <label>Training Summary</label>
          <textarea pInputTextarea autoResize="autoResize"
            formControlName="trainingSummary"></textarea>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-12">
          <label>Description</label>
          <p-editor formControlName="description" [style]="{'height':'200px'}"></p-editor>
        </div>
      </div>
      <div class="form-group">
        <label>Budget</label>
        <input type="text" pInputText placeholder="Budget" formControlName="budget" />
      </div>
      <div formGroupName="address">
        <div class="row form-group">
          <div class="col-sm-6">
            <label>Country</label>
            <p-dropdown [options]="trainingNeedDDL" formControlName="countryId" placeholder="Select" optionLabel="name"
              [showClear]="true"></p-dropdown>
          </div>
          <div class="col-sm-6">
            <label>State</label>
            <p-dropdown [options]="trainingNeedDDL" formControlName="stateId" placeholder="Select" optionLabel="name"
              [showClear]="true"></p-dropdown>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-6">
            <label>City</label>
            <p-dropdown [options]="trainingNeedDDL" formControlName="city" placeholder="Select" optionLabel="name"
              [showClear]="true"></p-dropdown>
          </div>
          <div class="col-sm-6">
            <label>zip Code</label>
            <input type="text" pInputText placeholder="zip Code" formControlName="zipCode">
          </div>
        </div>
      </div>
      <div class="form-group">
        <p-chips formControlName="keywords"></p-chips>
      </div>
      <div class="form-group button-group text-right">
        <button pButton type="submit" label="Submit" class="ui-button-raised" (click)="handleSubmit()"></button>
        <button pButton type="button" label="Cancel" class="ui-button-raised ui-button-danger"></button>
      </div>
    </div>
  </form>
</div>