<br>
<br>
<div class="container">
  <form [formGroup]="requestForm" autocomplete="off" novalidate>
    <div class="clearfix">
      <div class="row form-group">
        <div class="col-sm-6">
          <label>Training Need</label>
            <p-dropdown [options]="trainingNeedDDL" formControlName="needTypeObj" placeholder="Select"
                optionLabel="text" optionValue="value" [showClear]="true" (onChange)="handleOnChangeId($event, 'needType')">
              </p-dropdown>
        </div>
        <div class="col-sm-6">
          <label>Training Type</label>
            <p-dropdown [options]="trainingTypeDDL" formControlName="trainingTypeObj" placeholder="Select"
                optionLabel="text" optionValue="value" [showClear]="true" (onChange)="handleOnChangeId($event, 'trainingType')">
              </p-dropdown>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-6">
          <label>Company Name</label>
          <input type="text" pInputText placeholder="Company Name" formControlName="companyName" />
        </div>
        <div class="col-sm-6">
          <label>Number of participant</label>
          <input type="text" pInputText placeholder="Participant" formControlName="numberOfParticipant" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-12">
          <label>Training Summary</label>
          <textarea pInputTextarea autoResize="autoResize" formControlName="summery"></textarea>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-12">
          <label>Description</label>
          <p-editor formControlName="description" [style]="{'height':'200px'}"></p-editor>
        </div>
      </div>
      <div class="form-group">
        <label>Budget</label>
        <input type="text" pInputText placeholder="Budget" formControlName="budget" />
      </div>
      <div formGroupName="address">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="">Country</label>
              <p-dropdown [options]="countryList" formControlName="countryObj" placeholder="Select Country"
                optionLabel="text" optionValue="value" [showClear]="true" (onChange)="onChangeCountry($event)">
              </p-dropdown>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="">State</label>
              <p-dropdown [options]="stateList" formControlName="stateObj" placeholder="Select State" optionLabel="text"
                [showClear]="true" (onChange)="onChangeState($event)"></p-dropdown>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="">City</label>
              <input pInputText placeholder="City" formControlName="city">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="">Zip</label>
              <input pInputText placeholder="Zip/Postal" formControlName="zipCode">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Keywords</label>
        <p-chips formControlName="keywords" placeholder="Keywords"></p-chips>
      </div>
      <div class="form-group button-group text-right">
        <button pButton type="button" label="Submit" class="ui-button-raised" (click)="handleSubmit()"></button>
        <button pButton type="button" label="Cancel" class="ui-button-raised ui-button-danger"></button>
      </div>
    </div>
  </form>
</div>