<br>
<br>
<div class="container">
  <form [formGroup]="requestForm" autocomplete="off" novalidate>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Training Need</mat-label>
            <mat-select formControlName="trainingNeed">
              <mat-option value="0">Select</mat-option>
              <mat-option value="1">Corporate</mat-option>
              <mat-option value="2">Individual</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Training Type</mat-label>
            <mat-select formControlName="trainingType">
              <mat-option value="0">Select</mat-option>
              <mat-option value="1">Online</mat-option>
              <mat-option value="2">Classroom</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput placeholder="Company Name" formControlName="companyName">
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput placeholder="Number of participant" formControlName="participant">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <mat-form-field>
            <input matInput placeholder="Training Summary" formControlName="trainingSummary">
          </mat-form-field>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-12">
          <mat-label>Description</mat-label>
          <p-editor formControlName="description" [style]="{'height':'200px'}"></p-editor>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <input matInput placeholder="Budget" formControlName="budget">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div formGroupName="address">
          <div class="col-sm-6">
            <div>
              <mat-form-field>
                <mat-label>Country</mat-label>
                <mat-select formControlName="countryId">
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-6">
            <div>
              <mat-form-field>
                <mat-label>State</mat-label>
                <mat-select formControlName="stateId">
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-6">
            <div>
              <mat-form-field>
                <mat-label>City</mat-label>
                <mat-select formControlName="city">
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-6">
            <div>
              <mat-form-field>
                <input matInput placeholder="zip Code" formControlName="zipCode">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <mat-form-field>
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let item of keywordList" [selectable]="selectable" [removable]="removable"
                (removed)="remove(item)">
                {{item.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="Keywords" [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-right">
          <button type="submit" mat-raised-button color="primary" (click)="handleSubmit()">Submit</button>
          <button mat-raised-button color="warn">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>