<form [formGroup]="traineeReviewForm" autocomplete="off" novalidate>
  <div class="form-goup">
    <label>How satisfied were you with the training</label>
    <div>
      <p-rating formControlName="rateOfSatisfied"></p-rating>
    </div>
  </div>
  <div class="form-goup">
    <label>What you like about the training</label>
    <input type="text" pInputText formControlName="likeAbout">
  </div>
  <div class="form-goup">
    <label>How we can improve the training</label>
    <input type="text" pInputText formControlName="improveAbout">
  </div>
  <div class="form-goup">
    <label>Training you need in feature</label>
    <textarea pInputTextarea autoResize="autoResize" formControlName="needInFeature"></textarea>
  </div>
  <div class="form-group clearfix button-group text-right">
    <button pButton type="button" label="Cancel" class="ui-button-raised ui-button-danger" (click)="handleCancel()"></button>
    <button pButton type="button" label="Save" class="ui-button-raised" (click)="handleSubmit()"></button>
  </div>
</form>
<p-table [value]="listData">
  <ng-template pTemplate="header">
    <tr>
      <th>Rating</th>
      <th>About Training</th>
      <th>Suggestions</th>
      <th>Future Ttraining needed</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>
          <span class="fa fa-star clrPurple"  *ngFor="let dummy of ' '.repeat(item.rateOfSatisfied).split(''), let x = index"></span>
          <span class="fa fa-star"  *ngFor="let dummy of ' '.repeat(5-item.rateOfSatisfied).split(''), let x = index"></span>
        </td>
      <td>{{item.likeAbout}}</td>
      <td>{{item.improveAbout}}</td>
      <td>{{item.needInFeature}}</td>
    </tr>
  </ng-template>
</p-table>