<div class="payment-error">
  <div class="container">
    <div class="top-container">
      <h2 class="clr-red"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> We are sorry but the transaction failed.</h2>
      <p>
        Reason for failure : Transaction Declined
      </p>
    </div>
    <div class="bottom-container">
      <p>Retry the transaction</p>
      <button type="button" class="btn btn-success">
        Try Again
      </button>
        or go Go back to <a [routerLink]="['/home']">
        <strong>www.ScaledSkills.com</strong>
      </a>
    </div>
  </div>
</div>
