<section class="textimonialBg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="text-center">
            <h2 class="ui-title-block">What experts say about ScaledSkills</h2>
          </div>
        </div>
      </div>
    </div>
    <ngu-carousel #myCarousel [inputs]="TestimonialCarouselConfig" [dataSource]="TestimonialDataSource" class="">
      <div *nguCarouselDef="let item;" class="item">
        <div class="text-center">
          <blockquote class="b-blockquote">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non voluptatibus architecto adipisci. Quia
              atque amet labore fugiat tenetur! Doloribus vitae unde fugit tempora autem ratione in iste aliquid vel
              aspernatur?</p>
          </blockquote>
        </div>
      </div>
      <!-- <button NguCarouselNext class="rightRs">&gt;</button>
      <button NguCarouselPrev class="leftRs">&lt;</button> -->
      <ul class="myPoint" NguCarouselPoint>
        <li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint"
          (click)="myCarousel.moveTo(j)">
        </li>
      </ul>
    </ngu-carousel>
  </div>
</section>