<form [formGroup]="formElement" autocomplete="off" novalidate>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Organization Name *</label>
          <input type="text" pInputText placeholder="Organization Name" formControlName="name" (change)="upateUrl()" />
          <p class="msgError text-danger"
            *ngIf="formControl.name.hasError('required') && (formControl.name.dirty || submitted)">
            Required Field.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Contact Person or Owner Name *</label>
          <input type="text" pInputText placeholder="Contact Person or Owner Name" formControlName="ownerName" />
          <p class="msgError text-danger"
            *ngIf="formControl.ownerName.hasError('required') && (formControl.ownerName.dirty || submitted)">
            Required Field.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div formGroupName="address">
        <div class="col-sm-12">
          <label for="">Address</label>
          <div class="form-group">
            <input pInputText placeholder="Address 1" formControlName="address1">
          </div>
          <div class="form-group">
            <input pInputText placeholder="Address 2" formControlName="address2">
          </div>
          <div class="form-group">
            <input pInputText placeholder="Address 2" formControlName="address3">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Country</label>
            <angular2-multiselect class="form-control" [data]="countryList" [(ngModel)]="selectedCountry"
              [settings]="settings" formControlName="countryObj" (onSelect)="OnCountrySelect($event)"
              (onDeSelect)="OnCountryDeSelect($event)"></angular2-multiselect>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">State</label>
            <angular2-multiselect class="form-control" [data]="stateList" [(ngModel)]="selectedState"
              [settings]="settings" formControlName="stateObj" (onSelect)="onChangeState($event)"
              (onDeSelect)="OnStateDeSelect($event)"></angular2-multiselect>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">City</label>
            <input pInputText placeholder="City" formControlName="city">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Zip/Postal Code</label>
            <input pInputText placeholder="Zip/Postal Code" formControlName="zipCode">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" [ngClass]="{disabled: !formControl.name.value}">
        <label for="">Profile Url</label>
        <div class="form-group">
          <div class="flex vMiddle urlBox">
            <div class="fixed-input">{{formControl.baseUrl.value}}</div>
            <input type="text" pInputText placeholder="Enter Url" formControlName="profileUrl" class="disabled">
            <i class="pi pi-copy cursor-pointer" [ngClass]="isCopied?'pi-check':'pi-copy'" style="font-size: 2em"
              (click)="copyText()"></i>
          </div>
          <p class="msgError text-success" *ngIf="isCopied">Url Copied to clipboard.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Email *</label>
          <input pInputText placeholder="Email" formControlName="email">
          <p class="msgError text-danger" *ngIf="formControl.email.hasError('email') &&
                        !formControl.email.hasError('required')">
            Please enter a valid email address
          </p>
          <p class="msgError text-danger"
            *ngIf="formControl.email.hasError('required') && (formControl.email.dirty || submitted)">
            Required Field.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Mobile Number *</label>
          <input pInputText placeholder="Mobile Number" formControlName="phoneNumber">
          <p class="msgError" *ngIf="formControl.phoneNumber.hasError('minlength')">
            Atleast 10 numbers.
          </p>
          <p class="msgError" *ngIf="formControl.phoneNumber.hasError('maxlength')">
            Max 10 numbers.
          </p>
          <p class="msgError"
            *ngIf="formControl.phoneNumber.hasError('required') && (formControl.phoneNumber.dirty || submitted)">
            Required Field.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">GST Detail</label>
          <input pInputText placeholder="GST" formControlName="gst">
          <p class="msgError" *ngIf="formControl.gst.hasError('minlength')">
            Atleast 15 characters.
          </p>
          <p class="msgError" *ngIf="formControl.gst.hasError('maxlength')">
            Max 15 characters.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">PAN Card Detail</label>
          <input pInputText placeholder="Pan Number" formControlName="panNumber">
          <p class="msgError" *ngIf="formControl.panNumber.hasError('minlength')">
            Atleast 10 characters.
          </p>
          <p class="msgError" *ngIf="formControl.panNumber.hasError('maxlength')">
            Max 10 characters.
          </p>
        </div>
      </div>
    </div>
    <div class="clearfix form-group">
      <label for="">Upload any one id proof</label>
      <p-fileUpload name="file" multiple="false" accept="image/*" maxFileSize="1000000" customUpload="true"
        (uploadHandler)="myUploader($event, 'idProof')">
      </p-fileUpload>
    </div>
    <div class="form-group clearfix button-group text-right">
      <button pButton type="button" label="Submit" class="ui-button-raised" (click)="handleSubmit()"></button>
      <button pButton type="button" label="Cancel" class="ui-button-raised ui-button-danger"></button>
    </div>
  </div>
</form>