<form [formGroup]="formElement" autocomplete="off" novalidate>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Organization Name <span class="required">*</span></label>
          <input type="text" pInputText placeholder="Organization Name" formControlName="name" (change)="upateUrl()" />
          <p class="msgError text-danger"
            *ngIf="formControl.name.hasError('required') && (formControl.name.dirty || submitted)">
            Required Field.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Contact Person or Owner Name <span class="required">*</span></label>
          <input type="text" pInputText placeholder="Contact Person or Owner Name" formControlName="ownerName" />
          <p class="msgError text-danger"
            *ngIf="formControl.ownerName.hasError('required') && (formControl.ownerName.dirty || submitted)">
            Required Field.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div formGroupName="address">
        <div class="col-sm-12">
          <label for="">Address <span class="required">*</span></label>
          <div class="form-group">
            <input pInputText placeholder="Address 1" formControlName="address1">
            <p class="msgError text-danger"
              *ngIf="formElement.get(['address', 'address1']).invalid && (formElement.get(['address', 'address1']).dirty || submitted)">
              <small *ngIf="formElement.get(['address', 'address1']).hasError('required')">
                Required Field.
              </small>
            </p>
          </div>
          <div class="form-group">
            <input pInputText placeholder="Address 2" formControlName="address2">
          </div>
          <div class="form-group">
            <input pInputText placeholder="Address 3" formControlName="address3">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Country <span class="required">*</span></label>
            <angular2-multiselect class="form-control" [data]="countryList" [(ngModel)]="selectedCountry"
              [settings]="settings" formControlName="countryObj" (onSelect)="OnCountrySelect($event)"
              (onDeSelect)="OnCountryDeSelect($event)"></angular2-multiselect>
              <p class="msgError text-danger"
              *ngIf="formElement.get(['address', 'countryId']).invalid && (formElement.get(['address', 'countryId']).dirty || submitted)">
              <small *ngIf="formElement.get(['address', 'countryId']).hasError('required')">
                Required Field.
              </small>
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">State</label>
            <angular2-multiselect class="form-control" [data]="stateList" [(ngModel)]="selectedState"
              [settings]="settings" formControlName="stateObj" (onSelect)="onChangeState($event)"
              (onDeSelect)="OnStateDeSelect($event)"></angular2-multiselect>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">City <span class="required">*</span></label>
            <input pInputText placeholder="City" formControlName="city">
            <p class="msgError text-danger">
              <small
                *ngIf="formElement.get(['address', 'city']).hasError('required') && (formElement.get(['address', 'city']).dirty || submitted)">
                Required Field.
              </small>
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Zip/Postal Code <span class="required">*</span></label>
            <input pInputText placeholder="Zip/Postal Code" formControlName="zipCode">
            <p class="msgError text-danger"
              *ngIf="formElement.get(['address', 'zipCode']).invalid && (formElement.get(['address', 'zipCode']).dirty || submitted)">
              <small *ngIf="formElement.get(['address', 'zipCode']).hasError('required')">
                Required Field.
              </small>
              <small *ngIf="formElement.get(['address', 'zipCode']).hasError('minlength')">
                Minimum 6 digits.
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <label for="">Profile Url <span class="required">*</span></label>
        <div class="form-group">
          <div class="flex vMiddle urlBox">
            <div class="fixed-input">{{formControl.baseUrl.value}}</div>
            <input type="text" formControlName="profileUrl" pInputText placeholder="Enter Here"
              [ngClass]="isUrl?'disabled':''" (keyup)="upateUrl()">
          </div>
          <p class="msgError text-danger"
            *ngIf="formControl.profileUrl.invalid && (formControl.profileUrl.dirty || submitted)">
            <small *ngIf="formControl.profileUrl.hasError('required')">
              Required Field.
            </small>
          </p>
          <div class="text-right msgError">
            <p class="inline-block" *ngIf="!isUrl" [ngClass]="isValidateUrl?'text-success':'text-danger'">
              <strong>{{urlValidationMsg}} &nbsp; &nbsp;</strong></p>
            <a class="cursor-pointer" href="javascript:void(0)" (click)="validateUrl()"
              *ngIf="!isUrl && !isValidateUrl && formControl['profileUrl'].value">Validate Url</a>
            <a class="cursor-pointer" href="javascript:void(0)" (click)="viewProfile()" *ngIf="isUrl">View Profile</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Email <span class="required">*</span></label>
          <input pInputText placeholder="Email" formControlName="email">
          <p class="msgError text-danger" *ngIf="formControl.email.hasError('email') &&
                        !formControl.email.hasError('required')">
            Please enter a valid email address
          </p>
          <p class="msgError text-danger"
            *ngIf="formControl.email.hasError('required') && (formControl.email.dirty || submitted)">
            Required Field.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Mobile Number <span class="required">*</span></label>
          <input pInputText placeholder="Mobile Number" formControlName="phoneNumber" maxlength="10" digitOnly>
          <p class="msgError" *ngIf="formControl.phoneNumber.hasError('minlength')">
            Atleast 10 numbers.
          </p>
          <p class="msgError" *ngIf="formControl.phoneNumber.hasError('maxlength')">
            Max 10 numbers.
          </p>
          <p class="msgError"
            *ngIf="formControl.phoneNumber.hasError('required') && (formControl.phoneNumber.dirty || submitted)">
            Required Field.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">GST Detail</label>
          <input pInputText placeholder="GST" formControlName="gst">
          <p class="msgError" *ngIf="formControl.gst.hasError('minlength')">
            Atleast 15 characters.
          </p>
          <p class="msgError" *ngIf="formControl.gst.hasError('maxlength')">
            Max 15 characters.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">PAN Card Detail</label>
          <input pInputText placeholder="Pan Number" formControlName="panNumber">
          <p class="msgError" *ngIf="formControl.panNumber.hasError('minlength')">
            Atleast 10 characters.
          </p>
          <p class="msgError" *ngIf="formControl.panNumber.hasError('maxlength')">
            Max 10 characters.
          </p>
        </div>
      </div>
    </div>
    <div class="clearfix form-group">
      <label for="">Upload any one id proof</label>
      <p-fileUpload name="file" multiple="false" accept="image/*" maxFileSize="1000000" customUpload="true"
        (uploadHandler)="myUploader($event, 'idProof')">
      </p-fileUpload>
    </div>
    <div class="form-group clearfix button-group text-right">
      <button pButton type="button" label="Submit" class="ui-button-raised" (click)="handleSubmit()"></button>
      <button pButton type="button" label="Cancel" class="ui-button-raised ui-button-danger"></button>
    </div>
  </div>
</form>
