<div class="container section-padding">
  <div class="row-same-height row">
    <div class="col-same-height col-sm-6 flexVMiddle">
      <div class="form-wrapper content">
        <h2>SIGN UP</h2>
        <form [formGroup]="registerForm" autocomplete="off" novalidate>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="">First Name *</label>
                <input type="text" placeholder="First Name" pInputText formControlName="firstName" />
                <p class="msgError"
                  *ngIf="formControl.firstName.hasError('required') && (formControl.firstName.dirty || submitted) ">
                  Required Field.
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="">Last Name *</label>
                <input class="width_100" type="text" placeholder="Last Name" pInputText formControlName="lastName" />
                <p class="msgError"
                  *ngIf="formControl.lastName.hasError('required') && (formControl.lastName.dirty || submitted)">
                  Required Field.
                </p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="">Email address *</label>
            <input class="width_100" type="text" placeholder="Email address" pInputText formControlName="email" />
            <p class="msgError text-danger" *ngIf="formControl.email.hasError('email') &&
                  !formControl.email.hasError('required')">
              Please enter a valid email address
            </p>
            <p class="msgError"
              *ngIf="formControl.email.hasError('required') && (formControl.email.dirty || submitted)">
              Required Field.
            </p>
          </div>
          <div class="form-group">
            <label for="">Mobile Number *</label>
            <input type="text" placeholder="Mobile Number" pInputText formControlName="phoneNumber" digitOnly />
            <p class="msgError" *ngIf="formControl.phoneNumber.hasError('minlength')">
              Atleast 10 numbers.
            </p>
            <p class="msgError" *ngIf="formControl.phoneNumber.hasError('maxlength')">
              Max 10 numbers.
            </p>
            <p class="msgError"
              *ngIf="formControl.phoneNumber.hasError('required') && (formControl.phoneNumber.dirty || submitted)">
              Required Field.
            </p>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="">Password *</label>
                <input class="width_100" type="password" placeholder="Password" pInputText formControlName="password" />
                <p class="msgError" *ngIf="formControl.password.hasError('minlength')">
                  Password should be atleast 5 characters.
                </p>
                <p class="msgError"
                  *ngIf="formControl.password.hasError('required') && (formControl.password.dirty || submitted)">
                  Required Field.
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="">Confirm Password *</label>
                <input class="width_100" type="password" placeholder="Confirm Password" pInputText
                  formControlName="confirmPassword" />
                <p class="msgError" *ngIf="formControl.confirmPassword.hasError('mustMatch')">
                  Password and confirm password should be same.
                </p>
                <p class="msgError"
                  *ngIf="formControl.confirmPassword.hasError('required') && (formControl.confirmPassword.dirty || submitted)">
                  Required Field.
                </p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div>By signing up, I agree to ScaledSkills
              <a [routerLink]="['/home/terms']"><b>T&C</b></a>
              and
              <a [routerLink]="['/home/privacy']"><b>Privacy Policy</b></a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <button pButton type="button" label="SIGN UP" class="ui-button-raised ui-button-success"
                [disabled]="!registerForm.valid" (click)="handleSubmitForm()"></button>
            </div>
            <div class="col-sm-6 text-right">
              <span class="mar-r-15">
                Aleady registered?
              </span>
              <button pButton type="button" label="LOGIN" class="ui-button-raised"
                [routerLink]="['/auth/login']"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-same-height col-sm-6 text-center flexVMiddle bgGray">
      <div class="form-wrapper content">
        <div class="social-opton">
          <div class="">
            <div class="mb-5">
              <button type="button" class="btn btn-fb"><i class="fa fa-facebook"
                  aria-hidden="true"></i>Facebook</button>
            </div>
            <div class="mb-5">
              <button type="button" class="btn btn-li"><i class="fa fa-linkedin"
                  aria-hidden="true"></i>LINKEDIN</button>
            </div>
            <div class="mb-5">
              <button type="button" class="btn btn-gplus"><i class="fa fa-google" aria-hidden="true"></i>GOOGLE</button>
            </div>
          </div>
          <div class="">
            <div class="">
              <hr>
              <div class="text-center">
                <div color="warn">Trouble signing in?</div>
                <div>
                  <button pButton type="button" label="REPORT AN ISSUE"
                    class="ui-button-raised ui-button-warning"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>