<div class="container section-padding">
  <div class="row-same-height row">
    <div class="col-same-height col-sm-3 flexVMiddle"></div>
    <div class="col-same-height col-sm-6 flexVMiddle bgGray">
      <div class="form-wrapper content">
        <h2>SIGN UP</h2>
        <form [formGroup]="registerForm" autocomplete="off" novalidate>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="">First Name <span class="required">*</span></label>
                <input type="text" placeholder="Enter Here" pInputText formControlName="firstName" />
                <p class="msgError text-danger"
                  *ngIf="formControl.firstName.invalid && (formControl.firstName.dirty || submitted)">
                  <small *ngIf="formControl.firstName.hasError('required')">
                    Required Field.
                  </small>
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="">Last Name <span class="required">*</span></label>
                <input class="width_100" type="text" placeholder="Enter Here" pInputText formControlName="lastName" />
                <p class="msgError text-danger"
                  *ngIf="formControl.lastName.invalid && (formControl.lastName.dirty || submitted)">
                  <small *ngIf="formControl.lastName.hasError('required')">
                    Required Field.
                  </small>
                </p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="">Email address <span class="required">*</span></label>
            <input class="width_100" type="text" placeholder="Enter Here" pInputText formControlName="email" />
            <p class="msgError text-danger" *ngIf="formControl.email.invalid && (formControl.email.dirty || submitted)">
              <small *ngIf="formControl.email.hasError('email') &&
                    !formControl.email.hasError('required')">
                Please enter a valid email address
              </small>
              <small *ngIf="formControl.email.hasError('required')">
                Required Field.
              </small>
            </p>
          </div>
          <div class="form-group">
            <label for="">Mobile Number <span class="required">*</span></label>
            <div class="row">
              <div class="col-sm-4" style="padding-right: 0">
                <angular2-multiselect [data]="countryList" [(ngModel)]="selectedCountry" [settings]="countrySettings"
                  (onSelect)="OnCountrySelect($event)" (onDeSelect)="OnCountryDeSelect($event)"
                  formControlName="countryObj">
                  <c-badge>
                    <ng-template let-item="item">
                      ({{item.countryCode}}) {{item.text}}
                    </ng-template>
                  </c-badge>
                  <c-item>
                    <ng-template let-item="item">
                      {{item.text}}
                    </ng-template>
                  </c-item>
                </angular2-multiselect>
              </div>

              <div class="col-sm-8" [ngClass]="{disabled: formControl.countryCode.value==null}">
                <input type="text" placeholder="Enter Here" pInputText formControlName="phoneNumber" digitOnly />
              </div>
            </div>
            <p class="msgError text-danger"
              *ngIf="formControl.phoneNumber.invalid && (formControl.phoneNumber.dirty || submitted)">
              <small *ngIf="formControl.phoneNumber.hasError('maxlength')">
                Max 10 numbers.
              </small>
              <small *ngIf="formControl.phoneNumber.hasError('minlength')">
                Atleast 10 numbers.
              </small>
              <small *ngIf="formControl.phoneNumber.hasError('required')">
                Required Field.
              </small>
            </p>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="">Password <span class="required">*</span></label>
                <input class="width_100" type="password" placeholder="Enter Here" pInputText formControlName="password" />
                <p class="msgError text-danger"
                  *ngIf="formControl.password.invalid && (formControl.password.dirty || submitted)">
                  <small *ngIf="formControl.password.hasError('minlength')">
                    Password should be atleast 5 characters.
                  </small>
                  <small *ngIf="formControl.password.hasError('required')">
                    Required Field.
                  </small>
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="">Confirm Password <span class="required">*</span></label>
                <input class="width_100" type="password" placeholder="Enter Here" pInputText
                  formControlName="confirmPassword" />
                <p class="msgError text-danger"
                  *ngIf="formControl.confirmPassword.invalid && (formControl.confirmPassword.dirty || submitted)">
                  <small *ngIf="formControl.confirmPassword.hasError('mustMatch')">
                    Password and confirm password should be same.
                  </small>
                  <small *ngIf="formControl.confirmPassword.hasError('required')">
                    Required Field.
                  </small>
                </p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div>By signing up, I agree to ScaledSkills
              <a [routerLink]="['/home/terms']"><b>T&C</b></a>
              and
              <a [routerLink]="['/home/privacy']"><b>Privacy Policy</b></a>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-6">
              <button pButton type="button" label="SIGN UP" class="ui-button-raised ui-button-success"
                (click)="handleSubmitForm()"></button>
            </div>
            <div class="col-sm-6 text-right">
              <span class="mar-r-15">
                Aleady registered?
              </span>
              <button pButton type="button" label="LOGIN" class="ui-button-raised"
                [routerLink]="['/auth/login']"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-same-height col-sm-3 flexVMiddle"></div>
    <!-- <div class="col-same-height col-sm-6 text-center flexVMiddle bgGray">
      <div class="form-wrapper content">
        <div class="social-opton">
          <div class="">
            <div class="mb-5">
              <button type="button" class="btn btn-fb"><i class="fa fa-facebook"
                  aria-hidden="true"></i>Facebook</button>
            </div>
            <div class="mb-5">
              <button type="button" class="btn btn-li"><i class="fa fa-linkedin"
                  aria-hidden="true"></i>LINKEDIN</button>
            </div>
            <div class="mb-5">
              <button type="button" class="btn btn-gplus"><i class="fa fa-google" aria-hidden="true"></i>GOOGLE</button>
            </div>
          </div>
          <div class="">
            <div class="">
              <hr>
              <div class="text-center">
                <div color="warn">Trouble signing in?</div>
                <div>
                  <button pButton type="button" label="REPORT AN ISSUE"
                    class="ui-button-raised ui-button-warning"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>