<div class="container" *ngIf="entity!=null">
  <div class="">
    <div class="header_detail">
      <div class="userThumbWrap">
        <div class="thumb trainer">
          <img src="../../../assets/images/placeholder-image.jpg" alt="" class="img-responsive">
        </div>
        <div class="text-desc">
          <h3>{{entity.user && entity.user.name?entity.user.name:'N/A'}}
            &nbsp;
            <button type="button" class="btn btn-gradient bookBtn">
              4.3&nbsp;<i class="fa fa-star"></i>&nbsp;|&nbsp;&nbsp;831 Users
            </button></h3>
          <div>
            <strong>Address:</strong>
            {{entity.user.address.address1 +', '}}
            {{entity.user.address.address2 +', '}}
            {{entity.user.address.address3 +', '}}
            {{entity.user.address.city +', '}}
            {{entity.user.address.stateObj.text +', '}}
            {{entity.user.address.countryObj.text}}
          </div>
          <div><strong>Email:</strong> {{entity.user && entity.user.email?entity.user.email:'N/A'}}</div>
          <div><strong>Phone:</strong> {{entity.user && entity.user.phoneNumber?entity.user.phoneNumber:'N/A'}}</div>
          <div><strong>Website:</strong>
            <span>
              <a class="cursor-pointer" [ngClass]="entity.social && entity.social[0].websiteUrls?'':'disabled'"
                (click)="openUrl(entity.social[0].websiteUrls)">
                {{entity.social && entity.social[0].websiteUrls?entity.social[0].websiteUrls:'N/A'}}
              </a>
            </span>
          </div>
          <div>
            <strong>Connect with me:</strong>
            <div class="trainingActions inline-block ml15">
              <div class="flex feed-row">
                <div class="item round"
                  [ngClass]="(entity.social && entity.social[0].linkedInUrls)?'cursor-pointer':'disabled'">
                  <i class="fa fa-linkedin" aria-hidden="true" (click)="openUrl(entity.social[0].linkedInUrls)"></i>
                </div>
                <div class="item round"
                  [ngClass]="(entity.social && entity.social[0].facebookUrls)?'cursor-pointer':'disabled'">
                  <i class="fa fa-facebook-square" aria-hidden="true"
                    (click)="openUrl(entity.social[0].facebookUrls)"></i>
                </div>
                <div class="item round"
                  [ngClass]="(entity.social && entity.social[0].twitterUrls)?'cursor-pointer':'disabled'">
                  <i class="fa fa-twitter" aria-hidden="true" (click)="openUrl(entity.social[0].twitterUrls)"></i>
                </div>
                <!-- <div class="item cursor-pointer round">
                            <a [href]="https://www.google.com/" appExternalUrl><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                          </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="trainingActions">
        <div class="inline-block">
          <div class="flex feed-row">
            <div class="item">
              <p-splitButton label="Share" styleClass="ui-button-success" icon="pi pi-share-alt" [model]="shareOptions">
              </p-splitButton>
            </div>
            <div class="item cursor-pointer text-primary" (click)="hendleFollowMe()"
              [ngClass]="entity.isFollow?'no-cursor':''">
              <i class="fa fa-rss" aria-hidden="true"></i>&nbsp;{{entity.isFollow?'Following':'Follow'}}
            </div>
            <div class="item cursor-pointer clrPurple" (click)="showSendMesage()">
              <i class="fa fa-envelope clrPurple" aria-hidden="true"></i>&nbsp;Send Message</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-line top bottom invisible"></div>
  <div class="training-page-content">
    <ul class="tab-menu">
      <li>
        <a href="javascript:void(0)" class="active">
          About
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          Courses Offered
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          Upcoming Trainings
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          Past Trainings
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          Members
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          Reviews
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div>
        <h3>About</h3>
        <p [innerHTML]="entity.about && entity.about.aboutText?entity.about.aboutText:'N/A'"></p>
      </div>
      <div class="border-line top bottom"></div>
      <div>
        <h3>Courses</h3>
        <p [innerHTML]="entity.about && entity.about.coursesOfferedText?entity.about.coursesOfferedText:'N/A'"></p>
      </div>
      <div class="border-line top bottom"></div>
      <div class="form-group">
        <p-carousel headerText="Upcoming Trainings ({{upcommingTrainings.length}})" [value]="upcommingTrainings"
          numVisible="5" circular="true" autoplayInterval="5000"
          *ngIf="upcommingTrainings && upcommingTrainings.length>0">
          <ng-template let-item pTemplate="item">
            <div class="ui-grid ui-grid-responsive">
              <app-training-card [item]="item"></app-training-card>
            </div>
          </ng-template>
        </p-carousel>
        <p-carousel headerText="Upcoming Trainings  ({{upcommingTrainings.length}})" [value]="noRecord" numVisible="1"
          *ngIf="upcommingTrainings && upcommingTrainings.length==0">
          <ng-template let-item pTemplate="item">
            <div class="ui-grid ui-grid-responsive">
              <p-card>
                {{item.msg}}
              </p-card>
            </div>
          </ng-template>
        </p-carousel>
      </div>
      <div class="border-line top bottom"></div>
      <!-- past training -->
      <div class="form-group">
        <p-carousel headerText="Past Trainings ({{pastTrainings.length}})" [value]="pastTrainings" numVisible="5"
          circular="true" autoplayInterval="5000" *ngIf="pastTrainings && pastTrainings.length>0">
          <ng-template let-item pTemplate="item">
            <div class="ui-grid ui-grid-responsive">
              <app-training-card [item]="item"></app-training-card>
            </div>
          </ng-template>
        </p-carousel>
        <p-carousel headerText="Past Trainings  ({{pastTrainings.length}})" [value]="noRecord" numVisible="1"
          *ngIf="pastTrainings.length==0">
          <ng-template let-item pTemplate="item">
            <div class="ui-grid ui-grid-responsive">
              <p-card>
                {{item.msg}}
              </p-card>
            </div>
          </ng-template>
        </p-carousel>
      </div>
      <!-- past trainings ends -->
      <div class="form-group">
        <p-carousel headerText="Members ({{pastTrainings.length}})" [value]="pastTrainings" numVisible="5"
          circular="true" autoplayInterval="5000" *ngIf="pastTrainings && pastTrainings.length>0">
          <ng-template let-item pTemplate="item">
            <div class="ui-grid ui-grid-responsive">
              <app-training-card [item]="item"></app-training-card>
            </div>
          </ng-template>
        </p-carousel>
        <p-carousel headerText="Members  ({{pastTrainings.length}})" [value]="noRecord" numVisible="1"
          *ngIf="pastTrainings.length==0">
          <ng-template let-item pTemplate="item">
            <div class="ui-grid ui-grid-responsive">
              <p-card>
                {{item.msg}}
              </p-card>
            </div>
          </ng-template>
        </p-carousel>
      </div>
      <div class="border-line top bottom"></div>
      <div class="rewiew-wrap">
        <div class="form-group">
          <p-card class="training-reviews">
            <div class="userThumbWrap">
              <div class="thumb">
                <img src="../../../assets/images/placeholder-image.jpg" alt="" class="img-responsive">
              </div>
              <div class="text-desc">
                <h3>{{entity.user && entity.user.firstName?entity.user.firstName:''}}
                  {{entity.user && entity.user.lastName?entity.user.lastName:''}}
                </h3>
                <p>attended Web Development Programme</p>
                <p>posted on 24 Oct, 2018</p>
              </div>
            </div>
            <div class="description">
              "Teachers and trainers are very professional and co-operative. They teach us about how to move ahead in
              your
              life and do your best. I had improved my communication skills, confidence level and technical skills. I
              recommend. "
            </div>
          </p-card>
        </div>
      </div>
      <div class="form-group">
        <div class="border-line top bottom"></div>
        <div class="rewiew-wrap">
          <div class="form-group">
            <p-carousel headerText="Reviews  ({{reviewList.length}})" [value]="reviewList" numVisible="4"
              *ngIf="reviewList.length>0">
              <ng-template let-item pTemplate="item">
                <p-card class="training-reviews">
                  <div>
                    <span class="fa fa-star clrBlue"
                      *ngFor="let dummy of ' '.repeat(item.rateOfSatisfied).split(''), let x = index"></span>
                    <span class="fa fa-star"
                      *ngFor="let dummy of ' '.repeat(5-item.rateOfSatisfied).split(''), let x = index"></span>
                  </div>
                  <div class="text-desc">
                    <p>{{item.likeAbout?item.likeAbout:''}}</p>
                  </div>
                  <h3 class="review-by">{{item.firstName}} {{item.lastName}}</h3>
                </p-card>
              </ng-template>
            </p-carousel>
            <p-carousel headerText="Reviews  ({{reviewList.length}})" [value]="noRecord" numVisible="1"
              *ngIf="reviewList.length==0">
              <ng-template let-item pTemplate="item">
                <div class="ui-grid ui-grid-responsive">
                  <p-card>
                    {{item.msg}}
                  </p-card>
                </div>
              </ng-template>
            </p-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-error *ngIf="entity==null && isError"></app-error>
