<div class="container">
  <h2 class="text-center">TRAINING</h2>
  <div class="row row-same-height profile-wrap">
    <div class="col-same-height col-sm-3">
      <div class="mat-accordion-plain content">
        <ul class="accordion-like-nav">
          <li>
            <a class="flex v-center justifyCenter" routerLinkActive="active" [routerLink]="['basic']"
              (click)="active=!active">
              Add Training
              <span class="glyphicon" [ngClass]="active?'glyphicon-minus':'glyphicon-plus'"></span>
            </a>
            <ul class="accordion-nav" [ngClass]="{active:active}">
              <li *ngFor="let link of routeLinks">
                <a [routerLink]="link.link" [routerLinkActive]="['activlink']">
                  {{link.label}}
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a [routerLink]="['/account']">
              <i class="glyphicon glyphicon-chevron-left"></i> Back
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-same-height col-sm-9 content-section">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
