<form>
  <table class="table table-bordered_bottom">
    <tr>
      <th>Category</th>
      <th></th>
      <th class="text-right">Amount</th>
    </tr>
    <tr>
      <td>Advertisement</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Display my training on main banner of home page?</td>
      <td>
          <p-inputSwitch></p-inputSwitch>
      </td>
      <td class="text-right">$0</td>
    </tr>
    <tr>
      <td>Display my training on top search card view of home page?</td>
      <td> <p-inputSwitch></p-inputSwitch></td>
      <td class="text-right">$0</td>
    </tr>
  </table>
</form>