<form autocomplete="off" novalidate>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <p-chips placeholder="Tags (Enter tags/ keyword related to training)" [formControl]="trainingTag"></p-chips>
        <p class="msgError text-danger" *ngIf="!trainingTag.value && submitted">
          Required Field.
        </p>
      </div>
    </div>
  </div>
  <div class="form-group button-group text-right">
    <button pButton type="button" label="Submit" class="ui-button-raised" (click)="handleSubmit()"></button>
    <button pButton type="button" label="Cancel" class="ui-button-raised ui-button-danger"></button>
  </div>
</form>