<div class="container">
  <div class="ticket-cart-grid">
    <h2 class="text-center">Ticket List</h2>
    <div *ngIf="selectedTickets && selectedTickets.length==0">
      <strong class="text-danger">Note: Please select ticket(s) for continue</strong>
    </div>
    <div class="form-group ticketWrap" *ngFor="let item of ticketList, let i=index">
      <div class="relative"
        [ngClass]="(item.endDate | date: 'dd-MM-yyyy HH:mm') < (currentDate | date: 'dd-MM-yyyy HH:mm') ?'':'disabled'">
        <div class="left circle"></div>
        <div class="right circle"></div>
        <p-card>
          <div class="radio-box" *ngIf="item.availableQty>0" [ngClass]="item.orderQty < item.minBooking ?'disabled':''">
            <i class="fa cursor-pointer" [ngClass]="item.isAdded==true?'fa-circle':'fa-circle-thin'"
              (click)="addItem(item)"></i>
          </div>
          <div class="order-status m0" [ngClass]="item.availableQty == 0 ?'text-expire':'text-success'">
            {{item.name}} ({{item.availableQty}})
          </div>
          <div class="inline-block ml-10">
            <p class="label-price border" [ngClass]="item.paymentCharge > 0 ?'':'free'">
              {{item.paymentCharge?'Rs. '+item.paymentCharge:'FREE'}}</p>
          </div>
          <div class="mb-5">
            <span *ngIf="item.minBooking">Min Booking : {{item.minBooking}}</span> <span *ngIf="item.maxBooking">, Max
              Booking : {{item.maxBooking}}</span>
            <div class="inline-block ml-10">
              <p class="hostedBy">
                Ticket Left : {{item.availableQty}}/{{item.qty}}
              </p>
            </div>
          </div>
          <div class="mb-5">
            <span>
              {{item.startDate | date: 'dd-MMM-yyyy'}} @ {{item.startDate | date: 'hh:mm a'}}
            </span>
            - to -
            <span>
              {{item.endDate | date: 'dd-MMM-yyyy'}} @ {{item.endDate | date: 'hh:mm a'}}
            </span>
          </div>
          <div class="mb-5">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon" (click)="handleQty(1, item)"
                [ngClass]="item.orderQty==0 || item.orderQty==item.minBooking?'disabled':''">-</span>
              <input type="text" pInputText placeholder="Qty" digitOnly (blur)="onBlurMethod(item)"
                [(ngModel)]="item.orderQty" max="{{item.availableQty}}" style="max-width:100px" />
              <span class="ui-inputgroup-addon" (click)="handleQty(2, item)"
                [ngClass]="(item.orderQty==item.maxBooking || item.orderQty==item.availableQty)?'disabled':''">+</span>
            </div>
          </div>
        </p-card>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label for="">Referral Code <i class="fa fa-info-circle" aria-hidden="true"
              pTooltip="Valid for Indian citizens" tooltipPosition="top"></i></label>
          <input readonly type="text" class="form-control" [(ngModel)]="referralCode" placeholder="Referral Code" />
        </div>
      </div>
    </div>
  </div>
  <div class="form-group clearfix button-group text-right">
    <button pButton type="button" (click)="backClicked()" label="Cancel"
      class="ui-button-raised ui-button-danger"></button>
    <button [ngClass]="selectedTickets.length==0?'disabled':''" pButton type="button" label="Submit"
      class="ui-button-raised" (click)="handleSubmit()"></button>
  </div>
</div>
