<section>
  <div class="container">
    <br>
    <h2 class="text-center"><strong>PORTFOLIO</strong></h2>
    <div class="row">
      <br>
      <div class="col-sm-4">
        <a [routerLink]="['/account/general']">
          <p-card header="PERSONAL" class="text-center"></p-card>
        </a>
      </div>
      <div class="col-sm-4">
        <a [routerLink]="['/account/trainer']">
          <p-card header="TRAINER" class="text-center"></p-card>
        </a>
      </div>
      <!-- <div class="col-sm-4">
        <a [routerLink]="['/account/organization']">
          <p-card header="ORGANIZATION" class="text-center"></p-card>
        </a>
      </div> -->
    </div>
  </div>
</section>