<form [formGroup]="formElement" autocomplete="off" novalidate>
  <div id="bodyStart" class="hidden">
    <p>Hey {{objData && objData.userName}},</p>
    <p>{{entity && entity.firstName}} {{entity && entity.lastName}} wrote regarding the
      training
      <a href="{{redirectUrl}}" target="_blank">
        {{objData && objData.name}}
      </a>
      <br />
    </p>
  </div>
  <div id="bodyEnd" class="hidden">
    <br />
    <div><strong>Sender Details</strong></div>
    <div>
      <strong>Name :</strong> <span>{{entity && entity.firstName}} {{entity && entity.lastName}}</span>
    </div>
    <div>
      <strong>Email :</strong> <span>{{entity && entity.email}}</span>
    </div>
    <div>
      <strong>Phone No :</strong> <span>{{entity && entity.phoneNumber}}</span>
    </div>
  </div>
  <div class="form-group">
    <label>Message <span class="required">*</span></label>
    <textarea pInputTextarea autoResize="autoResize" placeholder="Message" formControlName="body"></textarea>
    <p class="msgError text-danger"
      *ngIf="formControl.body.hasError('required') && (formControl.body.dirty || submitted)">
      Required Field.
    </p>
  </div>
  <div class="form-group button-group text-right">
    <button pButton type="button" label="Cancel" (click)="handleCancel()"
      class="ui-button-raised ui-button-danger"></button>
    <button pButton type="submit" label="Send" class="ui-button-raised" (click)="handleSubmit()"></button>
  </div>
</form>
