body {
  font: 14px/1.8571 Helvetica Neue;
  color: #777;
  background: #f7f7f7;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

ul,
li,
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

app-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.view-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

p + p {
  margin-top: 20px;
}

/* CAROUSEL */
.owl-theme .owl-controls {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.owl-theme .owl-controls .owl-page {
  display: inline-block;
}

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #eee;
  opacity: 0.5;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page:hover span {
  background-color: #eee;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.owl-theme .owl-controls .owl-buttons {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.owl-theme .owl-controls .owl-buttons div {
  display: inline-block;
  width: 30px;
  height: 40px;
  margin: 0 2px;
  font: normal normal 18px FontAwesome;
  color: #fff;
  vertical-align: middle;
  opacity: 0.5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
}

.owl-theme .owl-controls .owl-buttons div:hover {
  opacity: 1;
}

.owl-theme .owl-controls .owl-buttons div i {
  display: inline-block;
  font-style: normal;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: -40px;
}

.owl-theme .owl-controls .owl-buttons .owl-prev i:after {
  content: '\f0d9';
}

.owl-theme .owl-controls .owl-buttons .owl-next {
  right: -40px;
}

.owl-theme .owl-controls .owl-buttons .owl-next i:after {
  content: '\f0da';
}

.clrRed {
  color: #fe3e01;
}

/* ======= FOOTER ======= */
.footer {
  position: relative;
  padding: 20px 0;
  font-size: 13px;
  color: #fff;
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
}

.footer .section_title {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.footer .footer-list a {
  color: #fff;
  font-size: 16px;
}

.footer .footer-list a:hover {
  color: orange;
}

.footer .footer_bottom {
  border-top: 1px #fff solid;
  padding-top: 10px;
  margin-top: 10px;
}

.footer .footer_bottom .copyright {
  line-height: 30px;
}

.footer .footer_bottom .social-net {
  text-align: right;
}

.footer .footer_bottom .social-net li a {
  color: white;
  font-size: 16px;
  border: 1px white solid;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  text-align: center;
  display: block;
  line-height: 30px;
}

.footer .footer_bottom .social-net li a:hover {
  border-color: orange;
}

.m0 {
  margin: 0px !important;
}

.view-container {
  background: #fff;
}

.display-flex,
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.v-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clrWhite {
  color: white !important;
}

.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
  border-radius: 999px;
  left: 0;
}

.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
  border-radius: 999px;
  right: 0;
}

.mat-form-field {
  width: 100%;
}

.ml-20 {
  margin-left: 20px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-10 {
  margin-left: 10px;
}

.btn {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 0.84rem 2.14rem;
  font-size: 13px !important;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  border: 0;
  border-radius: 0.125rem;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
}

.btn.btn-fb {
  background-color: #3b5998 !important;
  color: #fff !important;
}

.btn.btn-gplus {
  background-color: #dd4b39 !important;
  color: #fff;
}

.btn.btn-li {
  background-color: #0082ca !important;
  color: #fff;
}

.btn .fa {
  margin-right: 10px;
}

.social-opton {
  display: inline-block;
  margin: 0px auto;
  width: 100%;
  max-width: 300px;
}

.social-opton button {
  width: 100% !important;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row-same-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  position: relative;
}

.row-same-height .col-same-height {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.row-same-height .col-same-height .content {
  width: 100%;
}

.img-responsive {
  width: 100%;
  max-width: 100%;
}

.flexJustifyCenter,
.justifyCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.flexVMiddle,
.colSpan.flexVMiddle {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.bgGray {
  background: #eee !important;
}

.bottom-padding {
  padding-bottom: 100px;
}

.section-padding {
  padding: 50px 0;
}

.bgWhite {
  background: white;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt20 {
  margin-top: 20px;
}

p-radiobutton ~ p-radiobutton,
.ui-button-raised ~ .ui-button-raised,
button ~ button,
.btn-action ~ .btn-action {
  margin-left: 15px;
}

.main-holder-section {
  border: 1px solid rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  background: #f7f7f7;
}

.main-holder-section .title-section {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 20px;
  color: rgba(0, 0, 0, 0.54);
  background: rgba(0, 0, 0, 0.03);
  font-weight: 500;
  font-size: 14px;
}

.main-holder-section .title-section .title-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #015a84;
}

.main-holder-section .content-section {
  padding: 30px;
  display: block;
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
}

textarea {
  overflow: hidden !important;
}

.p20,
.p30 {
  padding: 20px !important;
}

.title-text {
  color: #015a84 !important;
}

.mat-expansion-panel {
  margin-bottom: 16px !important;
}

.sticky-top-0 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white !important;
  z-index: 999;
}

.mat-snack-bar-container.mat-snack-bar-top.mat-snack-bar-center {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  position: absolute;
  top: 40%;
  left: 50%;
  margin-top: 100px;
  margin-left: -170px;
}

.mr-15 {
  margin-right: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.dashboard-content {
  max-height: 100vh;
  overflow: auto;
}

.vertical-menu .content {
  background-color: #eee;
}

.vertical-menu a {
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  cursor: pointer;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
  color: white;
}

.dropdown:hover .dropdown-content,
.dropdown:hover .dropdown-menu {
  display: block;
}

.logoClr {
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  border: 0;
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
  border-radius: 0;
}

.navbar-default .navbar-nav > li {
  margin-left: 2px;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-weight: 300;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #555;
  background-color: #e7e7e7;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}

.bg-gradient, .seprator1 {
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
}

.label-price {
  font-size: 11px;
}

.label-price.border {
  border: 1px #ddd solid;
  padding: 4px;
  border-radius: 4px;
  font-size: 11px;
}

.label-price.free {
  background: #28a745 !important;
  border: 1px transparent solid;
  color: #fff;
}

.mb30 {
  margin-bottom: 30px;
}

.rightRs,
.leftRs {
  background: transparent;
}

.rightRs:hover,
.leftRs:hover {
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
  color: white;
  font-weight: bold;
}

.btn-gradient {
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
  color: #fff;
}

.btn-gradient span:after {
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
  color: #fff;
}

.ml15 {
  margin-left: 15px;
}

.clrPurple {
  color: #7030a0 !important;
}

.pt30 {
  padding-top: 30px;
}

.pb30 {
  padding-bottom: 30px;
}

.pt20 {
  padding-top: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.top-bot-pad {
  padding: 4.375em 0;
}

.about-wrap {
  background: #f9f9f9;
}

.top-bot-pad-small {
  padding: 3.125em 0;
}

.tick-mark-list ul {
  margin-top: 3em;
  margin-bottom: 0;
}

.no-space {
  margin: 0;
}

.tick-mark-list ul li {
  font-size: 1em;
  text-align: left;
  font-weight: 500;
  padding-bottom: 15px;
  margin-left: 0;
}

.mapouter {
  position: relative;
  width: 100%;
  height: 300px;
}

.mapouter .gmap_canvas {
  overflow: hidden;
  position: relative;
  height: 100%;
  height: 300px;
}

.mapouter iframe#gmap_canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.textimonialBg {
  padding: 50px 0;
}

.textimonialBg blockquote {
  border-left: 0;
  position: relative;
  font-weight: 400;
  font: italic 24px/1.5 "PT Serif";
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 5px;
  padding: 0 50px;
}

.section-border {
  border: 1px #ddd solid;
}

.bgPurple, .tab-menu li a:hover, .tab-menu li a.active {
  background: rgba(118, 33, 199, 0.92);
}

.clrPurple {
  color: rgba(118, 33, 199, 0.92);
}

.bgBlue {
  background: rgba(92, 116, 241, 0.92);
}

.btn-border-blue {
  border: 1px rgba(92, 116, 241, 0.92) solid;
  color: #5c74f1;
}

.btn.traiing-id {
  min-width: 200px;
}

.clrBlue, .training-reviews .review-by, .verticaltoolbar .fa-pencil {
  color: rgba(92, 116, 241, 0.92);
}

.myPoint {
  text-align: center;
}

.myPoint li {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.55);
  padding: 4px;
  margin: 0 3px;
  -webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
          transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.myPoint li.active {
  background: #6b6b6b;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.padding-10 {
  padding: 10px;
}

.home-search {
  padding: 20px 0 10px 0;
}

.home-search .mat-form-field-label {
  color: white;
  font-size: 20px;
}

.home-search .mat-form-field {
  line-height: 42px;
}

.home-search input.mat-input-element {
  font-size: 22px;
}

.home-search .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.home-search .mat-form-field-empty.mat-form-field-label,
.home-search span.mat-checkbox-label {
  color: white;
  font-size: 24px;
}

.width_100,
.ui-inputtext,
body .ui-dropdown,
.ui-calendar,
.ui-multiselect {
  width: 100% !important;
}

.mat-accordion-plain {
  -webkit-box-shadow: 0 3px 1px -2px rgba(92, 116, 241, 0.92), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(92, 116, 241, 0.92), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mat-accordion-plain .mat-expansion-panel {
  margin: 0px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.mat-accordion-plain .mat-expansion-panel-header {
  height: 48px !important;
}

.mat-accordion-plain .mat-expansion-panel-header:hover, .mat-accordion-plain .mat-expansion-panel-header.mat-expanded {
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%) !important;
  height: 48px !important;
}

.mat-accordion-plain .accordion-nav {
  opacity: 0;
  height: 0;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  background: rgba(92, 116, 241, 0.5);
  overflow: hidden;
}

.mat-accordion-plain .accordion-nav li {
  padding: 5px 0;
  display: block;
}

.mat-accordion-plain .accordion-nav li a {
  display: block;
  color: #444;
}

.mat-accordion-plain .accordion-nav li a.active {
  color: #fff;
}

.mat-accordion-plain .accordion-nav.active {
  opacity: 1;
  height: auto;
}

.profile-wrap {
  margin-bottom: 20px;
  min-height: 400px;
}

.profile-wrap .content-section {
  -webkit-box-shadow: 0 3px 1px -2px rgba(92, 116, 241, 0.92), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(92, 116, 241, 0.92), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding-top: 30px;
  padding-bottom: 30px;
}

.ck-content.ck-editor__editable {
  min-height: 150px;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 10px auto 30px;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 19px;
  z-index: 1;
  top: 13px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit .custom-label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #3efc78;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-weight: normal;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit .upload-image {
  background: #3efc78;
}

.avatar-upload .avatar-edit .remove-image {
  background: #E91E63;
}

.avatar-upload .avatar-edit .custom-label:hover {
  opacity: 1;
}

.avatar-upload .avatar-edit .custom-label:after {
  position: absolute;
  text-align: center;
  margin: auto;
  top: 8px;
  right: 0;
  left: 2px;
  width: 18px;
}

.avatar-upload .avatar-edit .upload-image:after {
  content: url("/assets/edit.svg");
}

.avatar-upload .avatar-edit .remove-image:after {
  content: url("/assets/close.svg");
  left: 0px !important;
}

.avatar-upload .avatar-preview {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  border: 12px solid #fff;
  -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
}

.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.input_fileupload--hidden {
  display: none !important;
}

.iframeWrap {
  width: 100%;
  height: 300px;
  position: relative;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.iframeWrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.accordion-like-nav > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: #000;
  padding: 6px 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion-like-nav > li > a.active {
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%) !important;
  color: #fff;
}

.accordion-like-nav > li .accordion-nav {
  color: #000;
  padding: 0 24px;
}

.accordion-like-nav > li .accordion-nav li a {
  color: #000;
}

.image-container {
  border: 1px #ddd dotted;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

.image-container img {
  max-height: 100%;
}

.form-group {
  margin-bottom: 25px;
}

.form-group,
.pos-relative {
  position: relative;
}

.urlBox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.urlBox .fixed-input {
  border: 1px #a6a6a6 solid;
  background-color: #eaeaea;
  color: #848484;
  padding: 0.429em;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.urlBox .ui-inputtext {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

.table-bordered_bottom th,
.table-bordered_bottom td {
  border-bottom: 1px #ddd solid;
  padding: 10px;
}

p-footer .ui-button ~ .ui-button {
  margin-left: 5px;
}

.inline-block {
  display: inline-block;
}

.flex_c_c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loaderSpinner {
  position: fixed;
  padding: 0px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9998;
  background: #000;
  opacity: 0.6;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  margin: auto;
  width: 100%;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  left: 48%;
  top: 47%;
}

.spinner {
  position: fixed;
  padding: 0px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9998;
  background: #000;
  opacity: 0.6;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.center {
  margin: auto;
  width: 100%;
}

.loading-text {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  color: #FFF;
  font-family: sans-serif;
  background: transparent;
  text-align: center;
  padding-top: 33%;
}

.spinner img {
  position: fixed;
  padding: 0px;
  z-index: 10;
  background: #000;
  opacity: 0.6;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s linear;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.visible {
  visibility: visible;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  left: 48%;
  top: 47%;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 32px 32px;
          transform-origin: 32px 32px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.training_head, .training_banner {
  border-radius: 4px;
}

.training_banner img {
  vertical-align: top;
}

.display-profile-wrap {
  margin-top: 20px;
}

.display-profile-wrap .event-banner {
  height: 362px;
  text-align: center;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.175) !important;
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.175) !important;
  border-radius: .25rem !important;
  padding: 1px;
  border: 1px #ddd solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.display-profile-wrap .event-banner img {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  display: inline-block;
}

.event-detail-wrap {
  border: 1px transparent solid;
  margin-top: 30px;
}

.event-detail-wrap > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

.event-detail-wrap > ul > li {
  border: 1px redd solid;
  width: 33.3%;
}

.event-detail-wrap > ul .hostedBy {
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  padding: 0;
  margin: 10px 0;
}

.event-detail-wrap .heading {
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  margin: 0;
}

.event-detail-wrap .training {
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.event-detail-wrap hr {
  margin: 0;
  padding: 0;
}

.pd_tb_20 {
  padding: 10px 0;
}

.feed-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feed-row .item {
  display: inline-block;
  margin: 0 8px 0 0;
  text-align: center;
}

.joinbtn {
  font-weight: normal;
}

.seprator1 {
  width: 100%;
  height: 2px;
}

.userThumb img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 1px #ddd solid;
  display: inline-block;
}

.userThumb h3 {
  font-size: 13px;
  font-weight: 700;
}

.border-line {
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
  height: 2px;
}

.border-line.top {
  margin-bottom: 20px;
}

.border-line.bottom {
  margin-top: 20px;
}

.card-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-inner .month {
  font-weight: bold;
  color: red;
}

.card-inner .card-desc {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 10px;
}

hr {
  margin: 5px 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}

textarea.ui-inputtext {
  min-height: 80px;
}

.userThumbWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.userThumbWrap .thumb {
  width: 100px;
  height: 100px;
}

.userThumbWrap .thumb img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.userThumbWrap .thumb.trainer {
  margin-top: 24px;
  width: 120px;
  height: 120px;
}

.userThumbWrap .thumb.trainer img {
  border-radius: 10px;
}

.userThumbWrap .text-desc {
  padding-left: 20px;
}

.training-reviews .ui-card {
  padding-bottom: 20px;
  max-height: 300px;
}

.training-reviews .description {
  margin-top: 20px;
}

.training-reviews .review-by {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 15px;
  text-align: right;
}

.header_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.trainingActions .item,
.trainingActions .fa {
  font-size: 16px;
}

.trainingActions .item.round {
  font-size: 16px;
  border: 1px purple solid;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  text-align: center;
  display: block;
  line-height: 30px;
}

.ml15 {
  margin-left: 15px;
}

.tab-menu {
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #c8c8c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  border-left: 0;
  border-right: 0;
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
}

.tab-menu li a {
  padding: 0.714em 30px;
  display: block;
  color: #fff;
  font-size: 16px;
}

.disabled {
  pointer-events: none;
  opacity: .4;
}

.no-cursor {
  pointer-events: none;
}

.msgError {
  font-size: 13px;
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: -1.2px;
}

.confirmMsg {
  font-size: 16px;
  font-weight: 700;
}

.subMsg {
  font-size: 14px;
  font-weight: 500;
}

.tableCustomFooter {
  font-weight: bold;
  font-size: 13px;
  padding: 5px;
}

.cuppa-dropdown {
  background: #ffffff;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.cuppa-dropdown .selected-list .c-btn {
  font-size: 14px;
  min-height: 37px !important;
  color: #333333 !important;
}

.relative {
  position: relative;
}

.ticketWrap {
  overflow: hidden;
  padding: 0 2px;
}

.ticketWrap .ui-card {
  border: 1px #ddd dotted;
  padding: 0 40px !important;
}

.ticketWrap .ui-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.ticketWrap .circle {
  border: 1px #ddd dotted;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  background: white;
}

.ticketWrap .left {
  left: 0px;
  margin: -25px 0 0 -25px;
}

.ticketWrap .right {
  right: 0px;
  margin: -25px -25px 0 0;
}

.searchBtn {
  border: 0px !important;
  outline: none !important;
}

.ui-carousel .ui-carousel-dropdown,
.ui-carousel .ui-carousel-mobiledropdown {
  display: none !important;
}

.banner_no_header .ui-carousel-header {
  display: none !important;
}

.no-border .ui-carousel-item,
.no-border .ui-carousel .ui-carousel-viewport {
  border: 0px !important;
}

.home_banner img {
  max-height: 362px;
}

.home_banner .ui-carousel-items li img {
  height: 350px;
}

.home_banner .ui-carousel .ui-carousel-header {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5) !important;
  text-align: center;
  border: 0px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.home_banner .ui-carousel-header-title {
  display: none;
}

.home_banner .ui-carousel-page-links {
  float: none;
  display: inline-block;
  margin-top: 0px !important;
}

.form-box {
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.02);
  background-color: #ffffff;
  padding: 60px 100px;
  margin-top: 65px;
  position: relative;
}

.form-box h4 {
  color: #232f3a;
  font-size: 23px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 20px;
}

.form-box .sub-title {
  color: #285482;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-bottom: 20px;
}

.verticaltoolbar {
  position: fixed;
  top: 100px;
  right: 15px;
}

.verticaltoolbar .inner {
  border: 1px rgba(92, 116, 241, 0.92) solid;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.verticaltoolbar .fa-pencil {
  font-size: 22px;
  cursor: pointer;
}

.error-wrap-alt {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
}

.error-wrap-alt h1 {
  font-size: 15px;
}

.error-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
}

.c-remove.clear-all {
  display: none !important;
}

.required {
  display: inline-block;
  color: #fe3e01;
  font-size: 12px;
}

.mb-5 {
  margin-bottom: 5px;
}

.radio-box {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-right: 15px;
}

.radio-box .fa {
  font-size: 30px;
}

.ticket-cart-grid,
.order-detail-wrap {
  margin-top: 30px;
}

.order-status {
  font-size: 20px;
  color: white;
  display: inline-block;
  margin-left: 15px;
}

.order-status.normal {
  margin-left: 0;
  color: black;
}

.order-status.success {
  background: #28a745 !important;
}

.order-status.open {
  background: #ffc107 !important;
}

.order-status.expire {
  background: red !important;
}

.form-group p {
  margin: 0px 0px 5px 0 !important;
  line-height: normal;
}

.font-big {
  font-size: 18px !important;
}

.font-bold {
  font-weight: bold !important;
}

.profile-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 0;
}

.profile-link .fa-user-circle {
  font-size: 30px;
  margin-right: 5px;
}

.profile-link .fa,
.profile-link .caret {
  color: white;
}

.navbar-brand {
  padding: 10px 15px;
  height: auto;
}

.navbar-header img {
  height: 45px;
  width: auto;
}

.navbar-right {
  margin-right: 0px !important;
  padding: 5px 0 !important;
}

.welcome-user {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
}

.menu-dropdown {
  max-width: 200px;
}

.mb10 {
  margin-bottom: 10px;
}

.ui-fileupload-choose input[type=file] {
  left: 0 !important;
  max-width: 100px !important;
  min-height: 0px;
  max-height: 30px !important;
}

.text-success {
  color: #28a745 !important;
}

.text-open {
  color: #ffc107 !important;
}

.text-expire {
  color: red !important;
}

.clr-red {
  color: red !important;
}

.hostedBy {
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  padding: 0;
  margin: 10px 0;
}

.close-icon {
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 10;
}

.card-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 180px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.card-image a {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.card-image a img {
  max-height: 100% !important;
  max-width: 100%;
  width: auto;
  height: 100%;
  vertical-align: bottom;
}

.block {
  display: block;
}

.ui-carousel .ui-carousel-dropdown,
.ui-carousel .ui-carousel-mobiledropdown {
  color: black !important;
}

.ui-carousel .ui-carousel-dropdown,
.ui-carousel .ui-carousel-mobiledropdown {
  color: black !important;
}

.profile-dp {
  width: 80px;
  height: 80px;
  display: inline-block;
}

.profile-dp img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.profile-pic-wap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.profile-pic-wap .upload-control {
  width: 100%;
}

.profile-img-wap {
  padding-top: 15px;
  padding-bottom: 15px;
}

.mr-10 {
  margin-right: 10px;
}

.dp-img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.review-by {
  font-size: 14px;
  font-weight: 600;
}

.pi-times:before {
  color: #fff;
}

.no-records {
  font-size: 14px;
}

.ui-carousel .ui-carousel-viewport .ui-carousel-items {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
}

.ui-carousel .ui-carousel-viewport .ui-carousel-items .row-same-height {
  height: 100%;
  position: relative;
}

.payment-table {
  padding-top: 20px;
}

.payment-table table {
  width: 100%;
}

.payment-table table tr td,
.payment-table table tr th {
  max-width: 33%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  color: #000;
}

.payment-table table tr td:last-child,
.payment-table table tr th:last-child {
  padding-right: 0;
}

.payment-table table tr th {
  font-weight: bold;
}

.payment-table table tr td.value-cell .form-control {
  max-width: 80px;
  width: 80px;
}

table {
  width: 100%;
}

.card-image img {
  o-transition: transform .7s ease-out !important;
  -webkit-transition: transform .7s ease-out !important;
  -webkit-transition: -webkit-transform .7s ease-out !important;
  transition: -webkit-transform .7s ease-out !important;
  transition: transform .7s ease-out !important;
  transition: transform .7s ease-out, -webkit-transform .7s ease-out !important;
  -webkit-transform-style: initial;
  transform-style: flat;
}

.card-image:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.breakup-table td {
  padding: 5px;
  border-bottom: 1px #ccc dotted;
}

.order-summary-grid {
  padding: 20px;
}

.order-summary-grid table td {
  color: #000;
}

.payment-error {
  margin-top: 30px;
}

.payment-error .bottom-container,
.payment-error .top-container {
  border: 1px #ccc solid;
  padding: 35px;
  margin: 20px 0;
}

.nav-heading {
  display: block;
  font-size: 18px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  border-bottom: 1px rgba(92, 116, 241, 0.92) solid;
}

.font20 {
  font-size: 20px;
}

body .submit,
body .ui-dialog .ui-dialog-titlebar {
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
  color: #fff;
}

body .ui-carousel .ui-carousel-header {
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
  color: #fff;
  border-bottom: 0;
}

body .ui-carousel .ui-carousel-button,
body .ui-carousel .ui-carousel-page-links .ui-carousel-page-link {
  color: #fff;
}

body .ui-button {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

body .ui-carousel-viewport .ui-card {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .ui-datepicker:not(.ui-datepicker-inline) {
  z-index: 99999999 !important;
}

body .ui-datepicker table td {
  padding: 0px !important;
}

body .ui-datepicker table td.ui-datepicker-today > a.ui-state-active,
body .ui-datepicker table td.ui-datepicker-today > span.ui-state-active {
  background-color: transparent;
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%) !important;
}

body .ui-datepicker table td > a.ui-state-active,
body .ui-datepicker table td > span.ui-state-active {
  background-color: transparent;
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%) !important;
}

.filter-select-all.ng-star-inserted {
  display: none;
}

.wordBreak {
  word-break: break-all;
}

.tab-bar {
  margin-bottom: 20px;
}

body .tab-bar .ui-tabmenu .ui-tabmenu-nav {
  padding-bottom: 5px;
}

.section-heading {
  position: relative;
}

.section-heading .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.downloadBtn {
  margin-top: 20px;
}

.padding-20 {
  padding: 20px;
}
/*# sourceMappingURL=styles.css.map */