body {
  font: 14px/1.8571 Helvetica Neue;
  color: #777;
  background: #f7f7f7;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
  text-decoration: none !important;
}

ul,
li,
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

app-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.view-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

p + p {
  margin-top: 20px;
}

/* CAROUSEL */
.owl-theme .owl-controls {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.owl-theme .owl-controls .owl-page {
  display: inline-block;
}

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #eee;
  opacity: 0.5;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page:hover span {
  background-color: #eee;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.owl-theme .owl-controls .owl-buttons {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.owl-theme .owl-controls .owl-buttons div {
  display: inline-block;
  width: 30px;
  height: 40px;
  margin: 0 2px;
  font: normal normal 18px FontAwesome;
  color: #fff;
  vertical-align: middle;
  opacity: 0.5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
}

.owl-theme .owl-controls .owl-buttons div:hover {
  opacity: 1;
}

.owl-theme .owl-controls .owl-buttons div i {
  display: inline-block;
  font-style: normal;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: -40px;
}

.owl-theme .owl-controls .owl-buttons .owl-prev i:after {
  content: '\f0d9';
}

.owl-theme .owl-controls .owl-buttons .owl-next {
  right: -40px;
}

.owl-theme .owl-controls .owl-buttons .owl-next i:after {
  content: '\f0da';
}

.clrRed {
  color: #fe3e01;
}

/* ======= FOOTER ======= */
.footer {
  position: relative;
  padding: 20px 0;
  font-size: 13px;
  color: #fff;
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
}

.footer .section_title {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.footer .footer-list a {
  color: #fff;
  font-size: 16px;
}

.footer .footer-list a:hover {
  color: orange;
}

.footer .footer_bottom {
  border-top: 1px #fff solid;
  padding-top: 10px;
  margin-top: 10px;
}

.footer .footer_bottom .copyright {
  line-height: 30px;
}

.footer .footer_bottom .social-net {
  text-align: right;
}

.footer .footer_bottom .social-net li a {
  color: white;
  font-size: 16px;
  border: 1px white solid;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  text-align: center;
  display: block;
  line-height: 30px;
}

.footer .footer_bottom .social-net li a:hover {
  border-color: orange;
}

.m0 {
  margin: 0px !important;
}

.view-container {
  background: #fff;
}

.display-flex,
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.v-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clrWhite {
  color: white !important;
}

.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
  border-radius: 999px;
  left: 0;
}

.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
  border-radius: 999px;
  right: 0;
}

.mat-form-field {
  width: 100%;
}

.ml-20 {
  margin-left: 20px;
}

.btn {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 0.84rem 2.14rem;
  font-size: 13px !important;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  border: 0;
  border-radius: 0.125rem;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  color: inherit;
}

.btn.btn-fb {
  background-color: #3b5998 !important;
  color: #fff !important;
}

.btn.btn-gplus {
  background-color: #dd4b39 !important;
  color: #fff;
}

.btn.btn-li {
  background-color: #0082ca !important;
  color: #fff;
}

.btn .fa {
  margin-right: 10px;
}

.social-opton {
  display: inline-block;
  margin: 0px auto;
  width: 100%;
  max-width: 300px;
}

.social-opton button {
  width: 100% !important;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row-same-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  position: relative;
}

.row-same-height .col-same-height {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.row-same-height .col-same-height .content {
  width: 100%;
}

.img-responsive {
  width: 100%;
  max-width: 100%;
}

.flexJustifyCenter,
.justifyCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.flexVMiddle,
.colSpan.flexVMiddle {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.bgGray {
  background: #eee !important;
}

.bottom-padding {
  padding-bottom: 100px;
}

.section-padding {
  padding: 50px 0;
}

.bgWhite {
  background: white;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt20 {
  margin-top: 20px;
}

.mat-radio-button ~ .mat-radio-button,
.mat-raised-button ~ .mat-raised-button,
p-radiobutton ~ p-radiobutton {
  margin-left: 15px;
}

.main-holder-section {
  border: 1px solid rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  background: #f7f7f7;
}

.main-holder-section .title-section {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 20px;
  color: rgba(0, 0, 0, 0.54);
  background: rgba(0, 0, 0, 0.03);
  font-weight: 500;
  font-size: 14px;
}

.main-holder-section .title-section .title-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #015a84;
}

.main-holder-section .content-section {
  padding: 30px;
  display: block;
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
}

textarea {
  overflow: hidden !important;
}

.p20,
.p30 {
  padding: 20px !important;
}

.title-text {
  color: #015a84 !important;
}

.mat-expansion-panel {
  margin-bottom: 16px !important;
}

.sticky-top-0 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white !important;
  z-index: 999;
}

.mat-snack-bar-container.mat-snack-bar-top.mat-snack-bar-center {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  position: absolute;
  top: 40%;
  left: 50%;
  margin-top: 100px;
  margin-left: -170px;
}

.mr-15 {
  margin-right: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.dashboard-content {
  max-height: 100vh;
  overflow: auto;
}

.vertical-menu .content {
  background-color: #eee;
}

.vertical-menu a {
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  cursor: pointer;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
  color: white;
}

.dropdown:hover .dropdown-content,
.dropdown:hover .dropdown-menu {
  display: block;
}

.logoClr {
  color: #7030a0;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  border: 0;
  border-radius: 0;
  padding: 10px 0;
}

.navbar-default .navbar-nav > li > a {
  color: #7030a0;
  font-weight: 300;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}

.bg-gradient {
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
}

.label-price {
  border: 1px #ddd solid;
  padding: 4px;
  border-radius: 4px;
}

.mb30 {
  margin-bottom: 30px;
}

.rightRs,
.leftRs {
  background: transparent;
}

.rightRs:hover,
.leftRs:hover {
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
  color: white;
  font-weight: bold;
}

.btn-gradient {
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
  color: #fff;
}

.btn-gradient span:after {
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
  color: #fff;
}

.ml15 {
  margin-left: 15px;
}

.clrPurple {
  color: #7030a0;
}

.pt30 {
  padding-top: 30px;
}

.pb30 {
  padding-bottom: 30px;
}

.pt20 {
  padding-top: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.top-bot-pad {
  padding: 4.375em 0;
}

.about-wrap {
  background: #f9f9f9;
}

.top-bot-pad-small {
  padding: 3.125em 0;
}

.tick-mark-list ul {
  margin-top: 3em;
  margin-bottom: 0;
}

.no-space {
  margin: 0;
}

.tick-mark-list ul li {
  font-size: 1em;
  text-align: left;
  font-weight: 500;
  padding-bottom: 15px;
  margin-left: 0;
}

.mapouter {
  position: relative;
  width: 100%;
  height: 300px;
}

.mapouter .gmap_canvas {
  overflow: hidden;
  position: relative;
  height: 100%;
  height: 300px;
}

.mapouter iframe#gmap_canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.textimonialBg {
  padding: 50px 0;
}

.textimonialBg blockquote {
  border-left: 0;
  position: relative;
  font-weight: 400;
  font: italic 24px/1.5 "PT Serif";
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 5px;
  padding: 0 50px;
}

.section-border {
  border: 1px #ddd solid;
}

.bgPurple {
  background: rgba(118, 33, 199, 0.92);
}

.bgBlue {
  background: rgba(92, 116, 241, 0.92);
}

.myPoint {
  text-align: center;
}

.myPoint li {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.55);
  padding: 4px;
  margin: 0 3px;
  -webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
          transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.myPoint li.active {
  background: #6b6b6b;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.padding-10 {
  padding: 10px;
}

.home-banner {
  padding: 10px 0 0 0;
  background: white;
}

.mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
  margin-top: 2px !important;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label,
.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  font-size: 18px;
  font-weight: 500;
  color: #5c74f1;
}

.home-search {
  padding: 20px 0 10px 0;
}

.home-search .mat-form-field-label {
  color: white;
  font-size: 20px;
}

.home-search .mat-form-field {
  line-height: 42px;
}

.home-search input.mat-input-element {
  font-size: 22px;
}

.home-search .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.home-search .mat-form-field-empty.mat-form-field-label,
.home-search span.mat-checkbox-label {
  color: white;
  font-size: 24px;
}

.width_100,
.ui-inputtext,
body .ui-dropdown,
.ui-calendar,
.ui-multiselect {
  width: 100% !important;
}

.mat-accordion-plain {
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mat-accordion-plain .mat-expansion-panel {
  margin: 0px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.mat-accordion-plain .mat-expansion-panel-header {
  height: 48px !important;
}

.mat-accordion-plain .mat-expansion-panel-header:hover, .mat-accordion-plain .mat-expansion-panel-header.mat-expanded {
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%) !important;
  height: 48px !important;
}

.mat-accordion-plain .accordion-nav {
  opacity: 0;
  height: 0;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  background: rgba(92, 116, 241, 0.5);
  overflow: hidden;
}

.mat-accordion-plain .accordion-nav li {
  padding: 5px 0;
  display: block;
}

.mat-accordion-plain .accordion-nav li a {
  display: block;
  color: #444;
}

.mat-accordion-plain .accordion-nav li a.active {
  color: #fff;
}

.mat-accordion-plain .accordion-nav.active {
  opacity: 1;
  height: auto;
}

.profile-wrap {
  margin-bottom: 20px;
  min-height: 400px;
}

.profile-wrap .content-section {
  -webkit-box-shadow: 0 3px 1px -2px rgba(92, 116, 241, 0.92), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(92, 116, 241, 0.92), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding-top: 30px;
  padding-bottom: 30px;
}

.ck-content.ck-editor__editable {
  min-height: 150px;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 10px auto 30px;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 19px;
  z-index: 1;
  top: 13px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit .custom-label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #3efc78;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-weight: normal;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit .upload-image {
  background: #3efc78;
}

.avatar-upload .avatar-edit .remove-image {
  background: #E91E63;
}

.avatar-upload .avatar-edit .custom-label:hover {
  opacity: 1;
}

.avatar-upload .avatar-edit .custom-label:after {
  position: absolute;
  text-align: center;
  margin: auto;
  top: 8px;
  right: 0;
  left: 2px;
  width: 18px;
}

.avatar-upload .avatar-edit .upload-image:after {
  content: url("/assets/edit.svg");
}

.avatar-upload .avatar-edit .remove-image:after {
  content: url("/assets/close.svg");
  left: 0px !important;
}

.avatar-upload .avatar-preview {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  border: 12px solid #fff;
  -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
}

.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.input_fileupload--hidden {
  display: none !important;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  margin-bottom: 5px !important;
}

.iframeWrap {
  width: 100%;
  height: 300px;
  position: relative;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.iframeWrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.accordion-like-nav > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: #000;
  padding: 6px 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion-like-nav > li > a.active {
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%) !important;
  color: #fff;
}

.accordion-like-nav > li .accordion-nav {
  color: #000;
  padding: 0 24px;
}

.accordion-like-nav > li .accordion-nav li a {
  color: #000;
}

.image-container {
  border: 1px #ddd dotted;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

.image-container img {
  max-height: 100%;
}

body .submit {
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
  color: #fff;
}

.msgError {
  font-size: 11px;
  color: red;
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: -1.2px;
}

.form-group,
.pos-relative {
  position: relative;
}

.button-group .ui-button-raised ~ .ui-button-raised {
  margin-left: 15px;
}

.urlBox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.urlBox .fixed-input {
  border: 1px #a6a6a6 solid;
  background-color: #eaeaea;
  color: #848484;
  padding: 0.429em;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.urlBox .ui-inputtext {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

.table-bordered_bottom th,
.table-bordered_bottom td {
  border-bottom: 1px #ddd solid;
  padding: 10px;
}

p-footer .ui-button ~ .ui-button {
  margin-left: 5px;
}

.inline-block {
  display: inline-block;
}

.flex_c_c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loaderSpinner {
  position: fixed;
  padding: 0px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9998;
  background: #000;
  opacity: 0.6;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  margin: auto;
  width: 100%;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  left: 48%;
  top: 47%;
}

.spinner {
  position: fixed;
  padding: 0px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9998;
  background: #000;
  opacity: 0.6;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.center {
  margin: auto;
  width: 100%;
}

.loading-text {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  color: #FFF;
  font-family: sans-serif;
  background: transparent;
  text-align: center;
  padding-top: 33%;
}

.spinner img {
  position: fixed;
  padding: 0px;
  z-index: 10;
  background: #000;
  opacity: 0.6;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s linear;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.visible {
  visibility: visible;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  left: 48%;
  top: 47%;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 32px 32px;
          transform-origin: 32px 32px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=styles.css.map */