body {
  font: 14px/1.8571 Helvetica Neue;
  color: #777;
  background: #f7f7f7;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none !important;
  text-decoration: none !important;
}
ul,
li,
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
.view-container {
  flex: 1;
}
p+p {
  margin-top: 20px;
}
/* CAROUSEL */
.owl-theme .owl-controls {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  .owl-page {
    display: inline-block;
    span {
      display: block;
      width: 8px;
      height: 8px;
      margin: 0 5px;
      border-radius: 50%;
      background-color: #eee;
      opacity: 0.5;
    }
    &.active span,
    &:hover span {
      background-color: #eee;
      opacity: 1;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
  }
  .owl-buttons {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    div {
      display: inline-block;
      width: 30px;
      height: 40px;
      margin: 0 2px;
      font: normal normal 18px FontAwesome;
      color: #fff;
      vertical-align: middle;
      opacity: 0.5;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      text-align: center;
      &:hover {
        opacity: 1;
      }
      i {
        display: inline-block;
        font-style: normal;
      }
    }
    .owl-prev {
      left: -40px;
      i:after {
        content: '\f0d9';
      }
    }
    .owl-next {
      right: -40px;
      i:after {
        content: '\f0da';
      }
    }
  }
}
.clrRed {
  color: #fe3e01;
}
/* ======= FOOTER ======= */
.footer {
  position: relative;
  padding: 20px 0;
  font-size: 13px;
  color: #fff;
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
  .section_title {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
  }
  .footer-list {
    a {
      color: #fff;
      font-size: 16px;
      &:hover {
        color: orange
      }
    }
  }
  .footer_bottom {
    border-top: 1px #fff solid;
    padding-top: 10px;
    margin-top: 10px;
    .copyright {
      line-height: 30px
    }
    .social-net {
      text-align: right;
      li {
        a {
          color: white;
          font-size: 16px;
          border: 1px white solid;
          border-radius: 8px;
          width: 30px;
          height: 30px;
          text-align: center;
          display: block;
          line-height: 30px;
          &:hover {
            border-color: orange;
          }
        }
      }
    }
  }
}
.m0 {
  margin: 0px !important;
}
.view-container {
  background: #fff;
}
.display-flex,
.flex {
  display: flex;
}
.v-center {
  align-items: center;
}
.clrWhite {
  color: white !important;
}
.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
  border-radius: 999px;
  left: 0;
}
.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
  border-radius: 999px;
  right: 0;
}
.mat-form-field {
  width: 100%;
}
.ml-20 {
  margin-left: 20px;
}
.btn {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 0.84rem 2.14rem;
  font-size: 13px !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: 0;
  border-radius: 0.125rem;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  color: inherit;
  &.btn-fb {
    background-color: #3b5998 !important;
    color: #fff !important;
  }
  &.btn-gplus {
    background-color: #dd4b39 !important;
    color: #fff;
  }
  &.btn-li {
    background-color: #0082ca !important;
    color: #fff;
  }
  .fa {
    margin-right: 10px;
  }
}
.social-opton {
  display: inline-block;
  margin: 0px auto;
  width: 100%;
  max-width: 300px;
  button {
    width: 100% !important;
  }
}
.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.row-same-height {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  position: relative;
  .col-same-height {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    .content {
      width: 100%;
    }
  }
}
.img-responsive {
  width: 100%;
  max-width: 100%;
}
.flexJustifyCenter,
.justifyCenter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
.flexVMiddle,
.colSpan.flexVMiddle {
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
.bgGray {
  background: #eee !important;
}
.bottom-padding {
  padding-bottom: 100px;
}
.section-padding {
  padding: 50px 0;
}
.bgWhite {
  background: white;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb20 {
  margin-bottom: 20px;
}
.mt20 {
  margin-top: 20px;
}
//
.mat-radio-button~.mat-radio-button,
.mat-raised-button~.mat-raised-button, p-radiobutton~p-radiobutton {
  margin-left: 15px;
}
.main-holder-section {
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  background: #f7f7f7;
  .title-section {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px 20px;
    color: rgba(0, 0, 0, 0.54);
    background: rgba(0, 0, 0, 0.03);
    font-weight: 500;
    font-size: 14px;
    .title-text {
      flex: 1 1 auto;
      color: #015a84;
    }
  }
  .content-section {
    padding: 30px;
    display: block;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
  }
}
textarea {
  overflow: hidden !important;
}
.p20,
.p30 {
  padding: 20px !important;
}
.title-text {
  color: #015a84 !important;
}
.mat-expansion-panel {
  margin-bottom: 16px !important;
}
.sticky-top-0 {
  position: sticky;
  top: 0;
  background: white !important;
  z-index: 999;
}
.mat-snack-bar-container.mat-snack-bar-top.mat-snack-bar-center {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  position: absolute;
  top: 40%;
  left: 50%;
  margin-top: 100px;
  margin-left: -170px;
}
.mr-15 {
  margin-right: 15px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.dashboard-content {
  max-height: 100vh;
  overflow: auto;
}
.vertical-menu {
  .content {
    background-color: #eee;
  }
  a {
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      background-color: #ccc;
    }
    &.active {
      background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
      color: white;
    }
  }
}
.dropdown:hover {
  .dropdown-content,
  .dropdown-menu {
    display: block;
  }
}
.logoClr {
  color: #7030a0;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar {
  margin-bottom: 0;
}
.navbar-default {
  border: 0;
  // background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
  // padding:20px 0
  border-radius: 0;
  padding: 10px 0;
}
.navbar-default .navbar-nav>li>a {
  color: #7030a0;
  font-weight: 300;
}
.invisible {
  visibility: hidden;
}
.hidden {
  display: none;
}
.bg-gradient {
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
}
.label-price {
  border: 1px #ddd solid;
  padding: 4px;
  border-radius: 4px;
}
.mb30 {
  margin-bottom: 30px;
}
.rightRs,
.leftRs {
  background: transparent;
}
.rightRs:hover,
.leftRs:hover {
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
  color: white;
  font-weight: bold;
}
.btn-gradient {
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
  color: #fff;
  span:after {
    background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
    color: #fff;
  }
}
.ml15 {
  margin-left: 15px;
}
.clrPurple {
  color: #7030a0;
}
.pt30 {
  padding-top: 30px;
}
.pb30 {
  padding-bottom: 30px;
}
.pt20 {
  padding-top: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.top-bot-pad {
  padding: 4.375em 0;
}
.about-wrap {
  background: #f9f9f9;
}
.top-bot-pad-small {
  padding: 3.125em 0;
}
.tick-mark-list ul {
  margin-top: 3em;
  margin-bottom: 0;
}
.no-space {
  margin: 0;
}
.tick-mark-list ul li {
  font-size: 1em;
  text-align: left;
  font-weight: 500;
  padding-bottom: 15px;
  margin-left: 0;
}
.mapouter {
  position: relative;
  width: 100%;
  height: 300px;
  .gmap_canvas {
    overflow: hidden;
    position: relative;
    height: 100%;
    height: 300px;
  }
  iframe#gmap_canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.textimonialBg {
  padding: 50px 0;
  blockquote {
    border-left: 0;
    position: relative;
    font-weight: 400;
    font: italic 24px/1.5 "PT Serif";
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding: 0 50px;
  }
}
.section-border {
  border: 1px #ddd solid;
}
.bgPurple {
  background: rgba(118, 33, 199, 0.92);
}
.bgBlue {
  background: rgba(92, 116, 241, 0.92);
}
.myPoint {
  text-align: center;
  li {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.55);
    padding: 4px;
    margin: 0 3px;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: 0.4s;
    &.active {
      background: #6b6b6b;
      transform: scale(1.2);
    }
  }
}
.padding-10 {
  padding: 10px
}
.home-banner {
  padding: 10px 0 0 0;
  background: white;
}
.mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
  margin-top: 2px !important;
}
.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label,
.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  font-size: 18px;
  font-weight: 500;
  color: rgba(92, 116, 241, 1)
}
.home-search {
  padding: 20px 0 10px 0;
  .mat-form-field-label {
    color: white;
    font-size: 20px;
  }
  .mat-form-field {
    line-height: 42px;
  }
  input.mat-input-element {
    font-size: 22px;
  }
  .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
  .mat-form-field-empty.mat-form-field-label,
  span.mat-checkbox-label {
    color: white;
    font-size: 24px;
  }
}
.width_100,
.ui-inputtext,
body .ui-dropdown, .ui-calendar {
  width: 100% !important
}
.mat-accordion-plain {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  .mat-expansion-panel {
    margin: 0px !important;
    box-shadow: none !important;
  }
  .mat-expansion-panel-header {
    height: 48px !important;
    &:hover,
    &.mat-expanded {
      background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%) !important;
      height: 48px !important;
    }
  }
  .accordion-nav {
    opacity: 0;
    height: 0;
    transition: .3s all ease;
    background: rgba(92, 116, 241, 0.5);
    overflow: hidden;
    li {
      padding: 5px 0;
      display: block;
      a {
        display: block;
        color: #444;
        &.active {
          color: #fff
        }
      }
    }
    &.active {
      opacity: 1;
      height: auto;
    }
  }
}
.profile-wrap {
  margin-bottom: 20px;
  min-height: 400px;
  .content-section {
    box-shadow: 0 3px 1px -2px rgba(92, 116, 241, 0.92), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.ck-content.ck-editor__editable {
  min-height: 150px;
}
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 10px auto 30px;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 19px;
  z-index: 1;
  top: 13px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit .custom-label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #3efc78;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit .upload-image {
  background: #3efc78;
}
.avatar-upload .avatar-edit .remove-image {
  background: #E91E63;
}
.avatar-upload .avatar-edit .custom-label:hover {
  opacity: 1;
}
.avatar-upload .avatar-edit .custom-label:after {
  position: absolute;
  text-align: center;
  margin: auto;
  top: 8px;
  right: 0;
  left: 2px;
  width: 18px;
}
.avatar-upload .avatar-edit .upload-image:after {
  content: url('/assets/edit.svg');
}
.avatar-upload .avatar-edit .remove-image:after {
  content: url('/assets/close.svg');
  left: 0px !important;
}
.avatar-upload .avatar-preview {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  border: 12px solid #fff;
  -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  box-shadow: 0 0 45px rgba(0, 0, 0, .2);
}
.avatar-upload .avatar-preview>div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.input_fileupload--hidden {
  display: none !important;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  margin-bottom: 5px !important;
}
.iframeWrap {
  width: 100%;
  height: 300px;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important
  }
}
.accordion-like-nav {
  >li {
    >a {
      display: flex;
      width: 100%;
      color: #000;
      padding: 6px 24px;
      align-items: center;
      &.active {
        background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%) !important;
        color: #fff
      }
    }
    .accordion-nav {
      color: #000;
      padding: 0 24px;
      li {
        a {
          color: #000
        }
      }
    }
  }
}
.image-container {
  border: 1px #ddd dotted;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  img {
    max-height: 100%
  }
}
body .submit {
  background-image: linear-gradient(40deg, rgba(92, 116, 241, 0.92) 0%, rgba(118, 33, 199, 0.92) 100%);
  color: #fff
}
.msgError {
  font-size: 11px;
  color: red;
  position: absolute;
  ;
  left: 0;
  top: 100%;
  margin-top: -1.2px;
}
.form-group,
.pos-relative {
  position: relative;
}
.button-group {
  .ui-button-raised~.ui-button-raised {
    margin-left: 15px;
  }
}
.urlBox {
  align-items: center;
  .fixed-input {
    border: 1px #a6a6a6 solid;
    background-color: #eaeaea;
    color: #848484;
    padding: 0.429em;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .ui-inputtext {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
  }
}
.table-bordered_bottom{
  th, td{
    border-bottom:1px #ddd solid;
    padding:10px;
  }
}
p-footer{
  .ui-button~.ui-button{
    margin-left: 5px;
  }
}