<form [formGroup]="profileForm" autocomplete="off" novalidate>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field>
          <input matInput placeholder="First Name" formControlName="firstName" [errorStateMatcher]="matcher">
          <mat-error *ngIf="formControl.firstName.hasError('required')">
            Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="lastName" [errorStateMatcher]="matcher">
          <mat-error *ngIf="formControl.lastName.hasError('required')">
            Required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher">
          <mat-error *ngIf="formControl.email.hasError('email') && !formControl.email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="formControl.email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <input matInput placeholder="Mobile Number" formControlName="phoneNumber" [errorStateMatcher]="matcher">
          <mat-error *ngIf="formControl.phoneNumber.hasError('required')">
            Mobile number is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <mat-radio-group formControlName="gender">
          <mat-radio-button value="1">M</mat-radio-button>
          <mat-radio-button value="2">F</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <input matInput [matDatepicker]="dobDateCtrl" placeholder="Date of Birth" formControlName="dateOfBirth"
            [errorStateMatcher]="matcher">
          <mat-datepicker-toggle matSuffix [for]="dobDateCtrl"></mat-datepicker-toggle>
          <mat-datepicker #dobDateCtrl></mat-datepicker>
          <mat-error *ngIf="formControl.dateOfBirth.hasError('required')">
            Required
          </mat-error>
        </mat-form-field>

      </div>
    </div>
    <div class="row">
      <div formGroupName="address">
        <div class="col-sm-6">
          <div>
            <mat-form-field>
              <input matInput placeholder="address1" formControlName="address1">
            </mat-form-field>

          </div>
        </div>
        <div class="col-sm-6">
          <div>
            <mat-form-field>
              <input matInput placeholder="address2" formControlName="address2">
            </mat-form-field>

          </div>
        </div>
        <div class="col-sm-6">
          <div>
            <mat-form-field>
              <input matInput placeholder="address3" formControlName="address3">
            </mat-form-field>

          </div>
        </div>
        <div class="col-sm-6">
          <div>
            <mat-form-field>
              <input matInput placeholder="zipCode" formControlName="zipCode">
            </mat-form-field>

          </div>
        </div>
        <div class="col-sm-6">
          <div>
            <mat-form-field>
              <mat-label>city</mat-label>
              <mat-select formControlName="city">
                <mat-option value="">Select</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </div>
        <div class="col-sm-6">
          <div>
            <mat-form-field>
              <mat-label>country</mat-label>
              <mat-select formControlName="countryId">
                <mat-option value="">Select</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-6">
          <div>
            <mat-form-field>
              <mat-label>State</mat-label>
              <mat-select formControlName="stateId">
                <mat-option value="">Select</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <mat-checkbox formControlName="isInterAffiliatePartner">
          <mat-label>Interested for Affiliate Partner?</mat-label>
        </mat-checkbox>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <input matInput placeholder="Referral ID" formControlName="referralID">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-right">
        <button type="submit" mat-raised-button color="primary" (click)="handleSubmit()">Save</button>
        <button mat-raised-button color="warn">Cancel</button>
      </div>
    </div>
  </div>
</form>