<ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="carouselItems" class="home-banner">
  <div *nguCarouselDef="let item;" class="item">
    <div class="text-center">
      <img src="../../../assets/images/banner/home/{{item.name}}">
    </div>
  </div>
  <button NguCarouselNext class="rightRs"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
  <button NguCarouselPrev class="leftRs"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
</ngu-carousel>