<section class="section-padding clearfix homeBanner">
  <div class="container">
    <!-- (onPage)="setPage($event)" -->
    <p-carousel headerText="Promotion" [value]="carouselItems" *ngIf="carouselItems && carouselItems.length>0">
      <ng-template let-item pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <app-training-card [item]="item"></app-training-card>
        </div>
      </ng-template>
    </p-carousel>
    <p-carousel headerText="Promotion ({{carouselItems.length}})" [value]="noRecord" numVisible="1"
      *ngIf="carouselItems && carouselItems.length==0">
      <ng-template let-item pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <p-card>
            {{item.msg}}
          </p-card>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</section>