<form [formGroup]="formElement" autocomplete="off" novalidate>
  <div class="form-group">
    <label>
      Header Image (1890X168px) {{header}}
    </label>
    <p-fileUpload name="file" multiple="false" accept="image/*" maxFileSize="1000000" customUpload="true"
      (uploadHandler)="myUploader($event, 'header')">
      <ng-template pTemplate="content">
        <ul *ngIf="prevState.headerUrl && header">
          <li>
            <img src="{{prevState.headerUrl}}" onError="this.src='../../../../assets/images/banner/home/placeholder.png';" alt="" class="img-responsive">
          </li>
        </ul>
      </ng-template>
    </p-fileUpload>
    <p class="msgError text-danger" *ngIf="formControl.header.value=='' && submitted">
      Required Field.
    </p>
  </div>
  <div class="form-group">
    <label>
      Card Image (1890X620px))
    </label>
    <p-fileUpload name="file" multiple="false" accept="image/*" maxFileSize="1000000" customUpload="true"
      (uploadHandler)="myUploader($event, 'card')">
      <ng-template pTemplate="content">
        <ul *ngIf="prevState.cardUrl && card">
          <li>
            <img src="{{prevState.cardUrl}}" onError="this.src='../../../../assets/images/banner/home/placeholder.png';" alt="" class="img-responsive">
          </li>
        </ul>
      </ng-template>
    </p-fileUpload>
    <p class="msgError text-danger" *ngIf="formControl.card.value=='' && submitted">
      Required Field.
    </p>
  </div>
  <div class="form-group button-group text-right">
    <button pButton type="button" label="Cancel" class="ui-button-raised ui-button-danger"
      (click)="handleCancel()"></button>
    <button pButton type="submit" label="Submit" class="ui-button-raised" (click)="handleSubmit()"></button>
  </div>
</form>